= title t('s_note_archive_month_title', w: @user.name, m: chinese_month(params[:month]))
= hidden_field_tag :view, params[:view]
- @clazz = 'notes'
= render 'archives/month_list'
= render 'shared/note/list'