.bundle
log/*.log
tmp/
.sass-cache/
nbproject/
public/photos
public/uploads
config/routes.rb
config/database.yml
config/environment.rb
config/weibo.yml
config/initializers/session_store.rb
config/initializers/carrierwave.rb
Gemfile
Gemfile.lock
vendor/plugins/mobile-fu/
