<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>HI <%= @user.name %>，我是我的故事站长张健。mystory有不少新功能，邀请你去测试。</h1>
    <p>
       作为网站的第一批会员，我很感谢你对原创文学类网站的支持。近期变化有如下几个方面：<br/>
       1 日记作品能同步到新浪和腾讯微博，并在QZONE中生成一条更新动态。您的新浪微博信息可以展示在个人主页。支持微博和QQ登录<br/>
       2 首页风格更友好，加了小说、诗歌、散文、论坛、照片等功能。<br/>
       3 个人主页中加了私信、草稿和设置等功能。<br/>
    </p>
    <%= render 'user_mailer/shared/sales_info' %>
  </body>
</html>