<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %>好哦，为激发你的创作力，在我的故事网站上连续21天，每天写一篇日记，即可获得价值106元图书</h1>
    <p>
        可爱的我的故事会员，有个好事请你一起参与。
        在我的故事网站 <a href='http://mystory.cc/' target='_blank'>http://mystory.cc/</a>上连续21天每天写一篇日记，即可获得价值106元的图书:《FPA性格色彩入门:跟乐嘉色眼识人》和《富爸爸穷爸爸(财商教育版)(全球销量超3000万的理财经典) 》及任意一本你想要的书（价格35元以内）！<br/>
        <span style='font-weight:bold;font-size:1.5em;color:red;'>为什么我要发起这项写作挑战？</span><br/>
        <span style='color:#0000FF;'> 1 坚持写作可以提高写作才能，而任何事情，坚持21天，就可以形成习惯</span><br/>
        <span style='color:#0000FF;'> 2 发掘一些优质会员和文章，提升网站质量和人气</span><br/>

        <span style='font-weight:bold;'> 具体要求：</span><br/>
        1 每篇都是新鲜原创，字数达到500<br/>
        2 帐号绑定新浪微博和QQ（在开始发第一篇日记时就绑定）<br/>
        3 最先完成挑战的50名会员<br/>

        图书包括：<br/>
        <span style='font-weight:bold;'> FPA性格色彩入门:跟乐嘉色眼识人 [平装]  39元</span><br/>
        <span style='color:green;'> 张健：这是我读过的心理学书中最好的。把人基本上是看透了。你可以从书中找到你自己，发现自己的优点和不足。</span><br/>
        介绍：《FPA性格色彩入门:跟乐嘉色眼识人》是一本实用的工具书，乐嘉把人分成红、蓝、黄、绿四种颜色，每种颜色代表每种性格，然后进一步进行剖析。本书包括三个部分，第一部分是总论，第二部分是分则。总论部分主要从一个作者潜心研究的测试题入手，快速的让自己判断属于哪种颜色。同时解答了性格色彩与人们常见的内向还是外向，理性还是感性的区别。分则部分则从情感、生活、工作、处事、以及自我提升方面说明红、蓝、黄、绿的优势与过当。同时对一些人生观和价值观的取向给出了背后的性格分析。第三部分作者首次解答性格色彩的应用中所遇到的问题，以及个案的精彩点评。帮助我们找到真正的我自己。<br/>
        <div style='text-align:center'><img src='http://ec4.images-amazon.com/images/I/51TYdLFZV9L._SS400_.jpg'/></div><br/>
        <span style='font-weight:bold;'> 富爸爸穷爸爸(财商教育版)(全球销量超3000万的理财经典) [平装] ~ 罗伯特·清崎(作者) 32元</span><br/>
        <span style='color:green;'> 张健：点破金钱的奥秘，点破了我们为什么整日忙碌，却始终无法摆脱金钱的困扰——原来我们从出生所受的金钱教育往往是错误的。</span><br/>
        介绍：《富爸爸穷爸爸(财商教育版)》内容简介：清崎有两个爸爸:“穷爸爸”是他的亲生父亲，一个高学历的教育官员;“富爸爸”是他好朋友的父亲，一个高中没毕业却善于投资理财的企业家。清崎遵从“穷爸爸”为他设计的人生道路:上大学，服兵役，参加越战，走过了平凡的人生初期。直到1977年，清崎亲眼目睹一生辛劳的“穷爸爸”失了业，“富爸爸”则成了夏威夷最富有的人之一。清崎毅然追寻“富爸爸”的脚步，踏入商界，从此登上了致富快车。<br/>
        清崎以亲身经历的财富故事展示了“穷爸爸”和“富爸爸”截然不同的金钱观和财富观:穷人为钱工作，富人让钱为自己工作！<br/>
        <div style='text-align:center'><img src='http://r.book118.com/files/article/image/7/7898/7898s.jpg'/></div><br/>
        <span style='font-weight:bold;'> 任意一本你想要的书（价格35元以内）</span><br/>
        挑战开始于2012年8月18日21点28分。<br/>
    </p>
    <%= render 'user_mailer/shared/sales_info' %>
  </body>
</html>