<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>你好，<%= @user.name %>，我是我的故事站长张健。mystory欢迎你！~</h1>
    <p>
       作为网站的第一批会员，我很感谢你对原创文学类网站的支持。<br/>
       你可以用"邮箱/帐号/域名"这三种方式登录www.mystory.cc，我建议您再把微博和QQ登录绑定下，这样日记作品就能同步到新浪和腾讯微博，并在QZONE中生成一条更新动态。<br/>
       您的新浪微博信息还可以展示在个人主页。<br/>
    </p>
    <%= render 'user_mailer/shared/sales_info' %>
  </body>
</html>