%a(href=admin_options_path)
  =t('edit')
  =t('param_options')
%br
%a(href=admin_menus_path)
  =t('edit')
  =t('_menu')
%br
%a(href=admin_link_path)
  =t('edit')
  =t('home_links')
%br
%a(href=admin_poem_path)
  /edit_admin_portion_path(portion)'admin/portion'
  =t('edit')
  =t('portion.default_title')