=javascript_include_tag "javascripts/ckeditor/ckeditor.js"
=form_for [:admin, @news] do |f|
  =error_msg @news
  .field
    =f.label t('title')
    %br
    =f.text_field :title
  .field
    =f.label t('content')
    %br
    =f.text_area :content
    =ckeditor_js "news_content"
  .field
    =f.label t('_category')
    =collection_select :news, :category_id, Category.all, :id, :name
  .field
    =f.label t('release_date')
    %br
    =date_select :news, :created_at
  .actions
    =f.submit