=link_to t('news.add'),new_admin_news_path
%br
%table
  %tr
    %th=t('title')
    %th=t('_category')
    %th=t('release_date')
    %th
    %th
    %th
  -@news.each do |news|
    %tr
      %td
        =link_to news.title,news
      %td
        =news.category.name
        /=link_to news.category.name,news_index_path
      /TODO this should be write in a helper
      %td=(news.created_at+8.hour).strftime '%Y.%m.%d'
      %td=link_to t(:edit), edit_admin_news_path(news)
      %td=link_to t(:delete), admin_news_path(news), confirm:t('confirm.delete'), method: :delete