= title t('post_title', p: @post.title, b: @post.board.name, s: site_name)
- if flash[:notice]
  #notice= flash[:notice]
span.txt-bold style="font-size: 1.2em;"
  = @post.title
br
= style_it @post.content
br
- user = @post.user
| #{link_to user.name, site(user)}&nbsp;&nbsp;
span.pl
  = @post.created_at.strftime t'no_year'
br
= render 'm/postcomments/comments'