=form_for [:admin, @line] do |f|
  =error_msg @line
  .field
    =f.label t('title')
    %br
    =f.text_field :title  
  .field
    =f.label t('content')
    1
    =f.text_field :content1
    /TODO label has a bug that it change URL to url
    =f.label t('line.url')
    =f.text_field :url1
  .field
    =f.label t('content')
    2
    =f.text_field :content2
    =f.label t('line.url')
    =f.text_field :url2
  .field
    =f.label t('content')
    3
    =f.text_field :content3
    =f.label t('line.url')
    =f.text_field :url3
  =t('line.memo')
  .actions
    =f.submit