coffee:
  this.showLogin = ->
    $('.login').css 'display', ''
    $('.newuser').css 'display', 'none'
  this.showNewuser = ->
    $('.newuser').css 'display', ''
    $('.login').css 'display', 'none'