<!--[if (IE 6)|(IE 7)]>
<h2 class="red">
   亲，您正在使用IE6/7浏览器访问本站，某些链接无法点击、图片错位。微软公司已不再修改IE6的BUG，并号召用户不使用IE6<br/>
   请您升级浏览器，下载地址:
   <a href='http://firefox.com.cn/' target="_blank">FireFox</a>,
   <a href='http://www.google.cn/chrome' target="_blank">Chrome</a>,
   <a href='http://www.microsoft.com/windows/downloads/ie/getitnow.mspx' target="_blank">IE8</a>.
   国产浏览器内核是对Chrome和IE，有<a href='http://ie.sogou.com/' target="_blank">搜狗高速浏览器</a>和<a href='http://chrome.360.cn/' target="_blank">360极速浏览器</a>等
</h2>
<![endif]-->