<div id="emotions" style="position: absolute; z-index: 9000;">
  <div>
    <div class="m-editor-emo-holder" id="miniEditorEmoHolder">
      <div id="miniEditorEmoList" class="emo-holder">
        <ul id="emoList0" class="emo-list"></ul>
      </div>
    </div>
  </div>
</div>