<div class="Head">
  <div class="logo selectLogo">
    <i class="png"></i>
  </div>
  <p class="topP rr">
    日记 自传 作品 影集，尽情分享自己的故事&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%=  link_to "日记、作品可同步到微博。支持微博、QQ登录", site_url + login_path, title: "点出进入登录页面", target: '_blank'%>
    <%=  link_to t('mobile_version'), m(site_url), title: "手机访问本站时，将自动定位为手机版，不必特意访问http://m.#{request.domain}/", target: '_blank'%>
  </p>
</div>