<div class="Head">
  <div class="logo selectLogo">
    <i class="png"></i>
  </div>
  <p class="topP rr"><%= t_t'desc' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  link_to t('mobile_version'), m(site_url), title: "手机访问本站时，将自动定位为手机版，不必特意访问http://m.#{request.domain}/", target: '_blank'%></p>
</div>