<div class="SKY" id="t-sky">
  <!--S 托盘(inc)-->
  <div class="Tray" id="crjs_headbar">
    <p class="Png"></p>
    <p class="usetheme noDis" id="changeSameTheme">
      <i class="p"  title="换装" data-ca="newt_theme_changeSkin">
        <i class="png"></i>
      </i>
    </p>
    <div class="tray">
      <%#*<div class="logo">%>
        <%#*<h2>%>
          <%#*<i class="png"></i>%>
          <%#*<a title="来搜狐微博看我" href="http://t.sohu.com/home" target="_self">搜狐微博</a>%>
        <%#*</h2>%>
      <%#*</div>%>
      <div class="jumper">
        <i class="txt blur">
          <input type="text" value="搜微博、搜人..." tabindex="1">
          <a href="javascript:void(1)" title="搜索"></a></i>
        <b class="options noDis">
          <b class="option">
            <q>含有<em>搜狐</em>的微博</q>
            <q>含有<em>搜狐</em>的微博</q>
            <q class="hover">含有<em>搜狐</em>的微博</q><q>含有搜狐的人</q>
          </b>
        </b>
      </div>

      <div class="nav nav2">
        <ul class="navG">
          <li class="navL">
            <a class="nava" href="http://www.sohu.com" target="_blank" data-ca="newt_nav_sohu">
              <b>搜狐首页</b>
            </a>
          </li>
          <li class="navL crJs_nav_pub">
            <a class="nava" href="javascript:void(0);" data-ca="newt_nav_root"><b>广场</b><i class="sign signArr2"><q>&#9671;</q><q class="k2">&#9670;</q></i></a>
            <div class="dropDown dropNav noDis crjs_drop">
              <div class="dropD">
                <i class="sign signArr">
                  <q>&#9671;</q><q class="k2">&#9670;</q>
                  <q class="k3">&#9670;</q></i>
                <p class="dropL">
                  <a href="http://t.sohu.com/pub" target="_self" data-ca="newt_nav_pub">广场首页</a>
                  <a href="http://t.sohu.com/hot/at.jsp" target="_self" data-ca="newt_nav_hotAt">热门转发</a>
                  <a href="http://t.sohu.com/live" target="_self" data-ca="newt_nav_live">正在发生</a>
                  <a href="http://t.sohu.com/hot/reply.jsp" target="_self" data-ca="newt_nav_hotReply">最热评论</a>
                  <a href="http://t.sohu.com/star" target="_self" data-ca="newt_nav_star">名　　博</a>
                  <a href="http://t.sohu.com/top" target="_self" data-ca="newt_nav_top">排 行 榜</a>
                  <!--<a href="http://t.sohu.com/guide/discover" target="_self" data-ca="newt_nav_discover">微 精 选<i class="i iNew"></i></a>-->
                  <a href="http://t.sohu.com/event" target="_self" data-ca="newt_nav_event">微 活 动</a>
                  <a href="http://t.sohu.com/talk" target="_self" data-ca="newt_nav_talk">微 访 谈</a>
                  <a href="http://t.sohu.com/live/list" target="_self" data-ca="newt_nav_live_list">微 直 播</a>
                  <a href="http://t.sohu.com/g" target="_self" data-ca="newt_nav_g"><b>微　　群</b></a>
                  <a data-ca="newt_nav_bar" target="_self" href="http://t.sohu.com/bar">互&nbsp;&nbsp;粉&nbsp;吧</a>
                </p>
              </div>
            </div>
          </li>
          <li class="navL">
            <a class="nava" href="http://t.sohu.com/jingxuan" target="_self" data-ca="newt_nav_jingxuan"><b>微精选</b><i class="i iNew2"></i></a>

          </li>
          <li class="navL">

            <a class="nava" href="http://t.sohu.com/mphone/mtype" target="_self" data-ca="newt_nav_wap"><b>手机</b></a>

          </li>
        </ul>
      </div>

      <div class="nav">
        <ul class="navG">
          <li class="navL">
            <a class="nava" target="_self" href="http://t.sohu.com/home" data-tab-context="main" data-ca="newt_nav_home"><b>我的首页</b></a>
          </li>
          <li class="navL">
            <a class="nava" target="_self" href="http://t.sohu.com/profile" data-tab-context="profile" data-ca="newt_nav_profile"><b>档案</b></a></li>
          <li class="navL">
            <a class="nava" target="_self" href="http://t.sohu.com/inbox" data-tab-context="inbox" data-ca="newt_nav_inbox">
              <b class="remind crjs_number noVis"><i class="i"></i><em></em></b>
              <b>私信</b>
            </a>
          </li>
          <li class="navL">
            <a class="nava" href="javascript:void(0);" data-ca="newt_nav_notice">
              <b class="remind crjs_number noVis"><i class="i"></i><em></em></b>
              <b>通知</b>
            </a>
            <div class="dropDown reminder noDis">
              <div class="dropD">
                <i class="sign signArr"><q>◇</q><q class="k2">◆</q><q class="k3">◆</q></i>
                <div class="dropC">
                  <p class="js_replyme"><a target="_self" href="http://t.sohu.com/comments" ><b>0</b>条新评论</a></p>
                  <p class="js_ated"><a target="_self" href="http://t.sohu.com/mentions"><b>0</b>条<q>@</q>提到我的微博</a></p>
                  <p class="js_fed"><a target="_self" href="http://t.sohu.com/followers"><b>0</b>个新粉丝</a></p>
                  <p class="js_notice"><a target="_self" href="http://t.sohu.com/noticeBox"><b>0</b>个系统消息</a></p>
                  <!-- 暂时挂起, 所以此处暂时注释掉 -->
                </div>
              </div>
            </div>
          </li>
          <li id="nav_settings" class="navL">
            <a class="nava" href="javascript:void(0);" data-ca="newt_nav_root">
              <b>设置</b>
              <i class="sign signArr2"><q>&#9671;</q><q class="k2">&#9670;</q></i>
            </a>
            <div class="dropDown dropNav noDis crjs_drop">
              <div class="dropD">
                <i class="sign signArr">
                  <q>&#9671;</q><q class="k2">&#9670;</q><q class="k3">&#9670;</q>
                </i>
                <p class="dropL">
                  <a href="http://t.sohu.com/settings/privacy" target="_self" data-ca="newt_nav_privacy">隐私</a>
                  <a id="_toolbar_theme" data-view-url="/settings/theme" href="javascript:void(0)" onclick='kola("newt.settings.Theme",function(Theme){Theme.navTheme(event);});' data-view-container="#themePanel" data-ca="newt_nav_theme">模板</a>
                  <a href="http://t.sohu.com/settings"  target="_self" data-tab-context="t-setting" data-ca="newt_nav_settings">资料</a>
                  <span class="c">
                    <a href="javascript:kola('newt.component.Login','tw.login.logout()');" data-ca="newt_nav_logout">退出</a>
                  </span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--S 通知提醒-->
      <!--include file="reminder.shtml"-->
      <!--E 通知提醒-->

    </div>
  </div>
  <!--E 托盘(inc)-->
  <div id="themePanel">
  </div>



  <!--S 托盘(inc)-->

  <!--E 托盘(inc)-->

  <!--S 浮层-->
  <div class="Lay" id="t-lay">

    <!--S 回顶部-->

    <p class="gotop" style="display:none" id="gotoTop"><a title="回顶部"
                                                          href="javascript:void(0);"
                                                          data-ca="newt_common_backToTop"><i class="ii"></i></a></p>
    <script type="text/javascript">
      kola("newt.cr.crGoTop", function() {
        $("p.gotop").show().crGoTop();
      });
    </script>

    <!--E 回顶部-->
    <!--S 浮云-->
    <div class="Cloud">
      <div class="cloud js-newt-left-init-emptybreaker"></div>
    </div>
    <!--E 浮云-->
  </div>
  <!--E 浮层-->

</div>