- cache "portal_body" do
  .ap.stream
    .twis id='timeline'
      span.b
        a href=photos_path target='_blank'
          = t'_photo'
        | &nbsp;|&nbsp;
        a href=sub_site('bbs') target='_blank'
          = t'_forum'
        | &nbsp;|&nbsp;
        a href=users_top_path target='_blank'
          = t'_user'
        span style='float:right'
          a href=root_path
            | 最后回复
          | &nbsp;|&nbsp;
          a href=hotest_path
            | 最热文章
          | &nbsp;|&nbsp;
          a href=latest_path
            | 最新文章
      .b.red
        | 公告：
        a href=sub_site('zhangjian')+"/notes/117" target='_blank'
          | 连续21天，每天写一篇日记，即可获得价值106元的图书三本!
      - all = portal_body_query
      - all.each do |item|
        - user = item.user
        - n = photos_count item.content
        - if n>0
          - t_class = "twi twiHasPic"
        - else
          - t_class = "twi"
        div id="#{item.id}_con" class=t_class
          - if n>0
            .twiM
              p.pics id="prev_{item.id}_0"
                = thumb_here item
          .twiT
            p class="avt "
              = user_pic user
            b.b class="pd jsNickBox_176181993" data-wrap="false"
              b class="nm"
                = link_to user.name, site(user), target: '_blank'
              | ：
              = s_link_to item
          .twiC
            p.wid
              b
            p.ugc
              == auto_emotion(text_it_pure(item.content)[0..98])
              | ......#{s_link_name(t('whole_article'), item)}
            .twiB
              b.tm.mi
                - cc = item.comments_count
                -if cc>0
                  span style='color:red'
                    = s_link_name "评论(#{cc})", item
                | &nbsp;&nbsp;&nbsp;
                = fresh_time item.created_at