<div style="visibility: visible; top: 48px; left: 455px; width: 500px; display: none;" class="dui-dialog  dui-dialog-rec" id="dui-dialog0">
  <iframe class="dui-dialog-iframe" style="width: 516px; height: 303px;"></iframe>
  <span class="dui-dialog-shd" style="width: 500px; height: 287px;"></span>
  <div class="dui-dialog-content">
    <div class="hd"><h3>选取照片 或 <a href="<%= albums_path %>" target="_blank">去影集上传照片</a></h3></div>
    <div class="bd" style="height: auto; overflow: visible; position: relative; padding: 10px 0pt 0pt; line-height: 0; font-size: 0px; background: url(&quot;/images/loading.gif&quot;) no-repeat scroll 48% 48% transparent;">
      <iframe width="100%" scrolling="auto" height="230" frameborder="0" allowtransparency="true" src="<%= my_site + "/select_albums"%>" id="i_s_a">
      </iframe>
    </div>
    <a class="dui-dialog-close" href="javascript:;" onclick="hiddenAlbums('<%= my_site + "/select_albums"%>')">X</a>
  </div>
</div>