<% unless @user.weiboid.nil? %>
  <iframe width="230" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=230&height=24&uid=<%= @user.weiboid %>&style=3&btn=light&dpc=1"></iframe>
  <a href="http://weibo.com/u/<%= @user.weiboid %>" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/<%= @user.weiboid %>/1/1.png"/></a>
<% end %>