<% unless @user.weiboid.nil? %>
  <a href="http://weibo.com/u/<%= @user.weiboid %>" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/<%= @user.weiboid %>/1/1.png"/></a>
<% end %>