shared/_side_blog
- cache "side_blog_rblogs_#{@user.id}" do
  - rblogs = @user.r_blogs.where(id: @user.blogs.where(:is_draft => false).select('id')).limit(7).order('created_at DESC')
  - unless rblogs.blank?
    br
    h2
      = t('s_recommend', w: @user.name)
    - rblogs.each do |blog|
      = link_to raw(blog.title)[0..12], blog, title: blog.title.size>13 ? raw(blog.title) : nil
      br
shared/_portal_body
.b style='float:right'
  = will_paginate @portal_list

li.navL
            a.nava href=hotest_path
              b
                = t'most_comments_articles'
          li.navL
            a.nava href=photos_path, target: '_blank'
              b
                = t'_photo'
          li.navL
            a.nava href=sub_site('bbs'), target: '_blank'
              b
                = t'_forum'
          li.navL
            a.nava href=top_users_path, target: '_blank'
              b
                = t'_user'


        /'<div id="#{i['id']}" class="twi"><div class="twiT"><p class="avt "><a target="_blank" href="http://#{i.user['domain']}.mystory.cc"><img width="48" height="48" src="http://mystory.b0.upaiyun.com/images/fallback/thumb_default.jpg" alt="Thumb_default"></a></p><b data-wrap="false" class="b pd jsNickBox_176181993"><b class="nm"><a target="_blank" href="http://tkfkdgo.mystory2.cc:3000">乔小殒</a></b>：<a target="_blank" href="http://tkfkdgo.mystory2.cc:3000/notes/406">想写个故事3</a></b></div><div class="twiC"><p class="wid"><b></b></p><p class="ugc">让我打起精神，开始也D小姐的片段吧。好困。好累。 今天微博上发了条，关于给我一罐喝不完的红牛的，结果被红牛官方回复了，朋友各种说亮瞎了。 好吧。其实，我还有被感动到啊。不知道为什么。 我想说，最近压......<a target="_blank" href="http://tkfkdgo.mystory2.cc:3000/notes/406">全文</a></p><div class="twiB"><b class="tm mi"><span style="color:red"><a target="_blank" href="http://tkfkdgo.mystory2.cc:3000/notes/406#comments">评论(1)</a></span>&nbsp;&nbsp;&nbsp;09月24日</b></div></div></div>'
        /$('div.twi:last').after("aa#{i['title']}") for i in v
        /$('div.twi:last').after(v)