<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-CN">
  <head>
    <title>杂文_我的故事</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="5kpKsseexabAPaDC4EpsDoFqJyIi/lPeBbC2dZnMkgs=" name="csrf-token" />
    <link href="/assets/hu_base.css?body=1" media="screen" rel="stylesheet" type="text/css" />

    <link href="/assets/hu_portal.css?body=1" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/jquery.js?body=1" type="text/javascript"></script>
    <script src="/assets/photos.js?body=1" type="text/javascript"></script>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  </head>
  <body>
    <div class="SKY" id="t-sky">
      <div class="Tray" id="crjs_headbar">
        <p class="Png"></p>
        <div class="tray"><div class="jumper"><i class="txt blur"><input id="title" name="title" tabindex="1" type="text" /><a href="javascript:;" onclick="goSearch()" title="搜索"></a><script type="text/javascript">(function() {
          this.goSearch = function() {
            return window.location.href = "/s/blogs/" + document.getElementById('title').value;
          };
        }).call(this);
              </script></i></div><div class="nav nav2"><ul class="navG"><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080"><b>首页</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;1"><b>小说</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;2"><b>诗歌</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;3"><b>散文</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;4"><b>杂文</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;5"><b>故事</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;6"><b>日记</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;mystory2.cc:8080&#47;columns&#47;9"><b>读书</b></a></li></ul></div><div class="nav"><ul class="navG"><li class="navL"><a class="nava" href="http:&#47;&#47;zhangjian.mystory2.cc:8080&#47;like" style="color:#B7BABD !important" target="_blank"><b>动态</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;zhangjian.mystory2.cc:8080" style="color:#B7BABD !important" target="_blank"><b>张健</b></a></li><li class="navL"><a class="nava" href="http:&#47;&#47;zhangjian.mystory2.cc:8080&#47;admin" style="color:#B7BABD !important" target="_blank" title="管理我的帐号"><b>设置</b></a></li></ul></div></div></div></div>

    <div class="LAND" id="t-sys">
      <div class="land">
        <div class="Bgs"><p class="Bg1"></p><p class="Bg2"></p><p class="Bg3"></p></div>
        <div class="LANDBG">
          <div class="Head">
            <div class="logo selectLogo">
              <i class="png"></i>
            </div>
            <p class="topP rr">

              日记 自传 作品 影集，尽情分享自己的故事&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://mystory2.cc:8080/login" target="_blank" title="支持微博、QQ登录，点出进入登录页面">日记、作品可同步到微博</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://m.mystory2.cc:8080" target="_blank" title="手机访问本站时，将自动定位为手机版，不必特意访问http://m.mystory2.cc/">手机版</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
          </div>
          <div class="Bdy">

            <div class="Main">
              <div class="main">
                <div class="mainT"></div>
                <div class="mainC">
                  <div class="ap stream">
                    <div class="twis" id="timeline">
                      <span class="b">
                        <a href="&#47;photos" target="_blank">照片</a>&nbsp;|&nbsp;
                        <a href="http:&#47;&#47;bbs.mystory2.cc:8080" target="_blank">论坛</a>
                        &nbsp;|&nbsp;<a href="&#47;top_users" target="_blank">用户</a>
                        <span style="float:right"><a href="&#47;">最后回复</a>&nbsp;|&nbsp;
                          <a href="&#47;hotest">最热文章</a>&nbsp;|&nbsp;
                          <a href="&#47;latest">最新文章</a></span></span>
                      <div class="b red">公告：
                        <a href="http:&#47;&#47;zhangjian.mystory2.cc:8080&#47;notes&#47;117" target="_blank">连续21天，每天写一篇日记，即可获得价值106元的图书三本!</a></div>
                      <div class="twi" id="7712_con">
                        <div class="twiT">
                          <p class="avt ">
                            <a href="http:&#47;&#47;wyj1change.mystory2.cc:8080" target="_blank">
                              <img alt="Thumb_http_imgload1" src="http://mystorytest.b0.upaiyun.com/photos/user/avatar/154/thumb_http_imgload1.jpg" /></a></p>
                              <b class="b pd jsNickBox_176181993" data-wrap="false">
                                <b class="nm">
                                  <a href="http://wyj1change.mystory2.cc:8080" target="_blank">娟儿</a>
                                </b>：<a href="http://wyj1change.mystory2.cc:8080/blogs/7712" target="_blank">读《穆斯林的葬礼》</a>
                              </b>
                        </div>
                        <div class="twiC">
                          <p class="wid">
                            <b></b></p>
                          <p class="ugc">记得当时是拖着疲倦的身体，兼职回来直奔进了图书馆，急着想要把它看完，也该结束了，尽管心里已经做好了接受悲剧的准备，可依然含着泪，心痛着，忍着，忍着，把它看完了，本来无法理解，也不想理解，因为根本无法......<a href="http://wyj1change.mystory2.cc:8080/blogs/7712" target="_blank">全文</a>
                          </p>
                          <div class="twiB">
                            <b class="tm mi">
                              <span style="color:red">
                                <a href="http://wyj1change.mystory2.cc:8080/blogs/7712" target="_blank">评论(1)</a>
                              </span>
                              &nbsp;&nbsp;&nbsp;08月19日
                            </b>
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Aside">
              <div class="aside">
                <div class="ap">
                  <h4>
                    <span class="opt">
                      <a class="fuc js-next" href="&#47;columns&#47;1"><b>更多</b></a>
                    </span>
                    <em>小说</em>
                  </h4>
                  <ul class="lis">
                    <li class="c">
                      <a href="http://chengxiang.mystory2.cc:8080/blogs/10" target="_blank" title="作者：朱呈祥">轻云烟01</a>
                      <span class="red" title="评论数1">&nbsp;1</span>
                      <br />
                    </li>
                  </ul>
                </div>
                <div class="ap">
                  <h4>
                    <span class="opt">
                      <a class="fuc js-next" href="&#47;columns&#47;2"><b>更多</b></a>
                    </span>
                    <em>诗歌</em>
                  </h4>
                  <ul class="lis">
                    <li class="c">
                      <a href="http://zhangjian.mystory2.cc:8080/notes/134" target="_blank" title="作者：张健">ssdsdfsddfs</a>
                      <br />
                      <a href="http://zhangjian.mystory2.cc:8080/blogs/7737" target="_blank" title="作者：张健">ggsddsg</a>
                      <br />
                      <a href="http://leizs.mystory2.cc:8080/blogs/7714" target="_blank" title="作者：孟博文">记木之蒺藜   -----魔鬼的十四行诗</a>
                      <span class="red" title="评论数1">&nbsp;1</span><br /><a href="http://u1134.mystory2.cc:8080/blogs/7678" target="_blank" title="作者：冯志伟">至善</a><br /><a href="http://xieboyu.mystory2.cc:8080/blogs/31" target="_blank" title="作者：谢博宇">一张老照片</a>
                      <br />
                    </li>
                  </ul>
                </div>
          </div>
          <div class="Footer">
            <div class="footer">
              <div class="ap copr">
                <p class="t1">
                  <a href="http://zhangjian.mystory2.cc:8080/blogs/33" target="_blank">诚聘人才</a>&nbsp;-&nbsp;<a href="http://zhangjian.mystory2.cc:8080/categories/1" target="_blank">联系我们</a>&nbsp;-&nbsp;<a href="http://mystory2.cc:8080/help" target="_blank">帮助中心</a></p><p class="t2">Copyright&nbsp;<b class="copy">&copy;</b>2012 MyStory.cc All Rights Reserved.</p></div></div></div>
        </div>
      </div>
    </div>

  </body>
</html>