/!TODO tags and search need to add here. hot blog and hot note hot pic etc
/- puts "portal session[:domain] = #{session[:domain].inspect} "
= title t_t'seotitle'
= metadesc t_t'metadesc'
= render 'portal_top'
= render 'portal_article'