=render 'shared/head'
=t('book_phone')
40088888888
/(如果没填，显示：请进入分店查询)
%br
.span-7.colborder
  
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="240")
    %br
    %a.selected “牡丹雪”餐厅环境
    /%br
    /%a 9折全菜品，截至2011年11月28日
.span-8.colborder
  %img(src="http://www.cashcity.com.tw/images/index/pic3.png")
  %h2 经营理念
  也许你会问为什么叫悠仙美地？他是美国加利福尼亚洲一个风景秀丽与大自然为一体的国家公园，称为YOS·MITE,音译为“优胜美地”或“悠仙美地”，已经有几百年的历史。20世纪90年代，“刘建中”先生到了美国，被这里怡人的自然风景所吸引，它的壮丽及迷人，无不令人赞叹造物者的神奇伟大，所以那里成为最让他留念的景点。回国后创始了现在的“悠仙美地”
  %a 了解更多
.span-7.last
  %br
  用户名：
  %input(type='text')
  %br
  密码：
  %input(type='text')
  %br
  %input(type='submit' value='会员登录') 注册 忘记密码
%hr
%hr.space
.span-15.prepend-1.colborder
  %h3 招牌菜
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="200") 板栗烧肉
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="200") 蘑菇小鸡堡
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="200") 蒜泥生菜
  %a 更多美食
.span-7.last
  %h2
    %a 新闻
    |
    %a 优惠
    |
    %a 媒体报道
  -@news.each do |news|
    /=link_to news.category.name,news.category
    =link_to news.title, news
    &nbsp;
    =(news.created_at+8.hour).strftime '%Y/%m/%d'
    %br
  %a 更多
  %h2 重点推介
  %h3
    %a 浦江店隆重开业
  %h3
    %a 又出新品啦！抢鲜
  %h3
    %a 年夜饭怎么吃？
%hr
苏州志杰餐饮管理有限公司版权所有 技术支持：
%a(href="http://www.atech.com.cn") 苏州志杰信息
网页设计：
%a(href="http://5android.com/")第五工作室
沪ICP备07034093号