=render 'shared/head'
=t('book_phone')
40088888888
/(如果没填，显示：请进入分店查询)
%br
.span-9.prepend-1.colborder
  %h2 新闻|优惠|媒体报道
  -@news.each do |news|
    /=link_to news.category.name,news.category
    =link_to news.title, news
    &nbsp;
    =(news.created_at+8.hour).strftime '%Y/%m/%d'
    %br
.span-6.prepend-1.colborder
  %h2 经营理念
  我們希望，來雋永邨的朋友們，
  都能夠品嚐到傳統台灣小吃的美味，
  這是一個耐人尋味的地方
  當你對我們的名稱有了疑問時
  就是你尋得答案之時
.span-7.last
  %h3 本店名菜
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="220")
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="220")
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="220")
.span-9.prepend-1.colborder
  %h2 新闻|优惠|媒体报道
  -@news.each do |news|
    /=link_to news.category.name,news.category
    =link_to news.title, news
    &nbsp;
    =(news.created_at+8.hour).strftime '%Y/%m/%d'
    %br
.span-6.prepend-1.colborder
  %h2 照片栏目（这个标题可有可无）
  %img(src="http://bookings.xinxianghui.com/Picture/100440/%e9%a6%8b%e5%98%b4%e7%89%9b%e8%9b%99-ws.jpg" width="220")
    “牡丹雪”餐厅环境（可以自动切换）
.span-7.last
  加盟 常见问题解答
  %br
  下载优惠券
%h2 会员注册与登录

底部 志杰大酒店版权所有 技术支持：苏州志杰信息
网页设计：
%a(href="http://5android.com/")第五工作室