=render 'shared/head'
.span-15.prepend-1.colborder
  %h2=@news.title
  发布于
  =(@news.created_at+8.hour).strftime '%Y年%m月%d日，'
  分类:
  =link_to @news.category.name,@news.category
  %br
  !=@news.content
.span-7.last
  %h3 分类目录
  -@categories.each do |category|
    -if @news.category.id==category.id
      =link_to category.name,category,:class => "selected"
    -else
      =link_to category.name,category
    %br
  %h3
    =@news.category.name
    =t 'article_in'
  -@news.category.news.order("created_at DESC").limit(15).each do |news|
    -if news.id==@news.id
      =link_to news.title, news, :class => "selected"
    -else
      =link_to news.title, news
    %br