%h1=t('login2.who')
-if flash[:error]
  #error=flash[:error]
=form_tag "login2/login" do
  .field
    =label_tag :passwd,t('password')
    %br
    =password_field_tag :passwd
  .actions
    =submit_tag t('login')

  =t('caption')
  -s='http://'+@user.username+'.diancai.la'
  =link_to s,s
  =t('is_permanent_url')