=link_to t('note.add'),new_admin_note_path
%br
%table
  %tr
    %th=t('title')
    %th=t('release_date')
    %th
    %th
    %th
  -@notes.each do |note|
    %tr
      %td
        =note.content
      %td=(note.created_at+8.hour).strftime '%Y.%m.%d'
      %td=link_to t(:edit), edit_admin_note_path(note)
      %td=link_to t(:delete), admin_note_path(note), confirm:t('confirm.delete'), method: :delete