.row {
  overflow:hidden;
  margin-bottom:20px
}
.row.note-title label.field,.row.note-text label.field {
  font-size:14px
}
#note_title,#note_text {
  width:942px;
  margin-top:5px;
  padding:3px;
  border:1px solid #ccc;
  line-height:1.62
}
#note_title {
  width:500px;
}
#note_text {
  resize:vertical
}
#note_title:focus,#note_text:focus {
  border-color:gray
}
#note_title {
  font-size:15px
}
#note_text {
  height:400px;
  resize:vertial;
  font-size:15px
}
.markdown-tip {
  text-align:right
}
.markdown-tip a {
  display:inline-block;
  *display:inline;
  zoom:1;
  padding:3px 8px 2px;
  background-color:#e6e6e6;
  color:#939393;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px
}
.markdown-tip a:hover {
  color:#666
}
.note-privacy label,.note-reply label {
  margin-right:11px
}
.note-privacy input,.note-reply input {
  position:relative;
  top:-2.5px
}
.row.footer {
  margin-top:50px
}
.row.footer .cancel-note {
  float:right
}
.control-panel {
  float:right;
  overflow:hidden;
  margin-bottom:5px;
  font-size:14px;
}
.control-panel li {
  float:left;
  position:relative
}
.control-panel .lnk-flat {
  position:relative;
  padding-right:12px;
  padding-left:12px
}
.image-btn {
  margin-right:-1px
}
.image-btn:hover {
  z-index:2
}
.video-btn {
  margin-right:-1px
}
.video-btn:hover {
  z-index:2
}
.image-btn .lnk-flat {
  -moz-border-top-right-radius:0;
  -webkit-border-top-right-radius:0;
  border-top-right-radius:0;
  -moz-border-bottom-right-radius:0;
  -webkit-border-bottom-right-radius:0
}
.link-btn .lnk-flat {
  -moz-border-top-left-radius:0;
  -webkit-border-top-left-radius:0;
  border-top-left-radius:0;
  -moz-border-bottom-left-radius:0;
  -webkit-border-bottom-left-radius:0;
  border-bottom-left-radius:0
}
.video-btn .lnk-flat {
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0
}
.images,.videos {
  display:none;
  margin-bottom:20px
}
.images {
  zoom:1;
  border-bottom:1px dashed #ccc
}
.image-item,.video-item {
  overflow:hidden;
  position:relative;
  zoom:1;
  margin-bottom:20px;
  padding:10px;
  border:1px solid #ccc;
  background-color:#f3f3f3
}
.image-item label,.video-item label {
  color:#666
}
a.delete-image,a.delete-video {
  position:absolute;
  right:10px;
  top:10px;
  display:block;
  width:16px;
  height:16px;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
  line-height:16px;
  color:#999
}
a.delete-image:hover,a.delete-video:hover {
  color:#333;
  background-color:transparent;
  text-decoration:none
}
.thumbnail {
  float:left;
  margin-right:20px;
  width:140px;
  overflow:hidden
}
.image-desc,.image-layout,.video-info {
  margin-left:160px
}
.image-thumb,.video-thumb {
  margin-top:10px;
  position:relative;
  zoom:1
}
.video-thumb {
  height:96px
}
.image-desc textarea {
  width:385px;
  height:60px;
  resize:vertical
}
.image-desc textarea,.video-info div {
  margin-top:10px
}
.image-layout label {
  margin-right:11px
}
.image-layout input {
  position:relative;
  top:-2.5px
}
.video-info .video-title,.video-info .video-url {
  display:block
}
#upload-area {
  margin-bottom:20px
}
#upload-area label.field {
  color:#666
}
.drag-drop {
  border:2px dashed #ccc;
  color:#666;
  text-align:center;
  font-size:18px;
  line-height:1.62
}
.drag-drop .text {
  display:inline-block;
  *display:inline;
  zoom:1;
  margin:70px 0
}
.upload-tip {
  margin-bottom:20px;
  color:#666
}
.upload-error {
  display:none;
  margin-bottom:20px;
  color:#f30
}
.upload-info {
  display:none;
  zoom:1
}
.upload-info .header,.upload-info .footer {
  color:#777;
  padding:3px;
  zoom:1
}
.upload-info .footer {
  _margin-top:0
}
.upload-info .slot {
  padding:3px
}
.upload-info .header span,.upload-info .footer span {
  display:inline-block;
  *display:inline;
  zoom:1
}
.upload-info .header .image-name {
  padding-left:20px;
  width:415px
}
.upload-info .header .image-size {
  width:80px;
  text-align:center
}
.upload-info .header .image-delete {
  width:60px;
  text-align:center
}
.upload-info .footer .total-num {
  padding-left:20px;
  width:425px
}
.upload-info .footer .num-warning {
  display:none;
  padding-left:15px;
  color:red
}
.upload-info .footer .total-size {
  text-align:center;
  width:145px
}
.upload-info .header {
  border-bottom:1px solid #d0d0d0
}
.upload-info .slot {
  border-bottom:1px solid #ccc
}
.upload-info a.image-delete {
  display:inline-block;
  *display:inline;
  zoom:1;
  opacity:.6;
/*  filter:alpha(opacity:60)*/
}
.upload-info a.image-delete:hover {
  background-color:transparent;
  opacity:1;
/*  filter:alpha(opacity:100)*/
}
.slot span {
  display:inline-block;
  *display:inline;
  zoom:1
}
.slot .image-name {
  padding-left:10px;
  width:425px
}
.slot .image-size {
  width:80px;
  text-align:center
}
.slot .image-delete {
  width:60px;
  text-align:center
}
.slot.image-loading {
  position:relative;
  background:0
}
.slot .basic-loading {
  width:130px;
  text-align:center;
  color:#999;
  background:url(/pics/loading.gif) no-repeat 25px 1px
}
.slot.image-loading .progress {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:0;
  border:1px solid #c0d8c2;
  border-right:2px solid #36824b;
  background-color:#cbe2cd;
  opacity:.6;
/*  filter:alpha(opacity:.6)*/
}
.slot.error {
  border:1px solid #fdbfbc;
  border-top:0;
  background-color:#fdd1ce
}
.slot.error .image-name {
  width:180px;
  _width:183px
}
.slot.error .image-error {
  color:red;
  width:241px;
  _width:243px
}
#image-slots {
  zoom:1
}
#noflash {
  font-size:12px;
  color:#f30
}
.video-tip {
  margin-bottom:30px;
  color:#666
}
.video-dlg .row label.field {
  display:block
}
.video-dlg .row input {
  width:355px;
  margin-top:5px;
  line-height:1.62;
  padding:3px;
  border:1px solid #ccc
}
.video-dlg .row input:focus {
  border-color:gray
}
.video-dlg .msg {
  display:none;
  width:355px;
  padding:4px;
  margin-top:5px;
  background-color:#f4f4f4;
  color:#999
}
.video-dlg .msg a.retry {
  color:#369
}
.video-dlg .msg a.retry:hover {
  color:#fff;
  background-color:#369
}
.link-dlg .row label.field {
  display:block
}
.link-dlg .row input {
  width:355px;
  margin-top:5px;
  padding:3px;
  border:1px solid #ccc;
  font-size:13px;
  lineheight:1.62
}
.link-dlg .row input:focus {
  border-color:gray
}
.btn {
  padding:5px 16px;
  *padding:4px 8px;
  height:27px;
  cursor:pointer;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  color:#fff;
  background-color:#3fa156;
  border:1px solid #528641
}
.btn:hover {
  background-color:#4fca6c;
  border-color:#6aad54
}
.btn:active {
  background-color:#3fa156;
  border-color:#528641
}
.error-msg {
  color:red
}
.error-msg.tip {
  position:absolute;
  padding-left:10px;
  background:url(/pics/icon/tips_arrow.gif) no-repeat
}
.error-msg.tip {
  background-position:left -50px
}
.error-msg.board {
  margin-bottom:15px
}
#preview .note-hd h3 {
  color:#060;
  background:0;
  margin-left:0;
  margin-bottom:0;
  height:auto;
  line-height:1.4
}
#preview .note-ft {
  text-align:right
}
#preview .note-hd,#preview .note-bd,#preview .note-ft {
  margin-bottom:20px
}
.preview-footer {
  margin-top:50px;
  margin-bottom:20px
}
.autosave-tip {
  color: #999
}