.dui-dialog {
    position: fixed;
    z-index: 1000;
}
.dui-dialog .dui-dialog-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    z-index: 2;
}
.dui-dialog .hd {
    background: none repeat scroll 0 0 #EBF5EB;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    padding: 10px;
}
.dui-dialog .hd h3 {
    background: none repeat scroll 0 50% transparent;
    color: #333333;
    padding: 0 40px 0 4px;
}
.dui-dialog .hd h3 i {
    color: #006600;
    font-style: normal;
    margin-left: 0.5ex;
}
.dui-dialog .bd {
    font-size: 12px;
    padding: 15px;
    position: relative;
}
.dui-dialog .bd:after {
    clear: both;
    content: " ";
    display: block;
}
.dui-dialog .ft .bn-flat, .dui-dialog .ft input {
    margin: 0 0.5em;
}
.dui-dialog .ft {
    padding: 0 10px 10px;
    text-align: center;
}
.dui-dialog .dui-dialog-close {
    font: 11px "Comic Sans MS";
    padding: 0 3px;
    position: absolute;
    right: 12px;
    top: 10px;
}
a.dui-dialog-close:link {
    color: #B4B4B4;
}
a.dui-dialog-close:hover {
    background: none repeat scroll 0 50% transparent;
    color: #FAB0B6;
}
.dui-dialog .dui-dialog-shd {
    background: none repeat scroll 0 0 #666666;
    border-radius: 5px 5px 5px 5px;
    height: 100%;
    left: -8px;
    opacity: 0.4;
    padding: 8px;
    position: absolute;
    top: -8px;
    width: 100%;
}
.dui-dialog-iframe {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    left: -8px;
    opacity: 0;
    position: absolute;
    top: -8px;
    z-index: 1;
}