.m-editor-emo-holder {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #8496BA;
  padding: 6px;
  width: 334px;
  height: 138px;
}
.m-editor-emo-holder .emo-list {
  cursor: default;
  width: 336px;
}
.m-editor-emo-holder .emo-list li {
  border: 1px solid #B8D4E8;
  cursor: pointer;
  float: left;
  height: 16px;
  margin: 0 2px 2px 0;
  padding: 4px 0;
  text-align: center;
  width: 24px;
}
.m-editor-emo-holder .emo-list li {
  cursor: pointer;
  text-align: center;
}