#db-music-artists .headline {
  width:100%;
  margin-bottom:30px
}
#db-music-artists .item:after,#db-music-artists .headline:after {
  content:'\0020';
  clear:both;
  display:block
}
#db-music-artists .headline h3 {
  height:auto;
  background:transparent;
  margin:0
}
#db-music-artists {
  color:#535353
}
#db-music-artists .headline .pic {
  float:left;
  margin-right:20px
}
#db-music-artists .headline .pic img {
  margin-bottom:-6px
}
#db-music-artists .headline p {
  margin:5px 0
}
#db-music-artists .item {
  display:inline-block;
  *display:inline;
  *zoom:1;
  width:46%;
  *width:46.5%;
  margin:0 20px 20px 0;
  vertical-align:top
}
#db-music-artists .item .pic {
  width:60px
}
#db-music-artists .item .pic,#db-music-artists .item .info {
  display:table-cell;
  *float:left;
  vertical-align:top
}

.block4 {
  clear:both;
  margin-bottom:30px
}

input[type=password]:focus,input[type=text]:focus {
  outline:0
}
.block_search1 {
  margin-bottom:30px
}
.block_search1 .input_basic {
  margin-bottom:10px
}
.block_search1 .introduce {
  margin-bottom:-10px
}
.srh-suggest {
  line-height:2;
  font-size:14px;
  font-weight:800
}
.srh-suggest em {
  color:#f03;
  font-style:normal
}
#group_search {
  padding-bottom:5px
}
.result {
  position:relative;
  width:100%;
  margin-bottom:20px;
  padding-bottom:10px;
  border-bottom:1px dashed #ccc
}
.result:after {
  content:'\0020';
  clear:both;
  display:block
}
.result .pic {
  float:left
}
.result .content {
  display:table-cell;
  padding-left:20px;
  *float:left
}
.result .content h3 {
  float:left;
  height:auto;
  margin:0 0 5px 0;
  background:transparent
}
.result .rating-info,.result .info {
  position:absolute;
  right:10px;
  color:#999
}
.result .content p {
  margin:0 0 5px 0;
  clear:both;
  color:#666
}
.result .info img {
  vertical-align:middle;
  margin-left:1em
}
.result-top {
  padding:10px;
  margin-bottom:30px;
  background:#fefedc
}
.result-top .result h3 {
  width:300px
}
.result-top p {
  margin:0
}
.result-top .result,.result-top .ul {
  border:0;
  margin-bottom:10px;
  padding:0
}
.result .rating-info span {
  display:-moz-inline-box;
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align:middle;
  margin-bottom:1px
}
.result-top .result .more {
  text-align:right
}
#music-events {
  margin-bottom:25px
}
#music-events li {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px dashed #ddd
}
#music-events .title {
  font-size:14px
}
.cate-mod {
  clear:both;
  width:100%;
  margin-bottom:30px
}
.cate-mod .content {
  clear:both;
  position:relative;
  height:630px;
  border:1px solid #efeeed
}
.cate-mod .list {
  background:#f6f5f5 url(/pics/nav/ui_b_1.png) no-repeat 0 0;
  border-bottom:0;
  padding-left:10px
}
.cate-mod .list ul {
  height:25px;
  background:url(/pics/nav/ui_b_1.png) no-repeat 100% 0
}
.cate-mod .list li {
  float:left;
  margin-top:3px;
  padding-left:4px;
  height:22px;
  line-height:23px
}
.cate-mod .list li.on {
  position:relative;
  z-index:1;
  bottom:-1px;
  background:#fff url(/pics/nav/ui_b_1.png) no-repeat 0 -40px
}
.cate-mod .list li a:link,.cate-mod .list li a:visited,.cate-mod .list li a:hover,.cate-mod .list li a:active {
  position:relative;
  display:block;
  *display:inline;
  zoom:1;
  padding:0 9px 0 5px;
  height:22px;
  overflow:hidden;
  background-color:transparent;
  line-height:26px;
  text-align:center
}
.cate-mod .list li a:hover,.cate-mod .list li a:active {
  color:#369
}
.cate-mod .list li.on a,.cate-mod .list li.on a:link,.cate-mod .list li.on a:visited,.cate-mod .list li.on a:hover,.cate-mod .list li.on a:active {
  line-height:23px;
  background:#fff url(/pics/nav/ui_b_1.png) no-repeat 100% -40px
}
.cate-mod .x1,.cate-mod .x2 {
  position:absolute;
  bottom:-1px;
  width:4px;
  height:4px;
  overflow:hidden;
  background:url(/pics/nav/ui_b_1.png) no-repeat 0 -74px
}
.cate-mod .x1 {
  left:-1px;
  background-position:-8px -74px
}
.cate-mod .x2 {
  right:-1px
}
.cate-mod .content dl {
  margin-bottom:15px
}
.cate-mod .item {
  position:absolute;
  width:95%;
  *width:96%;
  top:23px;
  left:20px
}
.cate-mod .sub-item {
  float:left;
  height:72px;
  overflow:hidden;
  width:49%;
  *width:48%;
  *zoom:1;
  margin:0 2px 15px 0;
  border-bottom:1px dashed #aaa
}
.cate-mod .sub-item .pic {
  display:table-cell;
  width:48px;
  height:48px;
  padding-right:1em;
  *float:left;
  vertical-align:top
}
.cate-mod .sub-item .pic img {
  margin-bottom:-3px;
  width:48px;
  height:48px
}
.cate-mod .sub-item .info {
  display:table-cell;
  *float:left;
  vertical-align:top;
  word-wrap:break-word;
  word-break:break-all;
  color:#666
}
.cate-mod .sub-item p {
  margin:0 20px 0 0
}
.cate-mod .hide {
  visibility:hidden
}
.cate-mod .last {
  border:0
}
.ui-sel-hide {
  display:none
}
.ui-sel-container {
  position:relative
}
.ui-sel-value {
  height:22px;
  line-height:22px;
  background:url(/pics/nav/ui_dplst.png) no-repeat
}
.ui-sel-list {
  position:absolute;
  left:0;
  top:22px;
  z-index:2;
  margin-top:-2px
}
.ui-sel-value a:link,.ui-sel-value a:visited,.ui-sel-value a:hover,.ui-sel-value a:active,.ui-sel-value a {
  position:relative;
  display:block;
  padding:0 10px;
  right:-2px;
  height:22px;
  color:#333;
  background:transparent url(/pics/nav/ui_dplst.png) no-repeat 100% 0
}
.ui-sel-hover .ui-sel-value {
  background-position:0 -30px
}
.ui-sel-hover .ui-sel-value a:link,.ui-sel-hover .ui-sel-value a:visited,.ui-sel-hover .ui-sel-value a:hover,.ui-sel-hover .ui-sel-value a:active,.ui-sel-hover .ui-sel-value a {
  background-position:100% -30px
}
.ui-sel-active .ui-sel-value {
  background-position:0 -60px
}
.ui-sel-active .ui-sel-value a:link,.ui-sel-active .ui-sel-value a:visited,.ui-sel-active .ui-sel-value a:hover,.ui-sel-active .ui-sel-value a:active,.ui-sel-active .ui-sel-value a {
  background-position:100% -60px
}
.ui-sel-list a {
  display:block;
  padding:0 10px
}
.ui-sel-list .bd {
  border-left:1px solid #868686;
  padding:0 1px;
  border-right:1px solid #868686;
  background-color:#f1f1f1;
  overflow:hidden
}
.ui-sel-list .ft {
  height:3px;
  padding-left:2px;
  margin-right:2px;
  background:url(/pics/nav/ui_dplst.png) no-repeat 0 100%
}
.ui-sel-list .ft span {
  position:relative;
  display:block;
  right:-2px;
  height:3px;
  overflow:hidden;
  background:url(/pics/nav/ui_dplst.png) no-repeat 100% -92px
}
#friend .obu dd {
  height:40px
}
.doulist-guide-cont .item {
  margin-bottom:1em
}
.doulist-guide-cont .item-submit input {
  margin:0 1em
}
#db-online-events {
  margin-bottom:20px
}
#db-online-events .title {
  font-size:14px
}
.lnk-create-event {
  display:-moz-inline-box;
  display:inline-block;
  *zoom:1;
  width:106px;
  height:21px;
  line-height:10em;
  overflow:hidden;
  vertical-align:middle
}
a.lnk-create-event:link,a.lnk-create-event:visited,a.lnk-create-event:hover,a.lnk-create-event:active {
  background:transparent url(/pics/new_evt.gif) no-repeat
}
#db-online-events .desc {
  color:#666
}
#db-online-events .num {
  display:block
}
#db-online-events li {
  border-bottom:1px dashed #ddd;
  padding-bottom:15px;
  margin-bottom:15px
}
#db-online-events .func {
  float:right
}

#db-usr-profile {
  width:100%;
  height:58px;
  margin-bottom:2em;
  position:relative;
  left:0;
  top:0;
  zoom:1
}
#db-usr-profile .pic {
  float:left;
  margin-right:12px
}
#db-usr-profile .info {
  float:left;
  padding-top:2px
}
#db-usr-profile a.colbutt {
  position:absolute;
  left:640px;
  top:35px;
  letter-spacing:0
}
#db-usr-profile p.att {
  position:absolute;
  left:640px;
  top:38px;
  margin:0;
  background:url(/pics/allright-small.gif) no-repeat left center;
  padding-left:20px
}
#db-usr-profile .info ul li {
  display:inline;
  margin-right:1em
}
#db-usr-profile .info ul li.last {
  margin:0
}
#db-usr-profile h1 {
  padding:0 0 4px 0
}
body {
  margin-top:0
}
#header {
  width:100%;
  margin:0 0 40px 0;
  background:0
}
#searbar {
  margin:0
}
#header {
  width:100%
}
#header:after,.site-nav:after,.top-nav-items:after,.top-nav:after,.site-nav .bd:after {
  content:'\0020';
  display:block;
  clear:both;
  height:0
}
.top-nav {
  clear:both;
  width:100%;
  color:#d4d4d4;
  margin-bottom:20px;
  height:30px;
  border-bottom:1px dashed #d4d4d4;
  *position:relative;
  *z-index:2
}
.top-nav .bd {
  width:950px;
  margin:0 auto
}
.top-nav-items {
  float:left;
  *position:relative;
  font-size:12px;
  margin-top:3px
}
.top-nav-items li {
  float:left;
  display:inline;
  margin:2px 20px 0 0
}
.top-nav-items li.top-nav-more {
  position:relative;
  left:0;
  top:-1px;
  _top:2px
}
.top-nav-items li.top-nav-more a {
  color:#566d5e
}
.top-nav-items li.top-nav-more a:hover {
  color:#fff
}
.top-nav-items li .top-nav-more-items {
  position:absolute;
  width:50px;
  height:60px;
  height:64px\9;
  _height:60px;
  padding:1px 4px;
  zoom:1;
  z-index:2
}
.top-nav-items li .top-nav-more-items a {
  padding:0
}
.top-nav-items li .arrow {
  display:inline-block;
  border-width:4px;
  border-color:#566d5e transparent transparent transparent;
  border-style:solid dashed dashed dashed;
  width:0;
  height:0;
  font-size:0;
  line-height:0;
  vertical-align:middle
}
.top-nav-items li a:hover .arrow {
  border-color:#fff transparent transparent transparent
}
.top-nav-items li .top-nav-more-items ul {
  display:none;
  overflow:hidden
}
.top-nav-items li .top-nav-more-items ul li {
  float:none;
  display:block;
  margin:0
}
.top-nav-items li .top-nav-more-items ul li a {
  display:inline-block;
  width:100%
}
.top-nav-items li .on {
  border:1px solid #ccc;
  background:#fff;
  padding:0 3px
}
.top-nav-items li .on ul {
  display:block
}
.nav-srh {
  float:left;
  height:38px;
  padding-left:5px;
/*  background:url(/images/nav/ui_ns_sbg4.png) no-repeat 0 0*/
}
.nav-srh form {
  padding:0 1px 0 0;
/*  height:38px;*/
  *float:left;
/*  background:url(/images/nav/ui_ns_sbg4.png) no-repeat 100% 0*/
}
.nav-srh input {
  padding:0 1px 0 0;
/*  float:left;*/
  width:100px;
  height:24px;
  line-height:26px;
  border:1px solid #a6d098;
  background:#fff;
  padding:0 2px
}
.nav-srh .inp {
  padding-top:5px;
  width:100px;
/*  height: 33px;*/
}
.nav-srh .bn-srh {
  width:54px;
  height:29px;
  font-size:13px;
  padding:1px 0 3px 3px;
  border:0;
  background:transparent url(/images/nav/ui_ns_sbg4.png) no-repeat 0 -100px;
  cursor:pointer;
  letter-spacing:3px;
  text-align:center
}
.nav-srh .bn-srh {
  padding:2px 0 0 0\9
}
.pro-nav .nav-srh {
  float:left
}
.site-nav {
  width:100%;
  height:36px;
  clear:both
}
.site-nav .bd {
  float:right;
  height:36px;
  width:84%
}
.site-nav-logo {
  float:left;
  position:relative;
  *margin-top:2px
}
#db-nav-main .site-nav-logo em {
  display:none
}
#db-nav-main .bd {
  width:82%;
  background-color:#e7f3e7
}
.site-nav-logo em {
  position:absolute;
  right:-15px;
  bottom:3px;
  width:12px;
  height:14px;
  line-height:10em;
  overflow:hidden;
  background:url(/pics/nav/ui_ns_sbg4.png) no-repeat -280px -100px;
  visibility:hidden
}
.site-nav-logo .on em {
  visibility:visible
}
.site-nav-logo a:hover,.site-nav-logo a:active,.site-nav-logo a {
  background:transparent
}
.top-nav-info {
  float:right;
  margin-top:5px;
  *margin-top:6px
}
.top-nav a:link,.top-nav a:visited,.top-nav a:hover,.top-nav a:active {
  color:#566d5e
}
.top-nav a:hover {
  background-color:#566d5e;
  color:#fff
}
.top-nav li.on {
  color:#000
}
.top-nav li.on,.top-nav li.on a:link,.top-nav li.on a:visited,.top-nav li.on a:hover,.top-nav li.on a:active {
  color:#219a44;
  font-weight:800
}
.top-nav li.on a:hover {
  color:#fff;
  background:#219a44
}
.top-nav em,.site-nav em {
  font-style:normal
}
.top-nav-info a {
  margin-left:10px
}
.site-nav-items {
  float:left;
  position:relative;
  left:0;
  top:0;
  padding-left:28px;
  line-height:36px;
  color:#d4d4d4
}
.site-nav-items #online_guide {
  color:#6c6869;
  position:absolute;
  top:37px;
  left:180px;
  padding:6px;
  width:120px;
  line-height:20px;
  border:1px solid #9bc59b;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px
}
.site-nav-items #online_guide .arrowUp {
  z-index:2;
  position:absolute;
  top:-12px;
  left:95px;
  height:0;
  width:0;
  font-size:0;
  line-height:0;
  border-left:6px dashed transparent;
  border-top:6px dashed transparent;
  border-right:6px dashed transparent;
  border-bottom:6px solid #fff
}
.site-nav-items #online_guide .arrowUpBorder {
  position:absolute;
  top:-14px;
  left:94px;
  height:0;
  width:0;
  font-size:0;
  line-height:0;
  border-left:7px dashed transparent;
  border-top:7px dashed transparent;
  border-right:7px dashed transparent;
  border-bottom:7px solid #9bc59b
}
.site-nav-items li {
  float:left;
  margin-right:14px;
  background:url(/pics/nav/ui_ns_sbg4.png) no-repeat 0 -140px
}
.site-nav-items li a:link,.site-nav-items li a:hover,.site-nav-items li a:visited,.site-nav-items li a:active {
  font-size:14px;
  color:#0c7823;
  margin-left:14px;
  vertical-align:middle
}
.site-nav-items li a:hover {
  background-color:#0c7823;
  color:#fff
}
.site-nav h1 {
  font-size:21px;
  padding:8px 0
}
.nav-tip {
  margin-bottom:-2em;
  text-align:right;
  line-height:2;
  *position:relative
}
.nav-tip a {
  margin-left:10px
}
.srh-group {
  border-top:1px solid #ddd;
  margin-top:5px;
  padding-top:5px
}
.srh-group a:hover {
  background:#777!important
}
.single-nav {
  padding-top:15px
}
.blur {
  color:#ddd
}
.submenu {
  float:left;
  position:relative;
  width:45px;
  height:21px;
  border:1px solid #b6c9c1;
  border-left:none;
  margin:0 2px 0 -5px;
  background:#fff;
  padding:2px 0 1px 0
}
.submenu .menu {
  position:absolute;
  width:85px;
  top:24px;
  right:-1px;
  background:#fff;
  border:1px solid #b6c9c1
}
.submenu .selected {
  padding:0 0 0 5px;
  border-left:1px solid #b6c9c1;
  cursor:pointer
}
.submenu .selected span {
  position:absolute;
  width:7px;
  height:5px;
  right:4px;
  top:10px;
  overflow:hidden;
  background:url(/pics/nav/ui_ns_sbg4.png) no-repeat -240px -124px
}
.submenu .menu li {
  width:100%
}
.submenu .menu a {
  display:block;
  padding:2px 10px
}
.nav-srh .open span {
  background-position:-240px -100px
}
.submenu .line {
  height:1px;
  font-size:0;
  line-height:0;
  margin-bottom:1px;
  overflow:hidden;
  border-bottom:1px solid #c3c3c3
}
a.bn-radio:link,a.bn-radio:visited,a.bn-radio:hover,a.bn-radio:active {
  position:relative;
  margin:0 4px;
  padding:0 0 0 24px;
  zoom:1;
  height:14px;
  overflow:hidden;
  vertical-align:text-bottom;
  background:url(/pics/nav/ic_radio2.gif) no-repeat 0 0;
  *vertical-align:baseline;
  line-height:15px;
  *margin:0;
  *top:-1px
}
a.bn-radio:hover {
  color:#fff;
  background-color:#6a7e71
}
#db-nav-movie .site-nav-items li {
  margin-right:9px
}
#db-nav-movie .nav-srh {
  background-position:0 -50px
}
#db-nav-movie .nav-srh form {
  background-position:100% -50px
}
#db-nav-movie .nav-srh input {
  border-color:#8cd4de
}
#db-nav-movie .nav-srh .bn-srh {
  background-position:-130px -100px
}
#db-nav-movie .site-nav-items li a:link,#db-nav-movie .site-nav-items li a:hover,#db-nav-movie .site-nav-items li a:visited,#db-nav-movie .site-nav-items li a:active {
  font-size:14px;
  color:#0090b3;
  margin-left:12px;
  vertical-align:middle
}
#db-nav-movie .site-nav-items li a:hover {
  background-color:#0090b3;
  color:#fff
}
#db-nav-movie .site-nav-items li.new a:link,#db-nav-movie .site-nav-items li.new a:hover,#db-nav-movie .site-nav-items li.new a:visited,#db-nav-movie .site-nav-items li.new a:active {
  color:#f93
}
#db-nav-book .site-nav-items li {
  margin-right:9px
}
#db-nav-book .site-nav-items li a:link,#db-nav-book .site-nav-items li a:hover,#db-nav-book .site-nav-items li a:visited,#db-nav-book .site-nav-items li a:active {
  margin-left:12px
}
#db-nav-book .site-nav-items li.annotation {
  position:relative
}
#db-nav-book .site-nav-items li.annotation sub {
  position:absolute;
  right:-20px;
  top:0;
  z-index:2;
  width:20px;
  height:10px;
  text-indent:-9999px;
  background:url('/pics/icon/sub_book_annotation.gif') no-repeat right center
}
#db-nav-book li .lnk-buy {
  display:-moz-inline-box;
  display:inline-block;
  zoom:1;
  width:66px;
  height:21px;
  line-height:22px;
  *line-height:23px;
  overflow:hidden;
  background:transparent url(/pics/nav/ui_ns_sbg4.png) no-repeat -280px -120px;
  font-size:12px;
  color:#368332;
  *margin-top:8px
}
*:first-child+html #db-nav-book .nav-anon .lnk-buy {
  margin-top:0
}
#db-nav-movie .site-nav-items,#db-nav-book .site-nav-items {
  padding-left:20px
}
#db-nav-book .site-nav-items {
  _margin-right:-5px
}
#db-nav-book li .lnk-buy em {
  margin-left:24px
}
#db-nav-book li.site-nav-prom {
  position:relative;
  left:0;
  top:0;
  zoom:1
}
#db-nav-book li.site-nav-prom sup {
  position:absolute;
  left:65px;
  top:-2px;
  width:60px;
  height:10px;
  background-image:url('/pics/icon/cart_coupon_status.gif');
  background-repeat:no-repeat;
  text-indent:-9999px;
  line-height:10px
}
#db-nav-book li.site-nav-prom sup.coupon {
  background-position:0 0
}
#db-nav-book li.site-nav-prom sup.re-arrival {
  background-position:0 -10px
}
#db-nav-main .site-nav-items li {
  margin-right:30px;
  background:0;
  color:#e9f4e9
}
#db-nav-main .site-nav-items li a {
  margin:0
}
#db-nav-main .bd {
  background-color:#e9f4e9
}
#db-nav-main .nav-srh input {
  width:264px;
  height:24px
}
#db-nav-main .nav-srh .inp {
  width:300px
}
#db-nav-music .site-nav-items li {
  margin-right:30px;
  background:0;
  color:#eff2ef
}
#db-nav-music .bd {
  background-color:#e9ede9
}
#db-nav-main .nav-srh,#db-nav-main .nav-srh form,#db-nav-music .nav-srh,#db-nav-music .nav-srh form {
  background:0
}
#db-nav-main .nav-srh,#db-nav-music .nav-srh {
  float:right;
  height:36px
}
#db-nav-main .nav-srh form,#db-nav-music .nav-srh form {
  height:36px
}
#db-nav-music .nav-srh input {
  width:235px;
  height:24px
}
#db-nav-main .nav-srh .bn-srh,#db-nav-music .nav-srh .bn-srh {
  width:50px;
  height:26px;
  *padding-top:1px
}
#db-nav-music .nav-srh .inp {
  width:300px
}
#db-nav-music .site-nav-items li a:link,#db-nav-music .site-nav-items li a:hover,#db-nav-music .site-nav-items li a:visited,#db-nav-music .site-nav-items li a:active {
  font-size:14px;
  color:#3b5343;
  margin-left:0;
  vertical-align:middle
}
#db-nav-music .site-nav-items li a:hover {
  background-color:#607869;
  color:#fff
}
#db-nav-music .nav-srh input {
  border-color:#b6c9c1
}
#db-nav-music .nav-srh .bn-srh {
  background-position:-60px -100px
}
.nav-srh .bn-srh {
  width:27px;
  margin-left:-4px;
  overflow:hidden;
  text-indent:-100px;
  background-position:-190px -100px
}
#db-nav-main .site-nav-logo,#db-nav-music .site-nav-logo,#db-nav-movie .site-nav-logo,#db-nav-book .site-nav-logo {
  padding-top:3px
}
#db-nav-music .site-nav-logo em {
  background-position:-340px -100px
}
#db-nav-movie .site-nav-logo em {
  background-position:-320px -100px
}
#db-nav-book .site-nav-logo em {
  background-position:-300px -100px
}


#db-event-hosts .group {
  clear:both;
  zoom:1;
  margin-bottom:20px;
  border-bottom:1px dashed #ddd;
  padding-bottom:5px
}
#db-event-hosts .group:after {
  content:'\0020';
  display:block;
  clear:both
}
#db-event-hosts .group li {
  float:left;
  width:32.3%;
  white-space:nowrap;
  overflow:hidden;
  margin-right:1%;
  height:22px
}
#db-talk {
  padding:0;
  margin:2px 0 2em;
  /*overflow: hidden;*/
  *zoom:1
}
#db-talk label {
  position:absolute;
  margin:4px 0 0 6px;
  font-size:14px;
  color:#aaa;
  pointer-events:none;
  cursor:text
}
#db-talk:after {
  content:'\0020';
  clear:both;
  display:block
}
#db-talk .item {
  margin:0 0 5px
}
#db-talk .btn-group {
  float:left
}
#db-talk textarea {
  width:578px;
  height:36px;
  padding:5px;
  border:1px solid #ccc;
  vertical-align:bottom;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  /*overflow: hidden;*/
}
#db-talk .btn {
  float:none;
  width:auto;
  margin-right:0;
  text-align:right
}
#db-talk .bn-flat {
  vertical-align:middle
}
#db-talk .bn-flat input {
  font-size:14px
}
#db-talk .msg {
  float:right;
  position:relative;
  line-height:2
}
#db-talk .tipmsg {
  display:inline-block;
  *display:inline;
  zoom:1;
  margin-right:10px;
  vertical-align:middle;
  color:#666
}
#db-talk .tipmsg b {
  font-size:16px
}
#db-talk .error b {
  color:#f92d09
}
#db-talk .field .error,#db-talk .waiting {
  line-height:27px
}
#db-talk .url {
  width:450px;
  *zoom:1;
  margin-right:-3px;
  height:25px;
  padding:0 2px;
  line-height:25px;
  *height:21px;
  *padding-top:4px;
  *line-height:1.4;
  border:1px solid #ccc;
  color:#999
}
#db-talk .field {
  position:relative;
  background:#f4f4f4
}
#db-talk .field-arrow {
  position:absolute;
  left:20px;
  top:-10px;
  font-size:0;
  line-height:0;
  border-color:transparent transparent #f4f4f4 transparent;
  border-style:dashed dashed solid dashed;
  border-width:5px 5px 8px;
  height:0;
  width:0;
  overflow:hidden
}
#db-talk .field .hd {
  padding:8px 8px 0;
  height:22px
}
#db-talk .field .bd {
  padding:8px
}
.talk-processed .field .bd {
  padding-top:0!important
}
#db-talk .field-title {
  line-height:1.8;
  color:#666
}
#db-talk .bn-close {
  position:absolute;
  right:10px;
  top:15px;
  color:#999;
  padding:0 2px;
  line-height:1.2
}
#db-talk a.bn-close:hover {
  background-color:#999;
  color:#fff
}
#db-talk .field .bn-flat {
  border-color:#ccc;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0
}
#db-talk .field .bn-flat input {
  font-size:12px
}
.talk-init .btn {
  display:none
}
.talk-init textarea {
  height:16px!important
}
#content .active textarea {
  border-color:#bababa
}
.talk-processing .btn .bn-flat input,.talk-disable .btn .bn-flat input {
  border-color:#b9b9b9!important;
  background:#f0f0f0!important;
  color:#999!important;
  /*  cursor:text zj i change it to hand*/
  cursor:hand
}
.talk-disable .bn-flat,.talk-processing .btn .bn-flat:hover,.talk-disable .btn .bn-flat:hover {
  border-color:#b9b9b9
}
#db-talk .field .active .url {
  border-color:#bababa;
  color:#333
}
#db-talk .field .active .bn-flat {
  border-color:#bababa
}
#db-talk .bd {
  color:#999
}
#db-talk .editable {
  color:#333;
  cursor:pointer
}
#db-talk .editable-over {
  background-color:#feff9f
}
#db-talk .editable-input {
  border:1px solid #bababa;
  padding:2px
}
#db-talk .waiting {
  color:#999
}
.rec-dlg label {
  float:left;
  width:6em;
  text-align:right;
  margin-right:10px;
  color:#666
}
.rec-dlg textarea {
  width:400px;
  height:60px;
  resize:none
}
.rec-dlg .item {
  clear:both;
  margin-bottom:5px
}
.rec-dlg .item input {
  width:300px;
  border:1px solid #ccc
}
.rec-dlg .recsubmit {
  text-align:center;
  padding:10px 0
}
.rec-dlg .recsubmit input {
  margin:0 1em
}
.rec-dlg .attn {
  text-align:center
}
.rec-dlg .rectitle {
  margin-bottom:1em
}
.rec-dlg .errmsg {
  color:#f92d09;
  margin-left:1em
}
#loading_tip {
  margin-left:2em;
  padding:5px 1em 0;
  color:#fff
}
#db-talk-hd h2.green_tab a {
  margin:0 5px 0 0
}
#dialog .m em {
  font-size:12px;
  color:#333;
  margin-left:10px
}
#dialog .m em a:link,#dialog .m em a:visited,#dialog .m em a:hover,#dialog .m em a:active {
  font-size:12px;
  color:#369
}
#dialog .m em a:hover {
  text-decoration:underline;
  color:#fff;
  background:#039
}
.aside .indent {
  margin-bottom:25px
}
.citysmr {
  width:44.9%
}
#profile {
  margin-top:32px
}
.bn-add span,.bn-add {
  display:-moz-inline-stack;
  display:inline-block;
  *zoom:1;
  height:22px;
  line-height:0;
  font-size:0;
  padding-left:3px;
  vertical-align:middle;
  overflow:hidden
}
.bn-add span {
  padding:0 6px 0 5px;
  background:url(/pics/nav/bn_add.png) no-repeat 100% 0;
  line-height:21px;
  *line-height:23px;
  font-size:13px;
  cursor:pointer
}
.bn-add span {
  padding-right:15px
}
a.bn-add:link,a.bn-add:visited,a.bn-add:hover,a.bn-add:active {
  background:url(/pics/nav/bn_add.png) no-repeat 0 0;
  color:#333;
  padding-left:20px;
  letter-spacing:2px
}
#db-nav-location {
  position:relative;
  z-index:1
}
#db-nav-location .site-nav-logo em {
  display:none
}
#db-nav-location .site-nav-items li {
  margin-right:30px;
  background:0;
  color:#f7911f
}
#db-nav-location .site-nav-items li a {
  margin:0
}
#db-nav-location .site-nav-items a:link,#db-nav-location .site-nav-items a:visited {
  color:#593933
}
#db-nav-location .site-nav-items a:hover,#db-nav-location .site-nav-items a:active {
  background-color:#593933;
  color:#fff
}
#db-nav-location .bd {
  float:left;
  width:auto;
  margin-right:-1000em;
  background-color:#fdf3e1
}
#db-nav-location .nav-srh input {
  width:264px;
  height:24px
}
#db-nav-location .nav-srh .inp {
  width:300px
}
#db-nav-location .nav-srh,#db-nav-location .nav-srh form {
  background:0
}
#db-nav-location .nav-srh {
  float:right;
  height:36px
}
#db-nav-location .nav-srh form {
  height:36px
}
#db-nav-location .nav-srh .bn-srh {
  width:27px;
  height:26px;
  *padding-top:1px;
  margin-left:-4px;
  overflow:hidden;
  text-indent:-100px;
  background-position:-190px -100px
}
#db-nav-location .site-nav-logo {
  height:36px;
  padding:3px 20px 0 0;
  background:#fff
}
#db-nav-location .local-label {
  height:36px;
  padding-right:25px;
  margin-left:-20px;
  background:#fff
}
#db-nav-location .ext {
  height:36px;
  background:#fdf3e1
}
#db-nav-location .local-label a.label:link,#db-nav-location .local-label a.label:visited,#db-nav-location .local-label a.label:hover,#db-nav-location .local-label a.label:active {
  float:left;
  margin:5px 0 0 10px;
  *margin-top:5px;
  padding:3px 5px;
  padding:5px 5px 1px\9;
  line-height:1.2;
  font-size:20px;
  font-family:'stheiti','é»‘ä½“';
  line-height:20px\9;
  background-color:transparent;
  color:#666
}
#db-nav-location .local-label a.label:hover {
  padding:2px 4px;
  padding:4px 4px 0\9;
  border:1px solid #d5d5d5
}
#db-nav-location .local-label {
  position:relative;
  float:left
}
#db-nav-location .local-list {
  display:none;
  position:absolute;
  z-index:10;
  left:10px;
  top:30px;
  border:1px solid #ddd;
  width:16em;
  background:#fff;
  padding:12px 0 6px 20px
}
#db-nav-location .local-list li {
  display:inline-block;
  *display:inline;
  zoom:1;
  vertical-align:top;
  width:4em;
  margin:0 -3px 6px 0;
  white-space:nowrap
}
#db-nav-location .local-label em {
  display:inline-block;
  *display:inline;
  zoom:1;
  margin-left:5px;
  border-color:#666 transparent transparent;
  border-style:solid dashed dashed;
  border-width:6px 6px 0;
  height:0;
  line-height:0;
  vertical-align:middle;
  width:0
}
#db-nav-location .label-active em {
  border-color:transparent transparent #666;
  border-style:dashed dashed solid;
  border-width:0 6px 6px;
  margin-top:-2px
}
#db-nav-location .ic_new {
  position:absolute;
  margin:8px 0 0 0;
  margin-top:-2px\9;
  width:20px;
  height:9px;
  overflow:hidden;
  background: url(/pics/icon/ic_new.png) no-repeat 0 0
}

.item2 input {
  border: 1px solid #CCCCCC;
  padding: 3px 2px;
}
