// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-title     { font-size: 3em; line-height: 2.5em; margin-bottom: 1.25em; }
.home-maxim     { font-size: 2em; line-height: 2.5em; margin-bottom: 1.25em; }