$left_main: 730px;
$left_length: 620px;
$padd_left: 68px;
$right_main: 226px;
$portal_image_forder: "//mystory.b0.upaiyun.com/images/portal/";
$s: 13px;
$m: 14px;
$c: 15px;
$b: 16px;
$x: 18px;
$xl: 20px;

#skyLand {
  
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, th, td, form, fieldset, legend, input, textarea, blockquote, address, pre {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img, fieldset, hr, iframe {
  border: 0 none;
}
img, .img {
  display: inline-block;
  vertical-align: top;
}
a, del, ins {
  text-decoration: none;
}
li {
  list-style: none outside none;
}
q:before, q:after {
  content: "";
}
sup, sub {
  vertical-align: baseline;
}
body, input, textarea, select {
  color: #333333;
  font: 12px/1.667 'Helvetica Neue',Tahoma,Arial;
}
.noClearType body, .noClearType input, .noClearType textarea, .noClearType select {
  font-family: Tahoma,Arial;
}
.FontYahei body, .FontYahei input, .FontYahei textarea, .FontYahei select {
  font-family: 'Helvetica Neue',Tahoma,Arial,'Microsoft YaHei',微软雅黑,sans-serif;
}
.FontSimsun body, .FontSimsun input, .FontSimsun textarea, .FontSimsun select {
  font-family: 'Helvetica Neue',Tahoma,Arial,SimSun,宋体;
}
.FontSys body, .FontSys input, .FontSys textarea, .FontSys select {
  font-family: 'Helvetica Neue',Tahoma,Arial,sans-serif;
}
.FontSys body, .FontSys input, .FontSys textarea, .FontSys select {
  font-family: 'Helvetica Neue',Tahoma,Arial;
}
h1, h2, h3, h4, h5, h6, b {
  font-size: 1em;
  font-weight: normal;
}
textarea {
  line-height: 1.5;
  max-height: 348px;
  resize: vertical !important;
}
i, cite, em, var, dfn, address {
  font-style: normal;
}
a {
  color: #0088CC;
  outline: 0 none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a, label {
  cursor: pointer;
}
embed, object {
  display: block;
  outline: 0 none;
}
* html body {
}
a:active {
}
.SKY, .LAND {
  -moz-box-sizing: border-box;
}
.SKY {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 9;
}
.SKY:after {
  content: "";
  visibility: visible;
}
.LAND {
  background: none repeat scroll 0 50% transparent;
}
.land {
}
html, body {
}
body {
}
.SKY, .LAND {
}
.LAND {
}
body {
  background: none repeat scroll 0 0 #FCFBFB;
  min-width: 972px;
}
.Lay, .mainT, .mainC {
  -moz-box-sizing: border-box;
}
.land {
  margin-top: 35px;
}
.LANDBG {
  padding-top: 66px;
}
.Bgs {
  display: none;
  overflow: hidden;
}
.Bdy, .footer, .Lay, .tray, .Cloud, .Theme {
  margin: 0 auto;
  width: 936px;
}
.Lay {
  height: 100%;
  visibility: hidden;
}
.B0, .B1, .B2, .B3 {
  display: none;
}
.Bi {
  display: none;
}
.B1 {
  height: 20px;
  margin: -20px -43px 0;
  width: 706px;
}
.mainC .B1 {
  margin-top: -10px;
}
.B1 .Bi {
  display: block;
  position: relative;
}
.Tray {
  height: 40px;
  margin: -40px 0 0;
  position: relative;
  top: 40px;
  visibility: visible;
  z-index: 99;
}
.Tray .Png {
  background: url($portal_image_forder + "204_93feb325f7.png") repeat-x scroll 0 -360px transparent;
  box-shadow: 0 0 5px #000000;
  height: 35px;
  margin: 0 0 -35px;
}
.tray {
  height: 35px;
}
.logo {
  height: 35px;
  left: 122px;
  margin: 0 0 -35px -190px;
  position: relative;
  width: 190px;
}
.logo h2 {
  display: block;
  height: 35px;
  left: 190px;
  margin: 0 0 -35px -190px;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 190px;
}
.logo .png {
/*  background: url("//s4.cr.itc.cn/i/1/196_ab3867a4fd.png") no-repeat scroll 0 0 transparent;*/
  height: 100%;
  margin: 0 0 -35px;
}
.logo a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -99em;
}
.nav {
  float: right;
  font-size: 14px;
}
.nav2 {
  display: inline;
  float: left;
  margin: 0 0 0 0px;
}
.nav2 .navG {
  float: left;
}
.jumper {
  display: inline;
  float: right;
  padding: 0 0 0 1px;
  position: relative;
  top: 5px;
}
.jumper .txt {
  background: url($portal_image_forder + "204_93feb325f7.png") repeat-x scroll 0 -240px #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  height: 25px;
  margin: 0;
  overflow: hidden;
  width: 167px;
}
.jumper .blur input {
  color: #2E2E2E !important;
}
.jumper .blur {
  background-color: #B2B2B2;
  background-position: 0 -180px;
}
.jumper_hover .blur {
  background-position: 0 -210px;
}
.jumper .txt input {
  background: none repeat scroll 0 50% transparent;
  border: 0 none;
  display: inline-block;
  height: 20px;
  padding-bottom: 2px;
  padding-top: 3px;
  vertical-align: top;
  width: 135px;
}
.jumper .txt input:focus {
  box-shadow: none;
}
.jumper a {
  background: url($portal_image_forder + "204_93feb325f7.png") no-repeat scroll 0 -330px transparent;
  display: inline-block;
  height: 24px;
  position: relative;
  width: 24px;
}
.jumper .blur a {
  background-position: 0 -270px;
}
.jumper_hover .blur a {
  background-position: 0 -300px;
}
.navG {
  float: right;
}
.navL {
  display: inline;
  float: left;
}
.navL {
  height: 35px;
  margin: 0 1px 0 0;
}
.nava {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url($portal_image_forder + "204_93feb325f7.png") repeat-x scroll 0 -240px transparent;
  border-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #FFFFFF !important;
  display: block;
  margin: 3px 0 0;
  padding: 0 10px;
}
.nava b {
  display: inline-block;
  height: 21px;
  line-height: 21px;
  margin: 3px 0;
}
.nava:hover, .nav a.on {
  background-position: 0 0;
  border-color: #1A1B1F;
  text-decoration: none;
}
.nava:hover, .nav a.on, .navL .act {
  border-color: #20242A;
}
.navL .bubble .bubC {
  margin-left: -75px;
}
.navL .bubble .bubC .bubBd {
}
.nav a.on {
  background-position: 0 -30px !important;
  color: #FFFFFF !important;
}
.nav2 {
  font-size: 14px;
}
.nav2 .nava {
  margin-top: 4px;
}
.nav2 .nava:hover {
  background-position: 0 -90px;
}
.nav2 .nav a.on {
  background-position: 0 -120px;
}
.nav2 .navL .act {
  background-position: 0 -150px;
}
.nav2 .nava b {
  margin: 2px 0 1px;
}
.nav2 .navG {
  background: url($portal_image_forder + "010_8ac25eeef7.gif") no-repeat scroll 0 50% transparent;
  margin-left: -1px;
}
.nav2 .navG:first-child {
  background: none repeat scroll 0 50% transparent;
}
.Main, .Aside {
  float: left;
  width: 100%;
}
.Aside {
  margin-left: -100%;
}
.aside {
  color: #666666;
  margin: 9px 3px 0 auto;
  padding: 0 20px;
  width: 190px;
}
.aside a {
  color: #666666;
}
.aside a:hover {
  color: #444444;
}
.aside a.fuc {
  color: #3081BA;
}

.Bdy {
}
.main {
  margin-top: -11px;
  min-height: 1200px;
  position: relative;
  width: 706px;
  z-index: 3;
}
.mainT, .mainC {
  border: medium solid transparent;
}
.mainT {
/*  -moz-border-image: url("//s4.cr.itc.cn/i/1/063_cc3bbaf12c.png") 10 10 10 10;*/
  border-width: 10px;
  min-height: 30px;
  padding: 10px 33px 0;
}
.mainT .usrStat, .mainT .h3, .mainT .tabs2 {
  position: relative;
}
.mainC {
/*  -moz-border-image: url("//s5.cr.itc.cn/i/1/061_c1f14947b5.png") 10 10 10 10 repeat;*/
  border-width: 0 10px 10px;
  margin-bottom: -23px;
  min-height: 1200px;
  padding: 0 33px 40px;
}
.main > div.mainC:first-child {
  border-top-width: 10px;
}
* html .mainC {
}
.copr {
  border-top: 1px solid #4D4D4D;
  padding: 15px 0 0;
  text-align: center;
}
.Footer {
  background: none repeat scroll 0 0 #464646;
  padding: 32px 0 45px;
}
.footer, .copr .t2 a {
  color: #666666;
}
.Footer a, .copr .t1 {
  color: #999999;
}

h4 {
  height: 24px;
  margin-top: -1px;
  padding: 1px 0;
}
h4 em {
  font-weight: bold;
}
h4 em .nm {
  font-weight: bold;
  margin: 0 5px;
}
h4 .opt {
  display: inline;
  float: right;
}

.aside .ap, .aside .aps, .aside dl {
  background: url($portal_image_forder + "093_2df3c97a36.gif") repeat-x scroll 0 0 transparent;
  border-top: 1px solid #EAEBEC;
  margin-top: -2px;
  padding: 12px 0 13px;
}
.aside h4 {
  color: #999999;
}
.aside > div[class^="ap"]:first-child {
  background: none repeat scroll 0 50% transparent;
  border-top: 0 none;
}

.mainT, .mainC {
}
.mainT {
}
.mainC {
}


a.fuc {
  color: #0088CC;
  font-size: 14px;
  white-space: nowrap;
}
a.fuc:hover {
  text-decoration: none;
  text-indent: 0;
}
a.fuc:hover b, a.fuc:focus b {
  text-decoration: underline;
}




.avt {
  height: 50px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 50px;
}
.avt a:hover {
  text-decoration: none;
}
.avt .img, .avt img {
  background: none no-repeat scroll center center #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  height: 48px;
  margin: 0;
  width: 48px;
}
.avt .img {
  background-size: 48px auto;
}
.avt a:hover {
  text-indent: 0;
}
.avt a:hover .avtUp {
  top: 23px;
}
.cmt, .main, .mainT, .mainC, .Bdy, .ap, .aps, .h3, h4, .post, .twi, .lis, .usrPanel, .usrLi, .flwUsrSelect, .twiPost, #t-user, .Theme {
}
.cmt:after, .main:after, .mainT:after, .mainC:after, .Bdy:after, .ap:after, .aps:after, .h3:after, h4:after, .post:after, .twi:after, .lis:after, .usrPanel:after, .usrLi:after, .flwUsrSelect:after, .twiC:after, .twiPost:after, .Theme:after, .twiCtr:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.ugc, .pgc, .bio, .uri, .nm, .twiT, .twiC, .memo, .local, .twi, .bio {
  word-wrap: break-word;
}
.uri, .nm, .memo, .bio, .local {
}
.tm, .tm a, .q, .from, .from a, .ttl q, .memo {
  font-weight: normal;
}
.tm, .tm a, .q, .from, .from a, .ttl q, label q, .local, .memo {
  color: #999999;
}
.ugc, .ps, .pgc, .uri, .url {
  white-space: normal;
}
.em {
  font-weight: bold;
}
.png {
  display: block;
}
.ugc {
  display: inline;
  font-size: 15px;
}
.ugc .nm {
  display: inline-block !important;
  height: auto !important;
  margin: 0 !important;
  width: auto !important;
}


.nm {
  display: inline-block;
  text-indent: 0;
  white-space: nowrap;
}

.txt {
  display: inline-block;
  margin: 0 0 0.2em;
  vertical-align: middle;
}
.txt input {
  border: 1px solid #D8D8D8;
  border-radius: 3px 3px 3px 3px;
  height: 19px;
  line-height: 19px !important;
  outline: 0 none;
  padding: 2px 4px;
  vertical-align: top;
}

/* hu_portal.css*/
.twi {
  padding:35px 0 9px
}
.twi .twi {
  bottom:0
}
.twi .ugc {
  color:#222
}
.twi .avt {
  left:-18px;
  top:4px;
  margin:0 0 -50px -50px
}
.twiT .avt24 {
  width:28px!important;
  height:28px!important;
  margin:0 0 -28px -28px;
  top:36px;
  left:-11px
}
.twiT {
  display:block;
  min-height:20px;
  _height:20px;
  margin:0 0 3px
}
.twiT .nm,.twiT .nm a {
  color:#666
}

.twiB {
  _zoom:1;
  clear:both;
  margin-top:11px;
  text-align:right;
  font-size:12px;
  *font-family:SimSun
}
.twiB .tm,.twiB .from {
  vertical-align:middle
}
.twiB .tm {
  margin-right:4px
}
.twiB .tm .i {
  display:none
}


.twis {
  position:relative;
  width:$left_length
}
.twis .twi {
  border-bottom:1px solid #e5e5e5
}
.twis .twiT {
  left:0;
  position:absolute;
  margin-top:-23px
}
.twis .twiT,.twis .twiC,.twiRoot {
  margin-left:$padd_left
}
.twiM {
  position:relative;
  float:left;
  display:inline;
  padding:0 15px 8px $padd_left
}


.stream a,.comment a,.twiFinal a {
  color:#6f4d26
}



a,a.fuc {
  color:#999
}
.Bdy,.footer,.Lay,.Cloud,.Theme,.tray {
  width:964px
}
.Cloud {
  z-index:10;
  margin:0 auto
}
.cloud {
  padding:0;
  left:54px;
  width:620px
}
.Main,.Aside {
  width:964px
}
.Aside {
  margin-left:-964px
}
.land {
  background:#e1e1e1
}
.LANDBG {
  padding-top:0;
  background:url($portal_image_forder + "82_5ec5bfb022.jpg") no-repeat center 0;
  *zoom:1
}
.Head {
  width:964px;
  margin:0 auto;
  position:relative
}
.selectLogo {
  width:158px;
  height:58px;
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin:0;
  /* margin-bottom:-1px\9;*/
  /* *margin-bottom:5px;*/
  left:0
}
.selectLogo .png {
  background:url(/images/logo_name.png) no-repeat;
  /* margin-bottom:-28px;*/
  _background:none!important;
  /* _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s5.cr.itc.cn/i/6/83_e9ca13225e.png',sizingMethod='crop')*/
}
.Head .topP {
  color:#565859;
  font-size:14px;
  display:block;
  position:relative;
  margin:-48px 0 5px 160px
    /* *margin:-36px 0 -7px 109px*/
}
.Main {
  margin:0
}
.main {
  width:730px;
  margin:0
}
.mainT,.mainC {
  -webkit-border-image:none;
  -moz-border-image:none;
  border-image:none;
  border:0
}
.mainT {
  background:0;
  padding:0;
  margin:0;
  min-height:0;
  height:0;
  border-width:0;
  overflow:hidden
}
.mainC {
  padding:0;
  margin:0;
  width:$left_main;
  background:0
}
.twis {
  margin-top:10px
}
.twis .twi_new {
  border-color:#e5e5e5
}
.stream {
  background:white;
  padding:26px 54px 20px;
  margin:5px 0 20px;
  border:1px solid #cacaca;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}


.aside {
  width:$right_main;
  padding:0;
  float:right;
  margin:7px 0 0
}
.aside .ap,.aside .aps,.aside dl {
  padding:0 0 13px
}
.aside .ap {
  margin-bottom:5px;
  border:1px solid #cacaca;
  background-color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}
.aside>div[class^="ap"]:first-child {
  border:1px solid #cacaca;
  background-color:#fff
}
.aside h4 {
  background:url($portal_image_forder + "84_9433ddd0ef.jpg") repeat-x;
  padding:0 18px 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  height:31px;
  line-height:31px;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0
}
.aside h4 em {
  font-size:16px;
  font-family:'Microsoft YaHei',Tahoma,Arial;
  color:#222
}
.aside .intro,.aside .lis {
  padding:8px 18px 0
}

.Footer,.Footer_min {
  padding:17px 0 27px;
  background:#232323
}

.s{
  font-size:$s;
}

.mi{
  font-size:$m;
}

.c{
  font-size:$c;
}

.b{
  font-size:$b;
}

.x{
  font-size:$x;
}

.xl{
  font-size:$xl;
}
.red{
  color: red;
}