$left_main: 730px;
$left_length: 620px;
$padd_left: 68px;
$right_main: 226px;
$s: 13px;
$m: 14px;
$c: 15px;
$b: 16px;
$x: 18px;
$xl: 20px;
.notice {
  *zoom:1;
  margin:6px 0 10px;
  border:1px solid #f7e9ce;
  background-color:#ffffe4;
  background-color:rgba(255,255,228,0.9);
  *background:#ffffe4;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px
}
.notice:hover {
  background-color:rgba(255,255,228,1.0)
}
.notice .c,.notice0 .c a {
  min-height:19px;
  _height:19px;
  padding:5px 24px 4px 10px;
  line-height:1.5
}
.notice0 .c a b {
  color:#08c
}
.notice0 {
  margin:0;
  text-align:center
}
.notice0 .c a {
  overflow:hidden;
  display:block;
  margin:-5px -24px -4px -10px;
  text-decoration:none;
  color:#ff7200!important
}
.notice2 {
  border-color:#f7e9ce;
  background:#ffffe4;
  margin:0;
  color:#666
}
.notice2 .close {
  color:#bababa
}
.notice2 a.close:hover {
  color:#8a8a8a
}
.notice2 .c a {
  color:#ff7200
}
.notice3 .c {
  padding:0
}
.noticeAd {
  overflow:hidden;
  margin:10px auto;
  *zoom:1;
  width:620px;
  height:94px
}
.noticeAd .c {
  position:relative;
  _margin-top:-20px
}
.noticeAd .close {
  top:0;
  width:20px;
  height:20px;
  margin:0 0 -20px -20px;
  _zoom:1
}
.noticeAd .close .sign {
  *vertical-align:middle
}
.noticeAdImg {
  width:620px;
  height:94px;
  margin-bottom:-94px
}
.noticeAdnum {
  position:absolute;
  bottom:4px;
  right:4px;
  height:13px;
  text-align:right
}
.noticeAdnum li {
  float:left;
  width:13px;
  height:13px;
  text-align:center;
  line-height:12px;
  margin-left:2px;
  background:#292929;
  opacity:.8;
  filter:alpha(opacity=80)\9
}
.noticeAdnum li a {
  color:#c0c0c0;
  font-family:Arial,sans-serif;
  font-size:10px;
  text-decoration:none;
  display:block
}
.noticeAdnum .on {
  background:#fefefe
}
.noticeAdnum .on a {
  color:#5d5d5d
}
.noticeAdnum .on a:hover {
  cursor:default
}
.SKY .notice0 {
  visibility:visible!important;
  z-index:9;
  position:relative
}
.noticeAdImg1 {
  background-color:#fafafa;
  width:618px;
  height:92px;
  border:1px solid #e0e0e0
}
.Iimg {
  background:url(//s6.cr.itc.cn/i/6/41_0803a2b2dc.jpg) no-repeat center left;
  width:4px;
  height:52px;
  position:absolute;
  left:92px;
  _left:96px;
  top:21px;
  display:block
}
.noticeAdImg1 .usr2 {
  float:left;
  width:58px;
  position:relative;
  margin:0;
  padding:6px 17px;
  background:#fff
}
.noticeAdImg1 .avt {
  width:34px;
  height:34px
}
.noticeAdImg1 .avt .img {
  -moz-background-size:32px;
  -webkit-background-size:32px;
  background-size:32px
}
.noticeAdImg1 .avt .img,.noticeAdImg1 .avt img {
  width:32px;
  height:32px
}
.noticeAdImg1 .usr2 .fucs .fucAdd {
  background-color:#f0fceb;
  border:1px solid #84bd42;
  text-align:center;
  margin:3px 0 0 0;
  padding:0 10px;
  display:inline-block
}
.noticeAdImg1 .usr2 .fucs .add q {
  background:#5dae00
}
.noticeAdImg1 .usr2 .fucAdd {
  background:0;
  border:0
}
.noticeAdImg1 .usr2 .fucAdd b {
  color:#5dae00
}
.noticeAdImg1 .usr2 .fucAdd:hover {
  background:#5dae00;
  border-color:#509600
}
.noticeAdImg1 .usr2 .fucs .fucAdd:hover q {
  background:#fff
}
.noticeAdImg1 .usr2 .fucAdd:hover b {
  color:#fff;
  text-decoration:none
}
.noticeAdImg1 .usr2 .nm a,.actwin .winli .usr2 .nm a:hover {
  color:#666
}
.noticeAdImg1 .usr2 .fucs .fuc_dis {
  background:#f0f0f0!important;
  border-color:#c3c3c3!important;
  text-align:center
}
.noticeAdImg1 .usr2 .fucs .fuc_dis .add q {
  background:#a8a8a8!important
}
.noticeAdImg1 .usr2 .fucs .fuc_dis b {
  color:#a8a8a8!important
}
.noticeAdImg1 .noticeAdCon {
  background:#fafafa url(//s4.cr.itc.cn/i/6/109_d99c2d9c0c.jpg) no-repeat;
  margin-left:92px;
  border-left:1px solid #e0e0e0;
  width:481px;
  height:55px;
  padding:8px 26px 27px 18px;
  _padding:10px 20px 3px 18px
}
.noticeAdCon .Ct {
  width:481px;
  height:62px;
  overflow:hidden
}
.noticeAdCon .Ct .text {
  color:#333;
  font-size:14px;
  line-height:20px;
  text-align:left
}
.noticeAdCon .Ct .text:hover {
  color:#666;
  text-decoration:none
}
.fucsA {
  text-align:right
}
.noticeAd .close {
  top:7px
}
.noticeAd .sign q {
  left:14px
}
.passport {
  position:relative
}
.passportC {
  min-height:160px;
  _height:160px
}
.passportC .frm {
  padding-left:70px
}
.passportC .frm .frmT {
  font-size:14px;
  width:70px;
  margin:0 0 -27px -70px;
  color:#666
}
.passportC .frmC .txt {
  margin:0
}
.passportC .frmC .txt input {
  width:164px;
  height:20px;
  line-height:20px!important
}
.passport .frmTxt {
  color:#ed0000;
  margin:0
}
.passport .frmId {
  margin-top:0
}
.passportL {
  z-index:10;
  position:absolute;
  width:170px;
  padding:1px;
  border:1px solid #6a9ab2;
  background:#fff;
  top:54px;
  left:70px
}
.passportL .ttl {
  padding:4px 6px;
  background:#f0f0f0;
  color:#999
}
.passportL li {
  height:20px;
  padding:3px 6px;
  white-space:nowrap;
  cursor:pointer
}
.passportL .hover {
  background:#48b5ec;
  color:#fff
}
.passport .fucs {
  padding:6px 0 0 65px;
  margin:8px 15px 0;
  border-top:1px dotted #cacaca
}
.dropLogin a.close {
  display:none
}
.passportC .opt {
  font-size:12px;
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin-top:15px
}
.passportC .opt .cbox {
  width:66px;
  height:20px;
  margin:0 0 -20px -66px;
  position:relative;
  top:-19px;
  left:66px;
  *left:0;
  *zoom:1
}
.tags {
  *zoom:1;
  text-align:left!important;
  _text-indent:0!important
}
.tag,.tabsM li {
  display:inline-block;
  *display:inline;
  *zoom:1;
  padding:0 0 0 6px;
  margin:0 0 0 5px;
  text-indent:0;
  _text-indent:-11px!important;
  white-space:nowrap;
  vertical-align:middle;
  background:url(//s4.cr.itc.cn/img/s/lin/vr_dt_da.gif) no-repeat 0
}
.tag a,.tabsM li a {
  text-indent:0!important
}
.tag:first-child,.tag[class~='noDis']:first-child+.tag,.tabsM li:first-child,.tabsM li[class~='noDis']:first-child+.tabsM li {
  padding-left:0!important;
  margin-left:0!important;
  background-image:none!important
}
.tags .on,.tags .on b {
  font-weight:bold
}
.tags4 {
  margin:2px 0
}
.tags4 .tag {
  padding:0 0 0 9px;
  margin:0 0 0 8px;
  _text-indent:-17px!important
}
.tags4 {
  overflow:hidden\9
}
.tagSel .tags {
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  *vertical-align:auto
}
.oper .tag {
  padding:0 0 0 4px;
  margin:0 0 0 3px;
  _text-indent:-7px!important;
  _background-position:0 7px
}
.twiB .tag {
  background-image:none
}
.cmt .twiB .tag {
  background-image:none!important
}
.twiRoot .twiB .tag {
  background-image:url(//s4.cr.itc.cn/img/s/lin/vr_dt_da.gif)
}
.tag .del {
  left:0;
  margin:0;
  top:0;
  color:#999!important;
  height:22px;
  _height:23px;
  border:1px solid #fff;
  margin-bottom:2px
}
.tag .del:hover {
  color:#666!important
}
.tag .del .sign {
  margin-top:6px;
  _margin-top:5px
}
.page {
  clear:both;
  height:21px;
  margin:10px;
  font-size:12px;
  font-family:STHeiti,SimSun,\5b8b\4f53!important;
  text-align:right;
  white-space:nowrap;
  color:#cbcbcb
}
a.pg {
  overflow:hidden;
  display:inline-block;
  height:12px;
  line-height:12px!important;
  margin:0 3px 2px 2px;
  min-width:17px;
  padding:5px 2px 3px;
  _padding:5px 7px 3px;
  border:1px solid #dcdcdc;
  vertical-align:middle;
  background:url(//s6.cr.itc.cn/i/7/001_95ac15c33b.png) repeat-x;
  color:#555;
  text-align:center;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px
}
.page em {
  padding:0 6px 0 0;
  color:#bbb;
  vertical-align:middle;
  word-spacing:-3px
}
.page em a {
  color:#ababab
}
a.pg:hover {
  border-color:#a4a4a4;
  text-decoration:none;
  background-position:0 -20px;
  color:#937342
}
.pgEps {
  margin:0 2px 0 0;
  font-size:12px;
  font-family:Tahoma;
  color:#999
}
.pgLast,.pgFirst {
  display:inline;
  line-height:normal!important;
  height:auto;
  padding:0;
  margin:0 0 0 6px;
  border:0;
  background:0;
  color:#ababab
}
.pgFirst {
  margin:0 6px 0 3px
}
a.pgLast:hover,a.pgFirst:hover {
  text-decoration:underline!important
}
a.pg:hover {
  text-indent:0
}
.page .on,.page .on:hover {
  border-color:#6a6a6a #828282 #919191!important;
  font-weight:bold;
  color:#fff!important;
  background-position:0 -60px;
  cursor:default
}
.page .dis,.page a.dis:hover {
  color:#a4a4a4!important;
  border-color:#dcdcdc!important;
  text-decoration:none!important;
  background-position:0 -40px!important;
  cursor:default
}
.page .sign {
  vertical-align:top
}
.pg .signArr4 {
  margin-right:1px
}
.pg .signArr5 {
  margin-left:2px;
  _left:2px
}
.page .fuc .sign {
  vertical-align:middle
}
.page .fuc6,.page .fuc6:hover {
  color:#937342;
  margin-left:3px
}
.page a.open,.page a.open:hover {
  color:#555
}
.page2 {
  padding:3px 0 0;
  border:0;
  height:20px
}
.page2 .pg {
  padding:3px 5px 3px 6px;
  border-color:#b8c4cf;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  color:#666;
  background-image:url(//s4.cr.itc.cn/i/3/003_92f69a8c55.png);
  margin-left:-2px
}
.page2 .on {
  background:#9ea7b1!important;
  border-color:#98a3ad!important
}
.page2 .pg .signArr4,.page2 .pg .signArr5 {
  color:#929da8
}
.page2 .pg .signArr5 {
  margin-left:1px
}
.page3 .pg {
  overflow:visible;
  display:inline-block;
  height:auto;
  line-height:20px!important;
  padding:0 5px 0 6px;
  margin:0;
  border:0;
  vertical-align:baseline;
  background:0
}
.page3 em,.page3 .pg,.page3 a.pg:hover {
  color:#8c7a5e
}
.page3 a.pg:hover {
  text-decoration:underline
}
.page3 em {
  margin-right:7px;
  vertical-align:baseline
}
.pageEx {
  height:0;
  position:absolute;
  right:44px
}
.pageEx .pageExC {
  float:right;
  clear:both;
  border:1px solid #dcdcdc;
  padding:0 15px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  box-shadow:0 3px 4px rgba(0,0,0,0.1)
}
.pageEx .pageExC .item {
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:middle;
  border-left:1px solid #dedede;
  padding:10px 10px
}
.pageEx .pageExC .item:first-child {
  background:0;
  border-left:0;
  padding-left:0
}
.pageEx .pageExC .item {
  _text-indent:-16px;
  _padding-left:26px
}
.pageEx .txt {
  margin:0 5px 0 8px
}
.pageEx .txt input {
  height:16px;
  line-height:16px!important;
  width:66px;
  color:#555;
  *vertical-align:middle;
  _margin-top:-4px
}
.pageEx .txt input:active,.pageEx .txt input:focus {
  color:#fff;
  box-shadow:none;
  background:url(//s6.cr.itc.cn/i/7/001_95ac15c33b.png) 0 -60px;
  border-color:#6a6a6a #828282 #919191
}
.pageEx .btnM3 {
  margin:0
}
.pageEx .btnM3 b {
  padding:2px 6px
}
.pageEx .signArr {
  float:right;
  display:inline;
  top:-5px;
  margin:0 40px -6px 0;
  left:272px;
  position:relative;
  left:auto;
  right:auto
}
.pageEx .signArr q {
  color:#dcdcdc
}
.pageEx .signArr .k3 {
  top:1px;
  color:#fff
}
.pageEx .select,.pageEx .select_hover,.pageEx .select_active {
  height:20px;
  background-position:right -2px;
  margin:0 6px
}
.pageEx .select input {
  height:15px;
  line-height:15px!important
}
.pageEx .select .option q {
  height:21px;
  line-height:21px
}
.pageEx .selT .option {
  top:auto;
  bottom:21px
}
.pageEx .select .optionMax {
  _height:252px
}
.twi {
  padding:35px 0 9px
}
.twi .twi {
  bottom:0
}
.twi .ugc {
  color:#222
}
.twi .ugc .sort {
  *position:relative
}
.twi .avt {
  left:-18px;
  top:4px;
  margin:0 0 -50px -50px
}
.twiT .avt24 .img {
  border:2px solid #fff
}
.twiT .avt24 {
  width:28px!important;
  height:28px!important;
  margin:0 0 -28px -28px;
  top:36px;
  left:-11px
}
.twiT {
  display:block;
  min-height:20px;
  _height:20px;
  margin:0 0 3px
}
.twiT .nm,.twiT .nm a {
  color:#666
}
.twiT .memo a,.twiT .memo a:hover {
  color:#999
}
.twiOther {
  padding:7px 0 0;
  margin-top:8px;
  background:url(//s4.cr.itc.cn/img/s/lin/hr_dt_e4.gif) repeat-x
}
.More {
  visibility:hidden;
  top:4px;
  left:100%;
  position:relative;
  display:block;
  width:18px;
  height:18px;
  margin:0 0 -18px -23px
}
.RT,.rt,.S1key {
  display:inline-block;
  white-space:nowrap;
  color:#bbb
}
.Main2 .twi .ugc {
  white-space:pre-wrap;
  *white-space:pre;
  *zoom:1
}
.Main2 .twi .ugc .nm,.Main2 .twi .ugc .RT,.Main2 .twi .ugc .rt,.Main2 .twi .ugc .S1key {
  *white-space:pre
}
.RT {
  *overflow:hidden;
  font-style:italic;
  margin:0 0 0 3px
}
.cmt .RT {
  margin:0 5px 0 0
}
.twiB {
  _zoom:1;
  clear:both;
  margin-top:11px;
  text-align:right;
  font-size:12px;
  *font-family:SimSun
}
.twiB .tm,.twiB .from {
  vertical-align:middle
}
.twiB .tm {
  margin-right:4px
}
.twiB .tm .i {
  display:none
}
.twiB .tags {
  display:inline-block;
  *display:inline;
  *zoom:1;
  padding-left:9px;
  margin-left:8px;
  background:url(//s4.cr.itc.cn/img/s/lin/vr_sd_c2.gif) no-repeat 0
}
.pgcFreak strong,.pgcRf strong {
  font-size:16px
}
.pgcFreak b,.pgcFreak b a,.pgcRf b,.pgcRf b a {
  color:#666!important;
  font-weight:bold
}
.pgcFreak q,.pgcRf q {
  margin:0 6px
}
.pgcFreak p {
  color:#666
}
.pgcRf {
  margin-top:0;
  margin-bottom:12px
}
.pgcRf strong {
  height:23px;
  overflow:hidden;
  display:block
}
.pgcRf p {
  color:#333
}
.pgcRf p q {
  color:#666
}
.pgcRf p.t1 {
  height:18px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal
}
.pgcFreak strong,.pgcRf p.t1 {
  width:552px
}
.twiHasPic .pgcFreak strong,.twiHasPic .pgcRf p.t1 {
  width:377px;
  _width:362px
}
.twiShow .pgcFreak strong,.twiShow .pgcRf p.t1 {
  width:552px;
  _width:547px
}
.twiRoot .twiShow .pgcFreak strong,.twiRoot .twiShow .pgcRf p.t1 {
  width:542px
}
.stream2 .pgcFreak strong,.stream2 .pgcRf p.t1 {
  width:620px
}
.stream2 .twiHasPic .pgcFreak strong,.stream2 .twiHasPic .pgcRf p.t1 {
  width:445px;
  _width:440px
}
.stream2 .twiShow .pgcFreak strong,.stream2 .twiShow .pgcRf p.t1 {
  width:620px;
  _width:615px
}
.stream2 .twiRoot .pgcFreak strong,.stream2 .twiRoot .pgcRf p.t1 {
  width:610px;
  _width:605px
}
.stream2 .twiRoot .twiHasPic .pgcFreak strong,.stream2 .twiRoot .twiHasPic .pgcRf p.t1 {
  width:435px;
  _width:430px
}
.stream2 .twiRoot .twiShow .pgcFreak strong,.stream2 .twiRoot .twiShow .pgcRf p.t1 {
  width:610px;
  _width:605px
}
.twiFinal .pgcFreak strong,.twiFinal .pgcRf p.t1 {
  width:555px;
  _width:550px
}
.twiFinal .twiHasPic .pgcFreak strong,.twiFinal .twiHasPic .pgcRf p.t1 {
  width:375px;
  _width:370px
}
.twiFinal .twiShow .pgcFreak strong,.twiFinal .twiShow .pgcRf p.t1 {
  width:555px;
  _width:550px
}
.twiFinal .twiRoot .pgcFreak strong,.twiFinal .twiRoot .pgcRf p.t1 {
  width:545px;
  _width:540px
}
.twiFinal .twiRoot .twiHasPic .pgcFreak strong,.twiFinal .twiRoot .twiHasPic .pgcRf p.t1 {
  width:365px;
  _width:360px
}
.twiFinal .twiRoot .twiShow .pgcFreak strong,.twiFinal .twiRoot .twiShow .pgcRf p.t1 {
  width:545px;
  _width:540px
}
.twiHasPic .twiC {
  padding-left:175px
}
.twiHasPic .twiB {
  margin-left:-175px
}
.twiRoot .twiHasPic .twiC,.twiShow .twiRoot .twiC {
  padding-left:165px
}
.twiHasPic .twiRoot {
  margin-left:-175px!important
}
.twiHasPic .AP {
  margin-left:-138px
}
.twiRoot .twiHasPic.twiShowVote .twiB {
  margin-left:-165px!important
}
.twiRoot .twiHasPic .twiC {
  *float:left;
  *width:360px;
  *padding-left:0
}
.twiRoot .twiHasPic .AP {
  *margin-left:0;
  *overflow:hidden;
  *width:355px;
  *clear:none
}
.twiRoot .twiHasPic .vote li {
  *text-align:right
}
.twiRoot .twiHasPic .vote .ttl {
  *display:block;
  *margin:0 auto 0 0
}
.twiRoot .twiHasPic .vote .nums,.twiRoot .twiHasPic .vote .pbar {
  *text-align:left
}
.twiShow {
  *position:relative
}
.twiShow .twiT {
  *top:35px
}
.twiShow .twiC {
  *zoom:1;
  padding-left:0
}
.twiShow .twiC,.twiShow .twiT {
  clear:both;
  display:block!important;
  width:auto!important
}
.twiShow .twiRoot,.twiShow .AP,.twiShow .twiB {
  margin-left:auto!important
}
.twiRoot .twiShow .twiB {
  margin-left:0!important
}
.twiRoot .twiShow .twiC {
  padding-left:0
}
.twiQun {
  padding:6px 0 0;
  margin-top:5px;
  text-align:left;
  background:url(//s4.cr.itc.cn/img/s/lin/hr_dt_e4.gif) repeat-x
}
.twis .loading,.twiLoad {
  height:66px;
  margin:-4px 0 0;
  border:1px solid #f2f2f2;
  font-size:20px;
  text-align:center;
  background:#f3f3f3;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px
}
.twiLoad .fuc {
  display:block;
  font-size:20px;
  line-height:66px;
  _padding:19px 0;
  *zoom:1
}
.twiLoad .signArr3 {
  margin:0 0 .2em 5px
}
.twis .loading em {
  height:40px;
  line-height:40px;
  text-indent:30px;
  font-size:20px;
  background-image:url(//s4.cr.itc.cn/i/3/353_f87aa27451.gif)
}
.reTwi,.twiColon {
  color:#909090
}
.reTwi {
  margin:0 0 0 2px
}
.twiStat_ud {
  padding:0 2px;
  height:16px;
  _height:15px;
  line-height:16px;
  font-size:11px;
  -webkit-text-size-adjust:none;
  background:#be0900;
  color:#fff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  position:absolute;
  min-width:15px;
  _width:15px;
  text-align:center;
  left:13px;
  top:35px;
  white-space:nowrap
}
.twiRoot .twiT,.wid b {
  width:252px
}
.wid {
  zoom:1;
  font-size:0;
  line-height:0;
  *width:252px;
  *display:none
}
.wid b {
  display:inline-block;
  *display:inline;
  *zoom:1;
  height:0;
  vertical-align:top
}
.twis {
  position:relative;
  width:$left_length
}
.twis .twi {
  border-bottom:1px solid #e5e5e5
}
.twis .twi_new {
  border-color:#cecece
}
.twis .twiT {
  left:0;
  position:absolute;
  margin-top:-23px
}
.twis .twiT,.twis .twiC,.twiRoot {
  margin-left:$padd_left
}
.twiM {
  position:relative;
  float:left;
  display:inline;
  padding:0 15px 8px $padd_left
}
.cmt,.AP {
  width:495px;
  border:1px solid #e3e3e3;
  background:#f8f8f8;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  clear:both;
  margin:10px 16px 0 auto
}
.AP {
  margin-bottom:10px
}
.APC {
  padding:5px 10px
}
.APoper {
  padding:0 0 5px
}
.twi .lbs {
  display:inline-block;
  *display:inline;
  *zoom:1;
  cursor:pointer
}
.twiRoot {
  padding-left:5px;
  padding-top:0;
  padding-bottom:0;
  margin-top:11px;
  margin-bottom:10px;
  margin-left:0!important;
  border-left:5px solid #f2f2f2
}
.twiRoot .twi {
  padding:0;
  border-bottom:0
}
.twiRoot .twiT,.twiRoot .twiC,.twiRoot .twiB {
  margin-left:0
}
body .twiRoot .twiT {
  position:static;
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin:0
}
.twiRoot .twiM {
  padding-left:0
}
.twiRoot .twiB {
  clear:none;
  margin-top:1px;
  margin-left:0!important;
  text-align:left
}
.twiRoot .twiB .tm b {
  display:none
}
.twiRoot .twiB .tm .i {
  display:inline-block;
  *display:inline;
  *zoom:1
}
.twiRoot .twiB .tags {
  padding-left:0;
  margin-left:0;
  background:0
}
.twiRoot .cmt {
  background:#f2f2f2
}
.twiRoot .cmt .twiC {
  *float:none
}
.twiRoot .cmt .signArr8 {
  display:none
}
.twiRoot .ugc {
  color:#222
}
.twiTraPic .twiC {
  padding-left:184px
}
.twiTraPic .twiB {
  margin-left:-184px
}
.twiTraPic .cmt .twiC {
  padding-left:0
}
.twiTraPic .twiRoot .twi {
  _zoom:0
}
.twiTraPic .twiRoot .twiShow {
  _zoom:1
}
.twiTraPic .twiRoot .twiC {
  padding-left:0;
  _float:none;
  _width:350px
}
.twiTraPic .twiRoot .cmt .twi {
  _zoom:1
}
.twiTraPic .twiRoot .cmt .close {
  _float:right;
  _left:0;
  _margin-left:0;
  _margin-right:5px
}
.twiTraPic .twiRoot .cmt .twiC {
  _float:left
}
.twiTraPic .twiRoot .twi .cmt .twi .twiC {
  _float:none;
  _width:398px
}
.twiTraPic .twiRoot .twi .cmt .twiHasPic .twiC,.twiTraPic .twiRoot .twi .cmt .twiShow .twiC {
  _width:auto
}
.twiTraPic .twiRoot .twiM {
  display:none
}
.twiTraPic .twiRoot .cmt .twiM {
  display:inline
}
.twiTraPic .twiRoot .cmt {
  margin-left:-182px;
  _margin-left:-186px
}
.twiTraPic .twiRoot .twiHasPic.twiShowVote .twiB {
  margin-left:0
}
.twiShow .twiC {
  padding-left:0
}
.twiShow .twiRoot .cmt {
  margin-left:0
}
.twiShow .twiRoot .cmt .twi {
  _zoom:1
}
.twiShow .twiRoot .twiM {
  display:inline
}
.twiShow .twiRoot .twiC {
  padding-left:0
}
.twiShow .twiRoot .twiC .ugc .sort {
  *position:static
}
.twiFinal .twiTraPic .twiRoot .twi {
  _zoom:1
}
.twiFinal .twiTraPic .twiRoot .twiM {
  _display:block
}
.twiCtr {
  padding:0 15px 0 68px;
  position:relative;
  float:left;
  display:inline;
  width:552px
}
.twiCtr p.ugc {
  display:block
}
.twiCtr .desc {
  display:block
}
.twiCtr .media,.twiCtr p.ugc {
  margin-bottom:10px
}
.twiCtr .btns {
  margin:-37px 0 10px 10px
}
.twiCtr .pgcRf {
  display:block;
  margin-top:3px
}
.twiCtr .pgcRf strong {
  font-size:14px;
  font-weight:normal
}
.twiCtr .pgcRf .t1 {
  font-size:12px;
  display:block
}
.twiCtr .pgcRf .t1 q {
  color:#666
}
.twiCtr .pgcRf b {
  font-weight:normal
}
.stream2 .twiCtr,.twiFinal .twiCtr {
  padding:0;
  width:100%
}
.twiShow .twiCtr {
  padding-right:0
}
.twiSort {
  position:absolute;
  top:28px;
  right:45px
}
.twiOpt {
  position:absolute;
  right:0;
  margin:-24px 0 0 0;
  display:none;
  text-align:right
}
.twiOpt .i {
  width:20px;
  height:20px
}
.twi_hover .twiOpt {
  display:block
}
.stream a,.comment a,.twiFinal a {
  color:#6f4d26
}
body .stream a:hover,body .comment a:hover,body .twiFinal a:hover {
  color:#6f4d26
}
.comment .twiB a,.twiFinal .twiB a {
  color:#999
}
.stream2 .twi {
  padding-top:12px
}
.stream2 .twiT {
  display:none!important
}
.stream2 .twiRoot .twiT {
  display:inline-block!important;
  *display:inline!important;
  *zoom:1
}
.stream2 .twiT,.stream2 .twiC,.stream2 .twiA,.stream2 .twiRoot {
  margin-left:0
}
.stream2 .twiM {
  padding-left:0
}
.stream2 .twiRoot .twi {
  padding-top:0
}
.stream2 .twiRoot .twiShow .twiC,.stream2 .twiRoot .twiShow .twiT {
  display:block!important
}
.stream2 .twiRoot .cmt .twiT,.stream2 .twiRoot .cmt .twiC {
  display:inline!important
}
.stream2 .cmt .twiT {
  display:inline!important
}
.stream2 .twiTraPic .twiRoot .cmt {
  margin-left:-114px;
  _margin-left:-118px
}
.stream2 .twiShow .twiRoot .cmt {
  margin-left:68px
}
.stream2 .twiRoot .cmt .twiC {
  display:block!important
}
.stream2 .twiRoot .twiHasPic .twiC {
  *width:420px
}
.twiFinal {
  margin:0 32px
}
.twiFinal .twi {
  border:0;
  background:0
}
.twiFinal .twiC .ugc {
  font-size:24px
}
.twiFinal .twiM {
  padding-left:0
}
.twiFinal .twiRoot .ugc {
  font-size:18px
}
.twiFinal .cmt {
  width:auto;
  margin-left:auto;
  margin-right:auto
}
.twiFinal .cmt .twiC .ugc {
  font-size:12px
}
.twiFinal .vote .close,.twiFinal .vote .voteAttr .t1 a.fuc {
  display:none
}
.twiFinal .twiRoot .vote .close {
  display:block
}
.twiFinal .twiTraPic .ugc {
  font-size:18px
}
.twiFinal .twiRoot .cmt .twiT {
  *left:0;
  margin-left:0;
  *margin-left:10px
}
.noTwis {
  font-size:16px;
  line-height:35px
}
.noTwis .tip {
  background:url(//s6.cr.itc.cn/i/2/067_0ee804e4d4.jpg) no-repeat;
  width:520px;
  height:100px;
  margin:20px auto
}
.noTwis .ttl {
  border-bottom:1px solid #e9eced;
  color:#999;
  padding-bottom:5px;
  width:500px;
  margin:0 auto;
  padding-left:20px
}
.noTwis .btns {
  border-top:1px solid #e9eced;
  width:500px;
  padding:10px 0 0 20px
}
.comment .twiB .from {
  background:0
}
.streamMsg .twis,.streamNtc .twis {
  padding-top:10px
}
.streamMsg .twi,.streamNtc .twi {
  position:relative;
  border:1px solid #fff;
  border-bottom:1px solid #e4e4e4;
  padding:35px 20px 9px
}
.streamMsg .twiT,.streamNtc .twiT {
  margin-left:110px
}
.streamMsg .twiB,.streamMsg .twiA,.streamNtc .twiB,.streamNtc .twiA {
  margin-left:90px
}
.streamMsg .twiT .t1 {
  font-weight:bold;
  display:none;
  color:#666
}
.streamMsg .twiUnrMsg {
  left:42px;
  top:4px;
  position:relative;
  display:block;
  width:18px;
  height:18px;
  margin:0 0 -18px -23px;
  visibility:visible
}
.streamMsg .twiA,.streamNtc .twiA {
  *position:relative;
  font-size:14px
}
.streamMsg .twiB {
  text-align:left
}
.streamMsg .twiB .tags {
  float:right
}
.streamMsg .twiB .msg {
  float:right;
  padding-top:2px;
  *padding-top:0
}
.streamMsg .noCnt {
  padding-top:60px
}
.streamMsg .noCnt .ttl,.streamNtc .noCnt .ttl {
  line-height:50px;
  text-align:center
}
.streamMsg .noCnt .ttl a,.streamNtc .noCnt .ttl a {
  color:#08c
}
.streamMsg .noCnt .ttl .i,.streamNtc .noCnt .ttl .i {
  width:50px;
  height:50px;
  background-position:-250px -175px
}
.streamMsg .twiShowMsg {
  border:1px solid #e4e4e4;
  -moz-border-radius:3px 3px 0 0;
  -webkit-border-radius:3px 3px 0 0;
  border-radius:3px 3px 0 0;
  margin-top:10px;
  background:#f6f6f6
}
.twiShowMsg .twiB .i158 {
  background-position:-175px -150px
}
.streamMsg .twiSdm .twiT .t1 {
  display:inline
}
.streamNtc .twiStat_ud {
  background:0;
  top:18px
}
.streamNtc .twiA .ugc {
  font-size:12px
}
.twiMd {
  border:1px solid #e4e4e4;
  background:#f6f6f6;
  border-width:0 1px 1px;
  padding:8px 0;
  -moz-border-radius:0 0 3px 3px;
  -webkit-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
  *zoom:1;
  margin-bottom:10px
}
.twiMd .twi,.twiMd .loading,.twiMd .noCnt,.twiMd .page {
  border:0;
  margin:0 42px;
  padding:5px 0;
  background:url(//s4.cr.itc.cn/img/s/lin/hr_dt_ba.gif) repeat-x;
  *zoom:1
}
.postMsg {
  margin:15px 42px 0 112px;
  *float:right;
  _float:none;
  min-height:80px;
  _height:80px
}
.postMsg .avt {
  margin:0 0 -50px -70px
}
.postMsg .tarea textarea {
  height:30px;
  min-height:30px
}
.twiMd .twi {
  padding-top:32px;
  position:relative;
  min-height:56px;
  _height:56px
}
.twiMd .twiT,.twiMd .twiA,.twiMd .twiB {
  margin-left:68px
}
.twiMd .nm a,.twiMd .nm .memo {
  color:#626262
}
.twiMd .nm .memo {
  color:#999
}
.twiMd .ugc {
  color:#222
}
.twiMd .page {
  *position:relative;
  *zoom:1
}
.twiMd .twiStat_ud {
  background:#be0900;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:6px;
  height:6px;
  position:absolute;
  display:block;
  top:33px;
  left:-16px;
  padding:0;
  margin:0;
  min-width:6px;
  _font-size:0;
  _line-height:0
}
body .twiMd .loading em {
  display:inline-block;
  height:19px;
  line-height:19px;
  padding:12px 0 11px;
  font-size:14px;
  text-indent:23px;
  color:#666;
  background:url(//s4.cr.itc.cn/i/3/354_e5d242d20b.gif) no-repeat 0
}
.twiMd .loading {
  border:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  height:auto
}
body .twiMd .loading em {
  padding:3px 0
}
.twiMd .twi .tags {
  background:0;
  _padding-left:5px!important
}
.twiMd .twi .tag {
  background:url(//s4.cr.itc.cn/img/s/lin/vr_dt_da.gif) no-repeat 0;
  _text-indent:-11px!important
}
.stream2 .cking {
  color:#999;
  margin-top:-23px;
  height:23px;
  line-height:23px
}
.stream2 .twiHasPic .cking {
  margin-left:-175px
}
.stream2 .twiShow .cking {
  margin-left:0
}
.stream_min .twi {
  padding-top:0
}
.stream_min .twiC {
  margin:0
}
.cmt {
  *zoom:1;
  padding:0 0 3px;
  border-color:#e5e5e5;
  background:#fafafa;
  clear:both;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  width:524px
}
.cmt .twi .avt {
  left:-10px
}
.cmt .twi .avt32 {
  margin:0 0 -34px -34px
}
.cmt .twi .avt24 {
  left:-6px;
  top:4px;
  display:inline-block;
  *display:inline;
  *zoom:1;
  width:24px!important;
  height:24px!important;
  margin:0;
  vertical-align:middle
}
.cmt .twiT .avt24 .img {
  border:0
}
.cmt .signArr8 {
  left:100%;
  top:-8px;
  *float:left;
  margin:0 0 -8px -66px;
  color:#e5e5e5
}
.cmt .signArr8 .k2 {
  color:#fafafa
}
.cmt .close {
  top:5px;
  _float:left;
  margin-left:-23px
}
.cmt .twi,.cmtAll,.cmt .loading,.cmt .noCnt,.cmt .page,.postCmt {
  width:auto;
  padding-top:8px!important;
  padding-bottom:6px!important;
  margin-left:11px;
  margin-right:11px;
  margin-bottom:-1px;
  border:0;
  background:url(//s4.cr.itc.cn/img/s/lin/hr_dt_ba.gif) repeat-x
}
.cmt .page {
  margin-top:0
}
.cmt .ugc {
  display:inline!important;
  zoom:normal;
  font-size:12px!important;
  color:#333;
  line-height:22px!important
}
.cmt .twi {
  position:relative;
  padding:28px 10px 9px 9px!important
}
.cmt .wid {
  display:none
}
.cmt .twiT {
  margin-left:10px;
  *top:25px
}
.cmt .twiT .nm {
  position:static;
  margin:0!important
}
.twiRoot .cmt .twiT {
  position:absolute;
  margin:-23px 0 0 10px;
  display:block
}
.twiRoot .cmt .twiHasPic .twiT {
  *width:auto
}
.twiShow .cmt .twiT,.twiShow .twiRoot .cmt .twiT {
  _clear:none
}
.cmt .twiM {
  padding:0 10px 6px 28px;
  z-index:1
}
.cmt .twiM .pic {
  width:80px
}
.cmt .twiM .pic a {
  max-width:80px;
  max-height:110px;
  min-height:22px;
  _height:22px;
  text-align:center
}
.cmt .twiM .pic a,.cmt .twiM .picB {
  background:#e8e8e8
}
.cmt .twiM .picB {
  min-height:93px
}
.cmt .twiShow .picB img,.cmt .twiShow .picB canvas {
  max-width:436px!important
}
.cmt .twiC {
  margin:0 55px 0 30px;
  *margin:0 60px 0 25px;
  position:relative;
  _zoom:1
}
.cmt .twiHasPic .twiC {
  padding-left:90px;
  _padding-left:0
}
.cmt .twiShow .twiC {
  padding-left:0;
  clear:both;
  z-index:2
}
.twiRoot .cmt .twiHasPic .twiC {
  *width:auto;
  *float:none
}
.twiRoot .twiHasPic .cmt .twiC {
  *width:auto;
  _float:none
}
.twiHasPic .cmt .twiC {
  padding-left:0
}
.twiHasPic .cmt .twiHasPic .twiC {
  padding-left:90px;
  _padding-left:0
}
.twiHasPic .cmt .twiShow .twiC {
  padding-left:0
}
.twiShow .cmt .twiC {
  clear:none
}
.twiShow .cmt .twiHasPic .twiC {
  *padding-left:0
}
.twiShow .cmt .twiShow .twiC {
  clear:both;
  *padding-left:0
}
.twiShow .twiRoot .cmt .twiHasPic .twiC {
  padding-left:90px;
  *padding-left:0
}
.twiShow .twiRoot .cmt .twiShow .twiC {
  padding-left:0
}
.cmt .twiB {
  top:-1px;
  *top:-3px;
  _top:0;
  right:-65px;
  *right:-70px;
  position:absolute!important;
  margin:0
}
.cmt .twiB .tags {
  background:0
}
.cmt .loading {
  height:auto;
  padding:3px 0!important;
  border:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0
}
body .cmt .loading em {
  padding:3px 0
}
.cmt .btns2 .opt {
  top:-5px;
  margin:0!important
}
.cmtAll {
  padding-bottom:8px!important
}
.cmtAll .tags {
  float:right
}
.cmtAll .tags .fuc {
  color:#999
}
.cmtAll .fuc1 {
  padding:0;
  background:0
}
.cmt .noCnt {
  padding:8px .5em!important;
  margin-top:0;
  margin-bottom:0;
  font-size:12px
}
.postCmt {
  padding:0 0 10px 36px;
  background:0
}
.postCmt .ttl {
  margin:0 0 8px -36px;
  color:#666
}
.postCmt .avt24 {
  left:-9px;
  top:4px;
  margin:0 0 -24px -24px
}
.postCmt .tarea textarea {
  height:36px;
  min-height:36px
}
.postCmt .dropImg1 .dropD {
  width:auto;
  min-width:76px
}
body .postCmt .avt32 {
  left:-10px;
  top:0;
  *top:1px;
  position:relative;
  margin:0 0 -34px -34px
}
.postMb {
  margin-bottom:8px;
  display:block
}
.postMb .txt {
  background:#fff;
  border:1px solid #b6babd;
  width:145px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px
}
.postMb .txt input {
  color:#999;
  background:0;
  border:0
}
.postMb .tip {
  display:none
}
.postMb_err .txt {
  background:#fdefef;
  border:1px solid #f87f7f
}
.postMb_err .tip {
  color:#ef0000;
  display:block
}
.postMb_check .txt {
  background:0;
  border:0;
  width:auto;
  line-height:23px;
  line-height:24px\9
}
.postMb_check .txt input {
  width:90px;
  border:1px solid #b6babd;
  background:#fff
}
.postMb_check .txt a {
  margin:0 5px
}
.postMb_check .txt .mobiNum {
  color:#333
}
.postMb_check .tip {
  display:block;
  color:#999
}
.postMb .bubble .bubC {
  text-align:left;
  margin:0 0 -119px 12px;
  _margin-bottom:-109px;
  width:215px;
  *width:230px
}
.postMb .bubble .bubC .bubBd {
  padding:10px 20px 6px 35px
}
.postMb .bubble .bubC .bubBd .i134 {
  margin:0 0 -23px -30px;
  float:left
}
.postMb .bubble .bubC .bubBd .checkMbTip {
  margin-bottom:5px;
  display:block;
  *display:inline;
  *zoom:1
}
.postMb .bubble .bubC .bubBd .checkMbTip b {
  display:block
}
.postMb .bubble .bubC .bubBd .checkMbTip em {
  color:#ff7200;
  font-size:14px
}
.postMb .bubble .bubC .fucs2 {
  display:block
}
.postMb .bubble .bubC .fucs2 .fuc,.postMb .bubble .bubC .fucs2 a.fuc:hover {
  color:#08c
}
.comment h4.h4 .signArr .k2 {
  color:#f8f8f8
}
.comment .postCmt {
  padding:0 0 0 34px;
  margin-right:0
}
.comment .postCmt .ttl {
  display:none
}
.comment .cmt {
  padding:3px 9px 0;
  margin:0 -20px;
  border-width:1px 0;
  border-color:#e3e3e3;
  background:#f8f8f8;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0
}
.comment .cmt .noCnt {
  background:0
}
.comment2 .post .ttl {
  display:none
}
.comment2 .cmt {
  margin-left:auto;
  margin-right:auto;
  border:0;
  background:0
}
.comment2 h4 {
  padding:0 0 5px;
  border-bottom:1px solid #e9e9e9
}
.comment2 .twiT {
  position:absolute;
  margin:-23px 0 0;
  *margin:-23px 0 0 10px;
  *left:0
}
.usr {
  margin:0 0 0 60px;
  *zoom:1
}
.usr .avt {
  left:-10px;
  top:3px;
  position:relative;
  display:block;
  margin:0 0 -50px -50px
}
.usr .nm {
  display:block
}
.usr .nm .btn {
  margin-left:9px
}
.usr .stat {
  position:relative;
  left:185px;
  width:20px;
  height:20px;
  margin:0 0 -20px;
  white-space:nowrap;
  color:#999
}
.usr .oper {
  display:inline;
  float:right;
  height:40px;
  margin:-2px 0 -40px;
  text-align:right
}
.usr .oper .tags {
  float:right;
  *display:inline;
  *zoom:1
}
.usr .ugc {
  display:block
}
.usr .pd {
  display:block
}
.usr .pd .memo a {
  color:#666!important
}
.usr .pd1 .memo {
  display:block
}
.usr .More {
  top:1px;
  margin-left:0
}
.usr .relat {
  background:#f5f5f5;
  padding:2px 9px 5px;
  margin:7px 0;
  border-top-width:0;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px
}
.usr .from {
  display:block
}
.usr .relat .signArr q {
  color:#f5f5f5
}
.usr .cbox {
  display:block;
  margin:52px 0 -72px -43px;
  *margin:55px 0 -72px -43px
}
.usr2 {
  display:inline-block;
  *display:inline;
  *zoom:1;
  width:4em;
  margin:5px 11px 5px 0;
  *margin-right:15px;
  _margin-right:13px;
  vertical-align:top
}
.usr2 .nm {
  overflow:hidden;
  display:block;
  height:18px;
  white-space:normal
}
.usr2 .fucs .fuc {
  vertical-align:top
}
.usr3 {
  min-height:40px;
  _height:40px;
  margin-bottom:8px
}
.usr3 .oper {
  top:-1px;
  left:100%;
  position:relative;
  display:block;
  width:20px;
  height:20px;
  margin:0 0 -20px -20px
}
.usr3 .avt {
  top:3px;
  float:left;
  padding-right:5px
}
.usr3 .nm {
  overflow:hidden;
  display:block;
  width:7em!important;
  height:20px;
  white-space:normal
}
.usr3 .fucs {
  height:20px;
  margin:-21px 0 0 130px;
  overflow:hidden
}
.usr3 .relat {
  display:block;
  margin-left:39px
}
.usr3 .bio {
  overflow:hidden;
  height:20px;
  display:block;
  color:#999
}
.usr3a .fucs {
  overflow:visible;
  height:auto;
  margin:-3px 0 0
}
.usr3a .local {
  display:block;
  height:20px;
  overflow:hidden
}
.usr3a .fans {
  display:inline-block
}
.usr3a .oper {
  left:0;
  margin:0 0 0 55px;
  top:1px;
  width:58px;
  *z-index:1;
  *position:static
}
.usr3a .oper .dropD {
  top:-4px!important
}
.usr3a .cbox {
  display:block;
  margin:50px 0 -70px 17px;
  *margin-top:53px;
  *float:left;
  *margin-left:-40px;
  _margin-top:50px
}
.usr3a .dropGroup .cbox {
  *float:none
}
.usr3b {
  width:184px;
  min-height:41px;
  _height:41px;
  vertical-align:top;
  margin:7px 11px;
  display:inline-block;
  *display:inline;
  *zoom:1
}
.usr3b .avt {
  margin:0;
  left:0
}
.usr3b .nm a {
  color:#464646!important
}
.usr3b .nm a:hover {
  color:#444!important
}
.usr3b .oper {
  width:auto;
  left:0;
  padding:0!important;
  *position:static
}
.usr3b .dropGroup .c .fucs {
  margin:0
}
.usr3b .oper .dropD {
  top:-4px!important
}
.usr4 {
  display:inline-block;
  *display:inline;
  *zoom:1;
  height:74px;
  padding:10px 10px 1px;
  margin:0 8px 7px;
  vertical-align:top;
  cursor:pointer
}
.usr4 .status {
  z-index:2;
  left:13px;
  top:33px;
  position:relative;
  overflow:hidden;
  display:block;
  width:13px;
  height:13px;
  margin:0 0 -13px -13px;
  background:url(//s4.cr.itc.cn/i/2/066_88f5d39dee.png) no-repeat;
  cursor:pointer
}
.usr4 .nm {
  overflow:hidden;
  width:4em;
  height:20px;
  white-space:normal
}
.usrLis {
  *zoom:1
}
.usrLis .usr {
  min-height:52px;
  _height:52px;
  border-top:1px dashed #ddd;
  padding:10px 0 10px 70px;
  margin:-1px 0 0
}
.usrLis .usr:first-child {
  margin-top:0;
  border:0
}
.usrLis .usr .nm {
  white-space:normal
}
.usrLis .usr .ugc {
  font-size:12px
}
.usrLis2 .usr {
  min-height:65px;
  _height:65px
}
.stream .usrLis a,.stream .usrLis a:hover {
  color:#08c
}
.stream .usrLis .relat .usrLis {
  margin:0 -5px -6px
}
.stream .usrLis .relat .usrLis .usr3b {
  width:170px;
  margin:7px 5px
}
.stream .usrLis .usr .relat .usrLis .usr3b .nm {
  width:6em!important
}
.stream .usrLis .usr .relat .relatC .nm {
  overflow:visible
}
.aside .usrLi .usr .nm {
  width:9em;
  overflow:hidden
}
.oldUsrLi h6,.oldUsrLi .fucs2 {
  display:none
}
.oldUsrLi .apb .fucs2 {
  display:block
}
.newUsrLi h6 {
  display:block;
  line-height:30px;
  line-height:32px\9;
  height:30px
}
.newUsrLi .fucs2 {
  margin:-5px 0 0
}
.newUsrLi .apb {
  display:none
}
.usrInf {
  margin-top:9px;
  border-top:1px dashed #ddd
}
.usrInf dt {
  padding:9px 0 0;
  font-size:14px;
  line-height:normal;
  color:#666
}
.usrInf dd {
  padding:7px 0 8px
}
body .aside .usrStat {
  border:0;
  background:0
}
.usrStat .nm {
  font-size:20px;
  white-space:normal
}
.aside .usrStat .nm,.mainT .usrStat .nm {
  font-family:'Microsoft YaHei',\5fae\8f6f\96c5\9ed1,STHeiti,SimHei
}
.aside .usrStat .bio {
  margin-top:8px;
  color:#999
}
.usrStat .nm,.usrStat .nm a {
  color:#192c38
}
.usrStat .nm .i,.usrStat .nm .p {
  margin-left:5px
}
.usrStat .ttl {
  font-size:14px
}
.usrStat .ttl .nm {
  margin-left:5px
}
.usrStat .usr,.usrStat .nexus,.usrStat .bio,.honor {
  margin-left:0
}
.usrStat2 {
  padding-left:20px
}
.usrStat2 .usr,.usrStat2 .nexus,.usrStat2 .bio,.honor {
  margin-left:0
}
.mainT .usrStat {
  min-height:210px;
  _height:210px;
  padding:8px 0 0
}
.mainT .usrStat .usr,.mainT .usrStat .nexus,.mainT .usrStat .bio,.mainT .usrInf {
  margin-left:200px
}
.mainT .usrStat .avt180 {
  left:-20px;
  top:185px;
  padding:0;
  margin:-180px 0 0 -180px
}
.mainT .usrStat .usr .nm {
  margin-bottom:4px;
  font-size:22px;
  font-weight:normal;
  display:inline-block;
  *display:inline;
  *zoom:1;
  *vertical-align:middle
}
.mainT .usrStat .usr .memo {
  display:inline-block;
  line-height:40px
}
.mainT .usrStat .usr .memo a {
  font-size:14px
}
.mainT .usrStat .bio {
  margin-top:5px
}
.mainT .usrStat .postq {
  height:20px;
  left:100%;
  margin:0 0 -20px -100px;
  position:relative;
  text-align:right;
  top:10px;
  width:100px
}
.mainT .usrStat .postq .i {
  margin-right:5px
}
.mainT .usrStat .inf li .uri {
  overflow:hidden;
  white-space:nowrap;
  word-wrap:normal;
  text-overflow:ellipsis;
  width:220px;
  display:block;
  height:22px
}
.mainT .usrStat .inf li a.uri:hover {
  text-decoration:underline
}
.usrStat3 {
  margin:0 35px;
  padding-top:35px
}
.usrStat3 .usr {
  padding-left:60px;
  min-height:60px;
  _height:60px
}
.usrStat3 .usr .avt {
  top:4px
}
.usrStat3 .nm {
  padding:0 0 4px;
  font-size:14px;
  display:inline-block;
  *vertical-align:middle
}
.usrStat3 .stat {
  position:static;
  width:auto;
  height:auto;
  margin:0
}
.usrLis .usr .nm {
  font-size:14px;
  font-weight:bold
}
.stream .usrLis .usr .pd .nm {
  display:inline
}
.stream .usrLis .usr .nm {
  font-size:12px;
  font-weight:normal;
  height:20px
}
.stream .usrLis .usr .ugc .nm {
  overflow:visible
}
.usrRecom .apt {
  padding:5px 0 0;
  font-size:20px;
  color:#666
}
.usrRecom .btns2 {
  margin:0 10px
}
.usrRecom .opt {
  float:right;
  margin:0 10px;
  vertical-align:middle
}
.usrRecom .opt .btn {
  margin-left:10px;
  *vertical-align:middle
}
.recoLi {
  position:relative;
  overflow:hidden;
  overflow-y:auto;
  height:275px;
  margin:10px auto
}
.recoLi .usr4 {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px
}
.recoLi .hover,.usr4:hover {
  background:#eff1f2;
  padding:9px 9px 0;
  border:1px solid #ebebeb
}
.recoLi .selected {
  background:url(//s5.cr.itc.cn/i/2/073_aa655c222c.png) repeat-x;
  padding:9px 9px 0;
  border:1px solid #d2d3d4
}
.recoLi .selected .status {
  background-position:0 -13px
}
.newUsrRec {
  border:1px solid #e3e3e3;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  background:#f1f3f3;
  padding:5px 0;
  margin-bottom:10px
}
.newUsrRec h3 {
  text-align:center;
  margin:10px 18px;
  background:url(//s6.cr.itc.cn/i/3/627_a359845821.png) center left repeat-x
}
.newUsrRec h3 em {
  padding:0 17px;
  background:#f1f3f3
}
.newUsrRec .apc {
  padding:0 10px
}
.newUsrRec .usr3 {
  display:inline-block;
  *display:inline;
  *zoom:1;
  border:1px solid #dbdbdb;
  width:167px;
  margin:2px 4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  padding:4px 11px;
  vertical-align:top
}
.newUsrRec .usr3 .avt {
  _padding-right:0
}
.newUsrRec .usr3 .nm {
  width:10em!important;
  height:18px
}
.newUsrRec .usr3 .nm a {
  color:#333
}
.newUsrRec .usr3 .cbox {
  margin-right:0
}
.newUsrRec .usr3 .relat {
  height:20px;
  _width:130px;
  margin-left:0;
  color:#999;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal
}
.newUsrRec .hover {
  cursor:pointer
}
.newUsrRec .selected {
  background:#fff
}
.newUsrRec .opt {
  text-align:right;
  margin:10px 5px 0
}
.newUsrRec .opt .cbox {
  color:#999
}
.barLi .usr3 {
  min-height:50px;
  _height:50px
}
.barLi .lvlicon {
  position:absolute;
  bottom:5px;
  right:5px;
  display:block;
  height:12px;
  line-height:12px;
  background:url(//s4.cr.itc.cn/i/7/fansbar/008_4f145a0c6c.png) no-repeat;
  padding:0 4px 0 10px;
  color:#fff;
  font-size:10px;
  *font-size:9px;
  -webkit-text-size-adjust:none
}
.dropDown,.dropFake {
  overflow:visible;
  z-index:13;
  text-align:left;
  position:relative;
  display:block;
  *zoom:1;
  _width:0;
  height:0;
  font-size:0;
  line-height:0;
  text-indent:0;
  vertical-align:top;
  color:#333
}
.dropD {
  overflow:visible;
  top:-1px;
  position:absolute;
  min-width:76px;
  _width:76px;
  border:1px solid #bebebe;
  font-size:12px;
  line-height:1.667;
  vertical-align:top;
  background:#fff;
  -moz-border-radius:0 3px 3px 3px;
  -webkit-border-radius:0 3px 3px 3px;
  border-radius:0 3px 3px 3px;
  -moz-box-shadow:1px 1px 4px rgba(0,0,0,.15);
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,.15);
  box-shadow:1px 1px 4px rgba(0,0,0,.15)
}
.tabs .act,.btn_act {
  border-color:#bebebe #bebebe #fff!important;
  -moz-box-shadow:1px 0 0 rgba(0,0,0,.11);
  -webkit-box-shadow:1px 0 0 rgba(0,0,0,.11);
  box-shadow:1px 0 0 rgba(0,0,0,.11)
}
.dropT,.dropC {
  *zoom:1
}
.dropD .signArr {
  display:none
}
.dropT {
  height:26px;
  line-height:26px;
  padding:2px 8px 0;
  color:#666
}
.dropT .dropD {
  top:-3px!important;
  *top:-1px!important;
  left:0!important
}
body .dropD .dropD {
  width:92px
}
.dropL {
  zoom:1;
  display:block;
  padding:2px 0 1px;
  white-space:nowrap;
  min-width:76px;
  _width:76px
}
b.dropL {
  margin:2px 0 0;
  border-top:1px solid #e4e4e4
}
.dropL a,.dropL .noItem {
  position:relative;
  overflow:hidden;
  display:block;
  height:23px;
  line-height:23px;
  line-height:25px\9;
  padding:0 10px;
  margin:0 -1px;
  word-wrap:break-word;
  color:#464646;
  *min-width:56px;
  _width:56px
}
.dropL a:hover {
  color:#fff!important;
  text-decoration:none;
  background:#858585
}
.dropL .selected,.dropL a.selected:hover {
  margin:0;
  color:#ff7200!important;
  background:#fff!important;
  cursor:default
}
.dropL a .iNew {
  right:7px;
  *right:12px;
  position:absolute;
  margin:0
}
.stream .usrLis .dropL a,.stream .usrLis .dropL .noItem {
  color:#464646
}
.tags .dropD,.fucs .dropD,.dropT .dropD {
  top:-4px!important
}
.droD .dropD {
  bottom:2px!important;
  top:auto!important
}
.droD .dropD .signArr {
  bottom:0;
  top:auto;
  position:absolute
}
.droD .dropD .signArr q {
  top:-5px;
  _top:-4px
}
.droD .dropD .signArr .k3 {
  top:-6px;
  _top:-5px
}
.dropLogin,.oper .dropDown,.dropFake {
  *direction:expression(function(x) {
    try {
    o=x.parentNode.firstChild.offsetWidth;
  if(o) {
  x.style.width=o;
  x.style.direction='ltr'
}
}
catch(e) {
  return
}
}
(this))
}
.oper .dropFake .dropDown {
  *width:auto;
  *direction:ltr
}
.dropLogin .dropD,.oper .dropD {
  right:0;
  left:auto!important
}
.oper .dropD {
  -moz-border-radius:3px 0 3px 3px;
  -webkit-border-radius:3px 0 3px 3px;
  border-radius:3px 0 3px 3px
}
.tabs .dropD {
  min-width:100px;
  *width:100px
}
.dropGroup .dropD {
  min-width:140px;
  *width:140px
}
.dropGroup .dropC {
  padding:10px 10px 6px
}
.dropGroup .groups {
  padding:0 0 5px;
  border-bottom:1px solid #ececec
}
.dropGroup .c {
  padding:4px 3px 0 1px;
  margin:5px 0 0;
  border-top:1px solid #ececec
}
.dropGroup .cbox {
  display:block;
  padding:0 10px;
  margin:0 -10px
}
.dropGroup .txt {
  margin-bottom:6px
}
.dropGroup .txt input {
  width:70px
}
.dropGroup .btn {
  margin-left:6px
}
.dropGroup .err {
  display:block
}
.dropGroup .ttl {
  margin:0 0 3px;
  color:#999
}
.assoc {
  position:absolute;
  border:1px solid #d1d1d1;
  background:#fff
}
.assoc .ttl {
  overflow:hidden;
  width:135px;
  height:21px;
  margin:0 0 -21px
}
.assoc ul {
  position:relative;
  margin:2px
}
.assoc li {
  overflow:hidden;
  height:21px;
  padding-right:10px;
  text-indent:10px;
  line-height:21px;
  white-space:nowrap;
  cursor:pointer;
  *text-overflow:ellipsis;
  *width:230px
}
.assoc li.hover {
  background:#ebeaea
}



a,a.fuc {
  color:#999
}
.Bdy,.footer,.Lay,.Cloud,.Theme,.tray {
  width:964px
}
.Cloud {
  z-index:10;
  margin:0 auto
}
.cloud {
  padding:0;
  left:54px;
  width:620px
}
.Main,.Aside {
  width:964px
}
.Aside {
  margin-left:-964px
}
.land {
  background:#e1e1e1
}
.LANDBG {
  padding-top:0;
  background:url(//s6.cr.itc.cn/i/6/82_5ec5bfb022.jpg) no-repeat center 0;
  *zoom:1
}
.Head {
  width:964px;
  margin:0 auto;
  position:relative
}
.selectLogo {
  width:158px;
  height:58px;
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin:0;
/*  margin-bottom:-1px\9;*/
/*  *margin-bottom:5px;*/
  left:0
}
.selectLogo .png {
  background:url(/images/logo_name.png) no-repeat;
/*  margin-bottom:-28px;*/
  _background:none!important;
/*  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://s5.cr.itc.cn/i/6/83_e9ca13225e.png',sizingMethod='crop')*/
}
.Head .topP {
  color:#565859;
  font-size:14px;
  display:block;
  position:relative;
  margin:-48px 0 5px 160px
/*  *margin:-36px 0 -7px 109px*/
}
.Main {
  margin:0
}
.main {
  width:730px;
  margin:0
}
.mainT,.mainC {
  -webkit-border-image:none;
  -moz-border-image:none;
  border-image:none;
  border:0
}
.mainT {
  background:0;
  padding:0;
  margin:0;
  min-height:0;
  height:0;
  border-width:0;
  overflow:hidden
}
.mainC {
  padding:0;
  margin:0;
  width:$left_main;
  background:0
}
.twis {
  margin-top:10px
}
.twis .twi_new {
  border-color:#e5e5e5
}
.stream {
  background:white;
  padding:26px 54px 20px;
  margin:5px 0 20px;
  border:1px solid #cacaca;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}





.aside {
  width:$right_main;
  padding:0;
  float:right;
  margin:7px 0 0
}
.aside .ap,.aside .aps,.aside dl {
  padding:0 0 13px
}
.aside .ap {
  margin-bottom:5px;
  border:1px solid #cacaca;
  background-color:#fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}
.aside>div[class^="ap"]:first-child {
  border:1px solid #cacaca;
  background-color:#fff
}
.aside h4 {
  background:url(//s5.cr.itc.cn/i/6/84_9433ddd0ef.jpg) repeat-x;
  padding:0 18px 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  height:31px;
  line-height:31px;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0
}
.aside h4 em {
  font-size:16px;
  font-family:'Microsoft YaHei',Tahoma,Arial;
  color:#222
}
.aside .intro,.aside .lis {
  padding:8px 18px 0
}






.Footer,.Footer_min {
  padding:17px 0 27px;
  background:#232323
}

.s{
  font-size:$s;
}

.mi{
  font-size:$m;
}

.c{
  font-size:$c;
}

.b{
  font-size:$b;
}

.x{
  font-size:$x;
}

.xl{
  font-size:$xl;
}
.red{
  color: red;
}