html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #111111;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}
del, ins {
    text-decoration: none;
}
ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: baseline;
}
sub {
    vertical-align: baseline;
}
legend {
    color: #000000;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, button, textarea, select {
}
ol {
    padding: 0 0 0 20px;
}
textarea {
    font-family: Arial;
    overflow: auto;
}
input {
    font-size: 12px;
}
a {
    cursor: pointer;
}
a:link {
    color: #336699;
    text-decoration: none;
}
a:visited {
    color: #666699;
    text-decoration: none;
}
a:hover {
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
    text-decoration: none;
}
a:active {
    background: none repeat scroll 0 0 #FF9933;
    color: #FFFFFF;
    text-decoration: none;
}
a img {
    border-width: 0;
    vertical-align: middle;
}
body, td, th {
    font: 12px/162% Arial,Helvetica,sans-serif;
}
body {
    margin: 15px 0;
}
table {
    border: 0 none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
wbr:after {
    content: "​";
}
.clearfix {
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.ll {
    float: left;
}
.rr {
    float: right;
}
.pl {
    color: #666666;
    font: 12px/150% Arial,Helvetica,sans-serif;
}
.pl2 {
    color: #666666;
    font: 14px/150% Arial,Helvetica,sans-serif;
}
.l2 {
    font: 14px/150% Arial,Helvetica,sans-serif;
}
.alert {
    background-color: #FFF6EE;
    border: 1px solid #CCCCCC;
}
.attn {
    color: #FF3300;
}
.hidden {
    display: none;
}
.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.greyinput {
    color: #CCCCCC;
}
.gact {
    color: #BBBBBB;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.gact a:link, a.gact:link {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.gact a:visited, a.gact:visited {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.gact a:hover, a.gact:hover {
    background-color: #773333;
    border-color: #FF9999 #FF3333 #FF3333 #FF9999;
    border-left: 1px solid #FF9999;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.mod {
    margin-bottom: 35px;
    width: auto;
}
.mod:after {
    clear: both;
    content: " ";
    display: block;
}
.aside .mod {
    margin-bottom: 40px;
}
textarea {
    resize: none;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: 0 none;
}
#wrapper {
    margin: 0 auto;
    width: 950px;
}
#content {
    min-height: 420px;
}
#footer {
    border-top: 1px dashed #DDDDDD;
    color: #999999;
    margin-top: 40px;
    overflow: hidden;
    padding-top: 6px;
}
.grid-16-8 .article {
    float: left;
    padding-right: 40px;
    width: 590px;
}
.grid-16-8 .article .switch-to-shuo {
    float: right;
    margin-top: -45px;
}
.grid-16-8 .article .switch-to-shuo a {
    background: url("/pics/switch_to_shuo.png") no-repeat scroll left top transparent;
    display: block;
    height: 38px;
    width: 134px;
}
.grid-16-8 .article .switch-to-shuo a:hover {
    background-position: left -38px;
}
.grid-16-8 .article .switch-to-shuo a:active {
    background-position: left -76px;
}
.grid-16-8 .aside {
    float: right;
    width: 310px;
}
.grid-4-14-6 .nav {
    float: left;
    margin-right: 10px;
    width: 150px;
}
.grid-4-14-6 .article {
    float: left;
    padding-right: 10px;
    width: 540px;
}
.grid-4-14-6 .aside {
    float: right;
    width: 230px;
}
.extra {
    clear: both;
    text-align: right;
}
form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
fieldset {
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
    padding: 0 10px;
}
fieldset legend {
    color: #666666;
    padding: 0 5px;
}
input {
    margin-right: 3px;
    vertical-align: middle;
}
label {
    font-family: Tahoma;
    vertical-align: middle;
}
#footer .gray-link a:link, #footer .gray-link a:visited, #footer .gray-link a:active {
    background: none repeat scroll 0 50% transparent;
    color: #999999;
}
#footer .gray-link a:hover {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}
#footer .blue-link a:link, #footer .blue-link a:visited, #footer .blue-link a:active {
    background: none repeat scroll 0 50% transparent;
    color: #336699;
}
#footer .blue-link a:hover {
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
}
a.processing:link, a.processing:visited {
    color: #666666;
}
a.processing:hover, a.processing:active {
    background-color: #666666;
    color: #FFFFFF;
}
h1 {
    color: #494949;
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 15px;
    word-wrap: break-word;
}
h2 {
    color: #006600;
    font: 14px/150% Arial,Helvetica,sans-serif;
    margin: 0 0 12px;
}
h3 {
    background: url("/pics/topicbar.gif") no-repeat scroll right top transparent;
    color: #666666;
    font: 14px/150% Arial,Helvetica,sans-serif;
    height: 26px;
    margin-bottom: 1px;
    margin-left: 4px;
}
h3 img {
    margin: 1px 1px 0 0;
}
h4 {
    background: url("/pics/topicbar.gif") no-repeat scroll right top transparent;
    color: #666666;
    font: 12px/1.8em Arial,Helvetica,sans-serif;
    height: 26px;
    margin: 0 0 10px 4px;
    overflow: hidden;
}
.obu {
    display: inline;
    float: left;
    margin: 0 0 10px;
    width: 76px;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.allstar50, .allstar45, .allstar40, .allstar35, .allstar30, .allstar25, .allstar20, .allstar15, .allstar10, .allstar05 {
    background: url("/pics/allstar.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    font: 12px/1 tahoma;
    height: 12px;
    margin-bottom: 7px;
    overflow: hidden;
    width: 55px;
}
.allstar50 {
    background-position: 0 0;
}
.allstar45 {
    background-position: 0 -12px;
}
.allstar40 {
    background-position: 0 -24px;
}
.allstar35 {
    background-position: 0 -36px;
}
.allstar30 {
    background-position: 0 -48px;
}
.allstar25 {
    background-position: 0 -60px;
}
.allstar20 {
    background-position: 0 -72px;
}
.allstar15 {
    background-position: 0 -84px;
}
.allstar10 {
    background-position: 0 -96px;
}
.allstar05 {
    background-position: 0 -108px;
}
.stars {
    background: url("/pics/stars.gif") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin: 1px 0 0 7px;
    width: 50px;
}
.stars4 {
    background-position: left 61px;
}
.stars3 {
    background-position: left 45px;
}
.stars2 {
    background-position: left 30px;
}
.stars1 {
    background-position: left 15px;
}
.star .allstar50, .star .allstar45, .star .allstar40, .star .allstar35, .star .allstar30, .star .allstar25, .star .allstar20, .star .allstar15, .star .allstar10, .star .allstar05 {
    float: left;
    margin-top: 3px;
}
.infobox {
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
}
.infobox h2 {
    margin-top: 0;
}
.infobox form {
    margin: 0;
}
.infobox .ex2, .infobox .ex1 {
    background: url("/pics/info_bg.png") no-repeat scroll 100% 0 transparent;
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin-left: 5px;
}
.infobox .ex2 span, .infobox .ex1 span {
    background: url("/pics/info_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    margin-left: -5px;
    overflow: hidden;
    position: relative;
    width: 5px;
}
.infobox .ex2 {
    background-position: 100% -5px;
}
.infobox .ex2 span {
    background-position: 0 -5px;
}
.infobox .bd {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFF6ED;
    border-color: #FAEFE3;
    border-style: solid;
    border-width: 0 1px;
    padding: 4px 9px;
    word-wrap: break-word;
}
.infobox .bd:after {
    clear: both;
    content: " ";
    display: block;
}
.ul {
    border-bottom: 1px dashed #DDDDDD;
    clear: both;
    line-height: 100%;
}
.paginator {
    color: #AAAAAA;
    font: 14px/150% Arial,Helvetica,sans-serif;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.paginator a, .thispage, .break {
    margin: 2px;
    padding: 0 4px;
}
.paginator .prev {
    margin-right: 20px;
}
.paginator .next {
    margin-left: 20px;
}
.paginator .next a, .paginator .prev a {
    margin: 0;
    padding: 0;
}
.paginator .count {
    font-size: 14px;
    margin-left: 20px;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #83BF73;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}
.paginator .thispage {
    background: none repeat scroll 0 0 #83BF73;
    color: #FFFFFF;
}
.paginator .break {
    color: #999999;
}
.album {
    background: url("/pics/albumback.gif") no-repeat scroll 1px 1px transparent;
    padding: 4px 7px 7px 4px;
}
.album_s {
    background: url("/pics/albumback_s.gif") no-repeat scroll 1px 1px transparent;
    padding: 5px 8px 8px 5px;
}
.video_overlay {
    background: url("/pics/video_overlay.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 97px;
    left: 0;
    position: absolute;
    top: 0;
    width: 130px;
}
.video_overlay:hover {
    background-position: 0 -97px;
}
* html .video_overlay {
    background: none repeat scroll 0 50% transparent;
}
* .videothumb {
    margin-left: 24px;
}
* .vthumbwrap {
    height: 97px;
    position: relative;
    text-align: center;
    width: 130px;
}
* .vthumbwrap img {
    height: 97px;
    width: 130px;
}
.pop_win_bg {
    background: none repeat scroll 0 0 #000000;
    border-radius: 6px 6px 6px 6px;
    opacity: 0.3;
    position: fixed;
}
.pop_win form {
    border: 1px solid #FFFFFF;
    margin: 0;
    padding: 0;
}
a.pop_win_close {
    color: #B4B4B4;
    font: 11px "Comic Sans MS";
    margin: 9px 10px 0 0;
    padding: 0 0.3em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
a.pop_win_close:hover {
    background: none repeat scroll 0 50% transparent;
    color: #FAB0B6;
}
.pop_win {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    padding: 17px 14px 16px 12px;
    position: fixed;
    visibility: hidden;
}
#dialog {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    left: 50%;
    margin-top: -140px;
    padding: 0;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 103;
}
#overlay {
    background-color: #333333;
    border-radius: 6px 6px 6px 6px;
    left: 50%;
    margin-left: -13px;
    margin-top: -148px;
    opacity: 0.2;
    position: fixed;
    top: 50%;
    width: 588px;
    z-index: 102;
}
.bgi {
    border: 0 none;
    left: 50%;
    margin-left: -250px;
    margin-top: -140px;
    position: fixed;
    top: 50%;
    width: 550px;
    z-index: 101;
}
* html #dialog {
    position: absolute;
}
* html #overlay {
    margin-top: -140px;
    position: absolute;
}
#dialog td {
    padding: 7px;
}
#dialog td.ul {
    padding: 0;
}
#dialog p {
    margin: 0;
}
#populartags {
    margin: 3px 0 10px;
}
#submits td {
    padding: 15px 0 5px;
}
* html #submits td {
    padding-bottom: 0;
}
.loadpop {
    padding: 30px;
    text-align: center;
}
#hiddendialog {
    display: none;
}
#actchoice {
    border-left: 1px dashed #DDDDDD;
    display: inline;
    float: right;
    padding: 0 0 0 5px;
    width: 100px;
}
#actchoice .m {
    margin-bottom: 40px;
}
#actchoice .rec-btn {
    margin: 0;
}
.rectitle {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 19px;
}
#dialog .rectitle {
    background-color: #EBF5EB;
}
#dialog .rectitle .m {
    color: #006600;
    display: block;
    font-size: 14px;
    line-height: 1.6em;
}
#dialog .rectitle .m i {
    font-style: normal;
    margin-left: 0.5ex;
}
.recsmr {
    color: #666666;
    display: block;
    line-height: 1.6em;
    margin-bottom: 10px;
    padding: 0 19px;
}
#dialog .rectitle .gact a:link, #dialog .rectitle .gact a:visited, #dialog .rectitle .gact a:hover, #dialog .rectitle .gact a:active {
    font-size: 14px;
    padding: 0 4px;
}
.bn-small, .bn-cta, .bn-flat input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    margin: 0;
}
.lnk-flat, .bn-flat {
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.lnk-flat, .bn-flat input {
    background-image: -moz-linear-gradient(center top , #FCFCFC, #E9E9E9);
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    font-size: 12px;
    height: 2.1em;
    line-height: 2.3;
    padding: 0 1.16em;
}
.ua-ie6 .bn-flat, .ua-ie7 .bn-flat, .ua-ie8 .bn-flat, .ua-ie9 .bn-flat, .ua-ie6 .lnk-flat, .ua-ie7 .lnk-flat, .ua-ie8 .lnk-flat, .ua-ie9 .lnk-flat {
    background: url("/pics/site/sp_all_2.png") repeat-x scroll 0 -700px transparent;
}
.lnk-flat:hover, .bn-flat input:hover, .bn-flat-over {
    background-color: transparent;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #DDDDDD);
    border-color: #999999 #999999 #666666;
    color: #333333;
}
.ua-ie6 .lnk-flat:hover, .ua-ie7 .lnk-flat:hover, .ua-ie8 .lnk-flat:hover, .ua-ie9 .lnk-flat:hover, .ui-ie6 .lnk-flat:active, .ui-ie7 .lnk-flat:active, .ui-ie8 .lnk-flat:active, .ui-ie9 .lnk-flat:active, .ua-ie6 .bn-flat input:hover, .ua-ie7 .bn-flat input:hover, .ua-ie8 .bn-flat input:hover, .ua-ie9 .bn-flat input:hover, .ua-ie6 .bn-flat-over, .ua-ie7 .bn-flat-over, .ua-ie8 .bn-flat-over, .ua-ie9 .bn-flat-over {
    background-position: 1px -706px;
}
.lnk-flat:active, .bn-flat input:active, .bn-flat-active input {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #999999 #999999 #666666;
    color: #333333;
}
.lnk-flat {
    line-height: 2.2em;
}
.lnk-flat:link, .lnk-flat:visited {
    text-decoration: none;
}
.bn-cta {
    background: none repeat scroll 0 0 #3FA156;
    border: 1px solid #528641;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 6px 20px;
}
.bn-cta:hover {
    background-color: #4FCA6C;
    border-color: #6AAD54;
}
.bn-cta:active {
    background-color: #3FA156;
    border-color: #528641;
}
.bn-small {
    background: none repeat scroll 0 0 #FFDDDD;
    border: 1px solid #FFABAB;
    border-radius: 4px 4px 4px 4px;
    color: #FF7676;
    line-height: 1.56;
    padding: 0 2px;
}
a.bn-small:link, a.bn-small:visited, a.bn-small:hover, a.bn-small:active {
    background: none repeat scroll 0 0 #FFDDDD;
    color: #FF7676;
    font-size: 12px;
    line-height: 1.8;
    padding: 0 4px;
}
.recsubmit .bn-flat {
    margin: 0 10px;
}
.lnk-sharing {
    border: 1px solid #B9DCD0;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    padding: 0 8px;
    vertical-align: middle;
}
a.lnk-sharing:link, a.lnk-sharing:visited {
    background-color: #F2F8F2;
    border-color: #E3F1ED;
    color: #4F946E;
}
a.lnk-sharing:hover, a.lnk-sharing:active {
    background-color: #EFF5EF;
    border-color: #C4E2D8;
}
