/* Reset */
body{vertical-align:middle;color:#303030;line-height:150%;margin:0;padding:0; background:#ffffff;-webkit-text-size-adjust: none;}
/*footer*/
.bom-nav{border-bottom:1px solid #acd456;padding:8px 0 8px 4px;color:#0051a4;}
a,a:link,.font-blue{color:#0051a4;text-decoration:none}
.footer{border-top:1px solid #acd456;background:#d6e697;padding:8px 0 8px 4px}
.footer a{color: #508208;}
.postmb a{color: #477703;}