/* Reset */
body,div,p,a,table,textarea,form,input,img,ul,li{ margin:0; padding:0;}
body{vertical-align:middle;color:#303030;line-height:150%;margin:0;padding:0; background:#ffffff;-webkit-text-size-adjust: none;}
/*header*/
/*.logo{background:url(/images/m/logo_bg_spring.png)  repeat-x;height:25px;overflow:hidden;}*/
.main-nav{background:url(/images/m/bg_mainnav.jpg) repeat-x #ebf5ff;height:25px;line-height:25px;padding:0 0 0 4px}
.sub-nav{background:#72ae1d url(/images/m/bg_subnav_spring.png) repeat-x;height:25px;line-height:25px;color:#75a4dc;padding:0 0 0 4px}
.ind-nav{background:#D6E697;color:#477703;padding:3px 0 2px 4px;border-bottom: 1px solid #ACD456;}
.ind-nav a.a_on{color: #477703}
a,a:link,.font-blue{color:#0051a4;text-decoration:none}
.sub-nav a{color:#fff}
.sub-nav .a_on{color:#e7f3ff;}
.sub-nav .a_open{color:#b9ff11;}
.sub-nav .a_new{color:#ff9a69;}
.sub-nav .font-red{color:#F9D47B;}
.ind-nav .a_open{color:#000;}
.ind-nav .a_on{color:#e34900;}