@charset "utf-8";
$m: 14px;
/* CSS Document */
body{font-size:$m;}
.sub-bg{font-size:$m;}
.sub-bg-ts{font-size:$m;}
.sub-bg-l{font-size:$m;}
.sub-bg-ss{font-size:$m;}
.sub-bg-m{font-size:$m;}
.sub-bg-mm{font-size:$m;}
.sub-bg-m-lbs{font-size:$m;}
.sub-bg-ml{font-size:$m;}
.sub-bg-mmm{font-size:$m;}