html {
	color:#111;
	background:#fff
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote {
	margin:0;
	padding:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img {
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style:inherit;
	font-weight:inherit
}
del,ins {
	text-decoration:none
}
ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal
}
q:before,q:after {
	content:''
}
abbr,acronym {
	border:0;
	font-variant:normal
}
sup {
	vertical-align:baseline
}
sub {
	vertical-align:baseline
}
legend {
	color:#000
}
input,button,textarea,select,optgroup,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input,button,textarea,select {
	*font-size:100%
}
ol {
	padding:0 0 0 20px
}
textarea {
	font-family:Arial;
	overflow:auto
}
input {
	font-size:12px
}
a {
	cursor:pointer
}
a:link {
	color:#369;
	text-decoration:none
}
a:visited {
	color:#669;
	text-decoration:none
}
a:hover {
	color:#fff;
	text-decoration:none;
	background:#039
}
a:active {
	color:#fff;
	text-decoration:none;
	background:#f93
}
a img {
	border-width:0;
	vertical-align:middle
}
body,td,th {
	font:12px Arial,Helvetica,sans-serif;
	line-height:162%
}
body {
	margin:15px 0;
	*margin:8px 0
}
table {
	border-collapse:collapse;
	border:0;
	padding:0;
	margin:0
}
pre {
	white-space:pre-wrap;
	word-wrap:break-word
}
wbr:after {
	content:"\00200B"
}
.clearfix {
	zoom:1;
	_height:1px
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.fleft {
	float:left
}
.fright {
	float:right
}
.ll {
	float:left
}
.rr {
	float:right
}
.pl {
	font:12px Arial,Helvetica,sans-serif;
	line-height:150%;
	color:#666
}
.pl2 {
	font:14px Arial,Helvetica,sans-serif;
	line-height:150%;
	color:#666
}
.l2 {
	font:14px Arial,Helvetica,sans-serif;
	line-height:150%
}
.alert {
	background-color:#fff6ee;
	border:1px solid #ccc
}
.attn {
	color:#f30
}
.hidden {
	display:none
}
.clear {
	clear:both;
	line-height:0;
	font-size:0
}
.greyinput {
	color:#ccc
}
.gact {
	color:#bbb;
	font-size:12px;
	text-align:center;
	cursor:pointer
}
.gact a:link,a.gact:link {
	color:#bbb;
	font-size:12px;
	text-decoration:none;
	text-align:center
}
.gact a:visited,a.gact:visited {
	color:#bbb;
	font-size:12px;
	text-decoration:none;
	text-align:center
}
.gact a:hover,a.gact:hover {
	color:#fff;
	font-size:12px;
	border-left:1px solid #f99;
	border-top:1px solid #f99;
	border-right:1px solid #f33;
	border-bottom:1px solid #f33;
	background-color:#733;
	text-align:center
}
.show {
	display:block
}
.hide {
	display:none
}
.mod {
	width:auto;
	*zoom:1;
	margin-bottom:35px
}
.mod:after {
	content:'\0020';
	display:block;
	clear:both
}
.aside .mod {
	margin-bottom:40px;
	word-break:break-all
}
textarea {
	resize:none
}
input[type=text]:focus,input[type=password]:focus,textarea:focus {
	outline:0
}
#wrapper {
	width:950px;
	margin:0 auto
}
#content {
	min-height:420px
}
#footer {
	color:#999;
	padding-top:6px;
	margin-top:40px;
	overflow:hidden;
	zoom:1;
	border-top:1px dashed #ddd
}
.grid-16-8 .article {
	float:left;
	width:590px;
	padding-right:40px
}
.grid-16-8 .article .switch-to-shuo {
	float:right;
	margin-top:-45px
}
.grid-16-8 .article .switch-to-shuo a {
	display:block;
	width:134px;
	height:38px;
	background:url('/pics/switch_to_shuo.png') no-repeat left top
}
.grid-16-8 .article .switch-to-shuo a:hover {
	background-position:left -38px
}
.grid-16-8 .article .switch-to-shuo a:active {
	background-position:left -76px
}
.grid-16-8 .aside {
	float:right;
	width:310px
}
.grid-4-14-6 .nav {
	float:left;
	width:150px;
	margin-right:10px
}
.grid-4-14-6 .article {
	float:left;
	width:540px;
	padding-right:10px
}
.grid-4-14-6 .aside {
	float:right;
	width:230px
}
.extra {
	clear:both;
	text-align:right
}
form {
	margin:0;
	padding:0;
	border:0
}
fieldset {
	border:1px solid #ddd;
	padding:0 10px;
	margin-bottom:15px
}
fieldset legend {
	color:#666;
	padding:0 5px
}
input {
	margin-right:3px;
	vertical-align:middle
}
label {
	font-family:Tahoma;
	vertical-align:middle
}
#footer .gray-link a:link,#footer .gray-link a:visited,#footer .gray-link a:active {
	color:#999;
	background:0
}
#footer .gray-link a:hover {
	color:#fff;
	background:#999
}
#footer .blue-link a:link,#footer .blue-link a:visited,#footer .blue-link a:active {
	color:#369;
	background:0
}
#footer .blue-link a:hover {
	color:#fff;
	background:#039
}
a.processing:link,a.processing:visited {
	color:#666
}
a.processing:hover,a.processing:active {
	background-color:#666;
	color:#fff
}
h1 {
	word-wrap:break-word;
	display:block;
	font-size:25px;
	font-weight:bold;
	color:#494949;
	margin:0;
	padding:0 0 15px 0;
	line-height:1.1
}
h2 {
	font:14px Arial,Helvetica,sans-serif;
	color:#060;
	margin:0 0 12px 0;
	line-height:150%
}
h3 {
	height:26px;
	margin-left:4px;
	font:14px Arial,Helvetica,sans-serif;
	color:#666;
	margin-bottom:1px;
	line-height:150%;
	background:url(/pics/topicbar.gif) no-repeat right top
}
h3 img {
	margin:1px 1px 0 0
}
h4 {
	height:26px;
	margin:0 0 10px 4px;
	overflow:hidden;
	font:12px Arial,Helvetica,sans-serif;
	color:#666;
	line-height:1.8em;
	background:url(/pics/topicbar.gif) no-repeat right top
}
.obu {
	margin:0 0 10px 0;
	width:76px;
	float:left;
	display:inline
}
.obu dt {
	margin:0;
	height:50px;
	overflow:hidden;
	text-align:center;
	line-height:16px
}
.obu dd {
	margin:0;
	height:55px;
	text-align:center;
	overflow:hidden
}
.allstar50,.allstar45,.allstar40,.allstar35,.allstar30,.allstar25,.allstar20,.allstar15,.allstar10,.allstar05 {
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:12px;
	overflow:hidden;
	width:55px;
	font:12px/1 tahoma;
	background:url(/pics/allstar.gif) no-repeat 0 0;
	margin-bottom:7px
}
.allstar50 {
	background-position:0 0
}
.allstar45 {
	background-position:0 -12px
}
.allstar40 {
	background-position:0 -24px
}
.allstar35 {
	background-position:0 -36px
}
.allstar30 {
	background-position:0 -48px
}
.allstar25 {
	background-position:0 -60px
}
.allstar20 {
	background-position:0 -72px
}
.allstar15 {
	background-position:0 -84px
}
.allstar10 {
	background-position:0 -96px
}
.allstar05 {
	background-position:0 -108px
}
.stars {
	display:-moz-inline-block;
	display:inline-block;
	background:url(/pics/stars.gif);
	width:50px;
	height:14px;
	margin:1px 0 0 7px
}
.stars4 {
	background-position:left 61px
}
.stars3 {
	background-position:left 45px
}
.stars2 {
	background-position:left 30px
}
.stars1 {
	background-position:left 15px
}
.star .allstar50,.star .allstar45,.star .allstar40,.star .allstar35,.star .allstar30,.star .allstar25,.star .allstar20,.star .allstar15,.star .allstar10,.star .allstar05 {
	float:left;
	margin-top:3px
}
.infobox {
	width:100%;
	table-layout:fixed;
	margin-bottom:20px
}
.infobox h2 {
	margin-top:0
}
.infobox form {
	margin:0
}
.infobox .ex2,.infobox .ex1 {
	clear:both;
	height:5px;
	line-height:0;
	font-size:0;
	margin-left:5px;
	background:url(/pics/info_bg.png) no-repeat 100% 0
}
.infobox .ex2 span,.infobox .ex1 span {
	position:relative;
	display:block;
	margin-left:-5px;
	width:5px;
	height:5px;
	overflow:hidden;
	background:url(/pics/info_bg.png) no-repeat 0 0
}
.infobox .ex2 {
	background-position:100% -5px
}
.infobox .ex2 span {
	background-position:0 -5px
}
.infobox .bd {
	word-wrap:break-word;
	padding:4px 9px;
	background:#fff6ed;
	border:1px solid #faefe3;
	border-width:0 1px;
	*display:inline-block
}
.infobox .bd:after {
	content:"\0020";
	display:block;
	clear:both
}
.ul {
	border-bottom:1px dashed #ddd;
	line-height:100%;
	clear:both
}
.paginator {
	width:100%;
	zoom:1;
	font:14px Arial,Helvetica,sans-serif;
	color:#aaa;
	margin:20px 0;
	line-height:150%;
	text-align:center
}
.paginator a,.thispage,.break {
	padding:0 4px;
	margin:2px
}
.paginator .prev {
	margin-right:20px
}
.paginator .next {
	margin-left:20px
}
.paginator .next a,.paginator .prev a {
	padding:0;
	margin:0
}
.paginator .count {
	margin-left:20px;
	font-size:14px
}
.paginator .thispage {
	color:#fff;
	background:#83bf73
}
.paginator .break {
	color:#999
}
.paginator .thispage {
	color:#fff;
	background:#83bf73
}
.paginator .break {
	color:#999
}
.album {
	background:url('/pics/albumback.gif') 1px 1px no-repeat;
	padding:4px 7px 7px 4px
}
.album_s {
	background:url('/pics/albumback_s.gif') 1px 1px no-repeat;
	padding:5px 8px 8px 5px
}
.video_overlay {
	width:130px;
	height:97px;
	top:0;
	left:0;
	position:absolute;
	background:url(/pics/video_overlay.png);
	cursor:pointer;
	#top:0
}
.video_overlay:hover {
	background-position:0 -97px
}
* html .video_overlay {
	background:0;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/pics/video_overlay_ie6.png')
}
* .videothumb {
	margin-left:24px
}
* .vthumbwrap {
	width:130px;
	height:97px;
	text-align:center;
	position:relative
}
* .vthumbwrap img {
	width:130px;
	height:97px
}
.pop_win_bg {
	opacity:.3;
	filter:alpha(opacity=30);
	position:fixed;
	background:#000;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)*.45))!important
}
.pop_win form {
	padding:0;
	margin:0;
	border:1px solid #fff
}
a.pop_win_close {
	position:absolute;
	right:0;
	top:0;
	font:11px "Comic Sans MS";
	margin:9px 10px 0 0;
	padding:0 .3em;
	color:#b4b4b4;
	z-index:99
}
a.pop_win_close:hover {
	color:#fab0b6;
	background:0
}
.pop_win {
	background:#fff;
	padding:17px 14px 16px 12px;
	_padding-right:0;
	visibility:hidden;
	position:fixed;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	_position:absolute;
	_margin-top:expression(eval(document.documentElement.scrollTop))
}
#dialog {
	position:fixed;
	z-index:103;
	top:50%;
	left:50%;
	width:550px;
	margin-top:-140px;
	background-color:#fff;
	padding:0;
	border:1px solid #bbb;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px
}
#overlay {
	opacity:.2;
	filter:alpha(opacity=20);
	position:fixed;
	z-index:102;
	top:50%;
	left:50%;
	width:588px;
	margin-top:-148px;
	margin-left:-13px;
	background-color:#333;
	padding-top:20px\9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px
}
.bgi {
	position:fixed;
	z-index:101;
	top:50%;
	left:50%;
	width:550px;
	margin-top:-140px;
	margin-left:-250px;
	border:0
}
* html #dialog {
	position:absolute;
	margin-top:expression(exp_dialog(this))
}
* html #overlay {
	margin-top:-140px;
	position:absolute;
	margin-top:expression(exp_overlay(this))
}
#dialog td {
	padding:7px
}
#dialog td.ul {
	padding:0
}
#dialog p {
	margin:0
}
#populartags {
	margin:3px 0 10px 0
}
#submits td {
	padding:15px 0 5px 0
}
* html #submits td {
	padding-bottom:0
}
.loadpop {
	padding:30px;
	text-align:center
}
#hiddendialog {
	display:none
}
#actchoice {
	float:right;
	display:inline;
	width:100px;
	border-left:1px dashed #ddd;
	padding:0 0 0 5px
}
#actchoice .m {
	margin-bottom:40px
}
#actchoice .rec-btn {
	margin:0
}
.rectitle {
	padding:10px 19px;
	margin-bottom:10px;
	overflow:hidden;
	word-break:break-all
}
#dialog .rectitle {
	background-color:#ebf5eb
}
#dialog .rectitle .m {
	color:#060;
	line-height:1.6em;
	display:block;
	font-size:14px
}
#dialog .rectitle .m i {
	font-style:normal;
	margin-left:.5ex
}
.recsmr {
	line-height:1.6em;
	color:#777;
	padding:0 19px;
	margin-bottom:10px;
	display:block;
	color:#666
}
#dialog .rectitle .gact a:link,#dialog .rectitle .gact a:visited,#dialog .rectitle .gact a:hover,#dialog .rectitle .gact a:active {
	font-size:14px;
	padding:0 4px
}
.bn-small,.bn-cta,.bn-flat input {
	margin:0;
	border:0;
	background:transparent;
	cursor:pointer;
	-webkit-appearance:none
}
.lnk-flat,.bn-flat {
	display:inline-block;
	*display:inline;
	zoom:1;
	border-width:1px;
	border-style:solid;
	border-color:#bbb #bbb #999;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	overflow:hidden;
	vertical-align:middle;
	color:#444
}
.lnk-flat,.bn-flat input {
	height:2.1em;
	padding:0 1.16em;
	cursor:pointer;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-size:12px;
	line-height:2.3;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#e9e9e9));
	background-image:-webkit-linear-gradient(top,#fcfcfc,#e9e9e9);
	background-image:-moz-linear-gradient(top,#fcfcfc,#e9e9e9);
	background-image:-ms-linear-gradient(top,#fcfcfc,#e9e9e9);
	background-image:-o-linear-gradient(top,#fcfcfc,#e9e9e9);
	background-image:linear-gradient(top,#fcfcfc,#e9e9e9)
}
.ua-ie6 .bn-flat,.ua-ie7 .bn-flat,.ua-ie8 .bn-flat,.ua-ie9 .bn-flat,.ua-ie6 .lnk-flat,.ua-ie7 .lnk-flat,.ua-ie8 .lnk-flat,.ua-ie9 .lnk-flat {
	background:transparent url(/pics/site/sp_all_2.png) repeat-x 0 -700px
}
.lnk-flat:hover,.bn-flat input:hover,.bn-flat-over {
	color:#333;
	border-color:#999 #999 #666;
	background-color:transparent;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#ddd));
	background-image:-webkit-linear-gradient(top,#f8f8f8,#ddd);
	background-image:-moz-linear-gradient(top,#f8f8f8,#ddd);
	background-image:-ms-linear-gradient(top,#f8f8f8,#ddd);
	background-image:-o-linear-gradient(top,#f8f8f8,#ddd);
	background-image:linear-gradient(top,#f8f8f8,#ddd)
}
.ua-ie6 .lnk-flat:hover,.ua-ie7 .lnk-flat:hover,.ua-ie8 .lnk-flat:hover,.ua-ie9 .lnk-flat:hover,.ui-ie6 .lnk-flat:active,.ui-ie7 .lnk-flat:active,.ui-ie8 .lnk-flat:active,.ui-ie9 .lnk-flat:active,.ua-ie6 .bn-flat input:hover,.ua-ie7 .bn-flat input:hover,.ua-ie8 .bn-flat input:hover,.ua-ie9 .bn-flat input:hover,.ua-ie6 .bn-flat-over,.ua-ie7 .bn-flat-over,.ua-ie8 .bn-flat-over,.ua-ie9 .bn-flat-over {
	background-position:1px -706px
}
.lnk-flat:active,.bn-flat input:active,.bn-flat-active input {
	background:#ddd;
	color:#333;
	border-color:#999 #999 #666
}
.lnk-flat {
	line-height:2.2em
}
.lnk-flat:link,.lnk-flat:visited {
	text-decoration:none
}
.bn-cta {
	color:#fff;
	background:#3fa156;
	border:1px solid #528641;
	font-size:14px;
	padding:6px 20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	*width:100px;
	*height:30px
}
.bn-cta:hover {
	background-color:#4fca6c;
	border-color:#6aad54
}
.bn-cta:active {
	background-color:#3fa156;
	border-color:#528641
}
.bn-small {
	background:#fdd;
	border:1px solid #ffabab;
	color:#ff7676;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-appearance:none;
	height:1.5em\9;
	padding:0 2px;
	line-height:1.56;
	*line-height:1.4;
	*position:relative
}
a.bn-small:link,a.bn-small:visited,a.bn-small:hover,a.bn-small:active {
	background:#fdd;
	color:#ff7676;
	padding:0 4px;
	line-height:1.8;
	font-size:12px;
	*line-height:1.3;
	zoom:1;
	*height:13px;
	*overflow:hidden
}
.recsubmit .bn-flat {
	margin:0 10px
}
.lnk-sharing {
	display:inline-block;
	*display:inline;
	zoom:1;
	padding:0 8px;
	vertical-align:middle;
	*vertical-align:baseline;
	height:19px;
	line-height:19px;
	line-height:21px\9;
	overflow:hidden;
	border:1px solid #b9dcd0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
a.lnk-sharing:link,a.lnk-sharing:visited {
	border-color:#e3f1ed;
	background-color:#f2f8f2;
	color:#4f946e
}
a.lnk-sharing:hover,a.lnk-sharing:active {
	border-color:#c4e2d8;
	background-color: #eff5ef
}