$s: 13px;
$m: 14px;
$c: 15px;
$b: 16px;
$x: 18px;
$xl: 20px;
$main_color: #060;
$gray: #666;

html {
  
  color:#111;
  background:#fff;
  position:relative
}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote {
  margin:0;
  padding:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}
fieldset,img {
  border:0
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {
  font-style:inherit;
  font-weight:inherit
}
del,ins {
  text-decoration:none
}
ul {
  list-style:none
}
caption,th {
  text-align:left
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal
}
q:before,q:after {
  content:''
}
abbr,acronym {
  border:0;
  font-variant:normal
}
sup {
  vertical-align:baseline
}
sub {
  vertical-align:baseline
}
input,button,textarea,select,optgroup,option {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  font-weight:inherit
}
input,button,textarea,select {
  *font-size:100%
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.clearfix {
  zoom:1;
  display:inline-block;
  _height:1px
}
html .clearfix {
  height:1%
}
.clearfix {
  display:block
}
textarea {
  resize:none
}
input[type=text]:focus,input[type=password]:focus,textarea:focus {
  outline:0
}
body {
  font:$s Tahoma,Geneva,sans-serif;
  margin:15px 0
}
#wrapper {
  width:950px;
  margin:0 auto
}
#content {
  min-height:420px
}
#footer {
  color:#999;
  padding-top:6px;
  margin-top:40px;
  overflow:hidden;
  zoom:1;
  border-top:1px dashed #ddd
}
.grid-20-4 .article {
  float:left;
  width:780px;
  padding-right:40px
}
.grid-20-4 .aside {
  float:right;
  width:120px
}
.grid-13-11 .left {
  float:left;
  width:520px;
  padding-right:20px
}
.grid-13-11 .right {
  float:right;
  width:400px
}
.grid-19-5 .article {
  float:left;
  width:730px;
  padding-right:20px
}
.grid-19-5 .aside {
  float:right;
  width:190px
}
.grid-18-6 .article {
  float:left;
  width:690px;
  padding-right:10px
}
.grid-18-6 .aside {
  float:right;
  width:240px
}
.grid-16-8 .article {
  float:left;
  width:590px;
  padding-right:40px
}
.grid-16-8 .aside {
  float:right;
  width:310px
}
.grid-7-10-7 .left {
  float:left;
  width:280px;
  margin-right:10px
}
.grid-7-10-7 .middle {
  float:left;
  width:390px;
  padding-right:10px
}
.grid-7-10-7 .right {
  float:right;
  width:250px
}
.grid-4-14-6 .nav {
  float:left;
  width:150px;
  margin-right:10px
}
.grid-4-14-6 .article {
  float:left;
  width:540px;
  padding-right:10px
}
.grid-4-14-6 .aside {
  float:right;
  width:230px
}
fieldset {
  border:1px solid #ddd;
  padding:0 10px;
  margin-bottom:15px
}
fieldset legend {
  color:#666;
  padding:0 5px
}
input {
  margin-right:3px;
  vertical-align:middle
}
label {
  font-family:Tahoma;
  vertical-align:middle
}
#footer .gray-link a:link,#footer .gray-link a:visited,#footer .gray-link a:active {
  color:#999;
  background:0
}
#footer .gray-link a:hover {
  color:#fff;
  background:#999
}
#footer .blue-link a:link,#footer .blue-link a:visited,#footer .blue-link a:active {
  color:#369;
  background:0
}
#footer .blue-link a:hover {
  color:#fff;
  background:#039
}
a.processing:link,a.processing:visited {
  color:#666
}
a.processing:hover,a.processing:active {
  background-color:#666;
  color:#fff
}
.extra {
  clear:both;
  text-align:right
}
form {
  margin:0;
  padding:0;
  border:0
}
fieldset.site {
  border:0;
  padding:0;
  margin:0
}
fieldset.site legend {
  display:none
}
fieldset.site label {
  width:120px;
  font-size:$m;
  float:left;
  overflow:hidden
}
input.other,.detail input.other {
  border:0;
  padding:0
}
ol {
  padding:0 0 0 20px
}
textarea {
  font-family:Arial;
  overflow:auto
}
input {
  font-size:$m
}
a {
  cursor:pointer  
}
a:link {
  color:#369;
  text-decoration:none;
}
a:link.selected,a:visited.selected {
  color:red
}
a:visited {
  color:#669;
  text-decoration:none
}
a:hover {
  color:#fff;
  text-decoration:none;
  background:#039
}
a:active {
  color:#fff;
  text-decoration:none;
  background:#f93
}
a img {
  border-width:0;
  vertical-align:middle
}
body,td,th {
  font:$s Arial,Helvetica,sans-serif;
  line-height:162%
}

table {
  border-collapse:collapse;
  border:0;
  padding:0;
  margin:0
}


.table {
  @extend table;
  font-size:$m;
  td,th {
  font-size:$m;
}
}

h1 {
  word-wrap:break-word;
  display:block;
  font-size:25px;
  font-weight:bold;
  color:#494949;
  margin:0;
  padding:0 0 15px 0;
  line-height:1.1
}
h1 .year {
  color:#888
}
h3 {
  height:26px;
  margin-left:4px;
  font:15px Arial,Helvetica,sans-serif;
/*  color:#666;*/
  margin-bottom:1px;
  line-height:150%;
  background:url(/images/topicbar.gif) no-repeat right top
}
h3 img {
  margin:1px 1px 0 0
}
ul {
  list-style-type:none;
  margin:0;
  padding:0
}
h4 {
  height:26px;
  margin:0 0 10px 4px;
  overflow:hidden;
  font:12px Arial,Helvetica,sans-serif;
  color:#666;
  line-height:1.8em;
  background:url(/images/topicbar.gif) no-repeat right top
}
h2 {
  font:$b Arial,Helvetica,sans-serif;
  color:$main_color;
  margin:0 0 12px 0;
  line-height:150%
}
.wrap {
  background:url(/images/topicbar.gif) no-repeat;
  display:block
}
.wrap h3 {
  margin-top:20px
}
/*.wrap h3 a:link{
  color:#104E8B;
  background-color:transparent;
}*/
#header {
  background:url(/images/headnavbot.gif) no-repeat scroll left 33px;
  margin:7px 0
}
#header img.logo {
  float:left;
  margin-top:-3px
}
#nav {
  padding-top:3px
}
#nav a {
  float:left;
  display:block;
  text-decoration:none;
  color:#368332;
  font-size:$m;
  margin:2px 5px 0 5px;
  padding:8px 4px 7px 4px;
  line-height:$m
}
#nav a:hover {
  background-color:transparent;
  text-decoration:underline
}
#nav a.now {
  font-size:$m;
  margin:2px 5px 0 5px;
  float:left;
  display:block;
  background:url(/images/headnavback.gif) no-repeat scroll right top #eef9eb;
  padding:0 10px 0 0;
  color:black
}
#nav a.now span {
  background:transparent url(/images/headnavback.gif) no-repeat;
  display:block;
  padding:8px 1px 7px 11px
}
#nav .nine_nav:hover,#nav .nine_nav {
  color:#f92d09;
  margin-left:25px
}
.ll {
  float:left
}
.rr {
  float:right
}
.trr {
  text-align:right
}
textarea {
  border:1px solid #ccc;
  padding:3px;
  font-size:$c
}
.xbar {
  float:right;
  background:url(/images/zbar.gif) no-repeat;
  width:100%;
  margin-bottom:21px;
  overflow:hidden
}
.xbar div {
  float:right;
  background:url(/images/zbar.gif) no-repeat right top;
  margin-left:5px;
  padding-right:35px;
  width:100%\9
}
.xbar a {
  float:right;
  display:block;
  text-decoration:none;
  margin:5px 5px 1px 5px;
  padding:3px 5px 2px 5px;
  line-height:$m
}
.xbar a:hover {
  color:white
}
.xbar span.now {
  margin:0 5px 0 5px;
  float:right;
  display:block;
  background:url(/images/wztab.gif) no-repeat scroll right top;
  padding:0 10px 0 0
}
.xbar span.now span {
  background:transparent url(/images/wztab.gif) no-repeat;
  display:block;
  padding:6px 1px 5px 11px
}
.tablelt {
  background:url(/images/ibox.gif);
  height:3px;
  width:3px
}
.tablect {
  background:url(/images/tablev.gif);
  height:3px
}
.rnotes pre {
  font:12px/162% Arial,Helvetica,sans-serif;
  white-space:pre-wrap;
  word-wrap:break-word
}
pre.source {
  font:12px/162% Arial,Helvetica,sans-serif;
  white-space:pre-wrap;
  word-wrap:break-word
}
pre.content {
  font:12px/162% Arial,Helvetica,sans-serif;
  white-space:pre-wrap;
  word-wrap:break-word
}
.m {
  font-size:$m;
  line-height:120%;
  color:$main_color
}
.m a,.m a:visited,a.m,a.m:visited {
  font-size:$m;
  line-height:120%;
  color:$main_color;
  text-decoration:none
}
.m a:hover,a.m:hover {
  font-size:$m;
  line-height:120%;
  color:#fff;
  text-decoration:none;
  background:$main_color
}
.m a:active,a.m:active {
  color:#fff;
  text-decoration:none;
  background:#faf
}
.mr {
  @extend .m;
  text-align:right
}
.mrw {
  @extend .mr;
  width:20%
}
.pt {
  width:100%;
  padding:0;
  margin:0
}
.pl {
  font:$s Arial,Helvetica,sans-serif;
  line-height:150%;
  color:#666
}
.pl2 {
  font:$m Arial,Helvetica,sans-serif;
  line-height:150%;
  color:#666
}
.pl1 {
  font:$m Arial,Helvetica,sans-serif;
  line-height:150%;
  color:#666
}
.l2 {
  font:$m Arial,Helvetica,sans-serif;
  line-height:150%
}
.hidden {
  display:none
}
.clear {
  clear:both;
  line-height:0;
  font-size:0
}
#table {
  float:left;
  margin:0 -310px 0 0;
  width:100%
}
#tables {
  float:left;
  margin:0 -240px 0 0;
  width:100%
}
.aside .indent {
  margin-bottom:40px
}
.notify input {
  margin-top:9px
}
.mbt {
  padding:0;
  margin:0;
  clear:both;
  font-size:$m
}
.mbt tr {
  vertical-align:top
}
.mbtl {
  float:left;
  width:55px;
  margin:8px 7px 0 0;
  padding:0
}
.mbtr {
  border-bottom:1px solid #eee;
  padding:5px 0;
  min-height:55px;
  overflow:hidden;
  margin:5px 0 5px 0;
}
.mbtr2 {
  margin-bottom:20px;
  overflow:hidden
}
ul .mbtr2 {
  border-bottom:1px solid #ddd
}
* html .mbtr {
  word-break:break-all;
  height:55px;
  overflow:visible
}
.ul {
  border-bottom:1px dashed #ddd;
  line-height:100%;
  clear:both
}
.wr {
  table-layout:fixed;
  word-wrap:break-word;
  width:100%;
  overflow:hidden
}
#comments {
  width:100%;
  word-wrap:break-word;
  overflow:hidden;
  padding:20px 0 0
}
#info {
  float:left;
  max-width:248px;
  word-wrap:break-word
}
#dialog {
  position:fixed;
  z-index:103;
  top:50%;
  left:50%;
  width:550px;
  margin-top:-140px;
  background-color:#fff;
  padding:0;
  border:1px solid #bbb;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px
}
* html #dialog {
  position:absolute;
  margin-top:expression(exp_dialog(this))
}
#dialog td {
  padding:7px
}
#dialog td.ul {
  padding:0
}
#dialog p {
  margin:0
}
#dialog .rectitle .gact a:link,#dialog .rectitle .gact a:visited,#dialog .rectitle .gact a:hover,#dialog .rectitle .gact a:active {
  font-size:$m;
  padding:0 4px
}
.albumlst {
  margin:9px 0 10px 0;
  padding:0 0 10px 0;
  line-height:1.65em;
  float:left;
  width:25%
}
.albumlst_r {
  overflow:hidden;
  word-wrap:break-word;
  color:#777;
  float:left;
  width:240px;
  padding-top:4px
}
.albumlst_descri {
  color:#333;
  margin-bottom:10px
}
.photo_wrap {
  float:left;
  display:inline;
  width:164px;
  overflow:hidden;
  margin:10px $s 25px
}
.photo_wrap .pl {
  margin:6px 0 3px 0
}
.photo_portal {
  float:left;
  display:inline;
  overflow:hidden;
  margin:10px 1px 25px
}
.photo_user {
  float:left;
  display:inline;
  overflow:hidden;
  margin:10px 1px 0px
}
.album {
  background:url('/images/albumback.gif') 1px 1px no-repeat;
  padding:4px 7px 7px 4px
}
.album_s {
  background:url('/images/albumback_s.gif') 1px 1px no-repeat;
  padding:5px 8px 8px 5px
}
.album_photo {
  display:block;
  overflow:hidden;
  width:181px;
  height:181px
}
.album_photo:link {
  display:block;
  color:#777;
  font-style:italic
}
.album_photo:visited {
  color:#777;
  font-style:italic
}
.album_photo:hover {
  background:0;
  color:#777
}
.photo_descri {
  padding:0 0 0 $m;
  word-wrap:break-word;
  overflow:hidden
}
.note {
  font-size:$m;
  line-height:1.62;
  font-family:Arial,Helvetica,sans-serif;
  word-wrap:break-word;
  white-space:pre-wrap;
  width:100%;
  overflow:hidden;
  margin-top:10px
}
#note .note {
  font-size:$m;
  line-height:1.62
}
.note_full{
  @extend .note;
  font-size:$b;
}
.post_full{
  @extend .note_full;
  margin-top: 0px
}
#form_note textarea {
  font-size:$s;
  line-height:1.62
}
.note a img {
  /*  vertical-align:bottom*/
}
body .note {
  white-space:pre-wrap
}
.note .cc {
  padding:0 0 15px;
  display:block;
  clear:both;
  text-align:center
}
.npad .ll {
  padding:0 $b 0 0
}
.note .ll {
  padding:0 $b $b 0
}
.note .ll table {
  width:1px
}
.note .rr table {
  width:1px
}
.note .cc table {
  width:1px;
  margin:0 auto
}
/*.note .rr {
  padding:0 0 $b $b
}*/
.note-ft .rec-sec {
  clear:both
}
.thumblst {
  min-height:140px;
  min-width:600px;
  border:1px solid #d3d3d3;
  background:#f0f0f0;
  padding:10px 12px;
  margin:3px 0 7px
}
.thumblst .thumb {
  float:left;
  width:140px;
  overflow:hidden
}
.thumblst .thumb img {
  max-width:130px;
  _width:130px
}
.thumblst .thumb .pl {
  padding:2px;
  border:1px solid #ddd;
  margin-bottom:6px;
  background:#fff
}
.thumblst .details {
  float:right;
  width:419px
}
.thumblst .details textarea {
  width:410px;
  height:66px;
  border:1px solid #ccc
}
#event {
  margin-bottom:10px
}
#photo,#artist,#minisite {
  margin-bottom:35px;
  width:100%;
  overflow:hidden
}
#artist,#group,#recs,#like,#movie,#music,#blog,#book,#mb,#friend,#board,#profile,#note,#doulist,#live {
  margin-bottom:35px
}
.mbt .mbtr .mbtr_m_img {
  float:left;
  width:48px;
  height:48px
}
.mbt .mbtr .mbtr_m_content {
  margin:0 0 0 58px;
  color:#666
}
.mbt .mbtr .mbtr_m_content .cm {
  margin-right:10px
}
.mbt .mbtr .mbtr_m_content .time {
  color:#999
}
.mbt .mbtr .mbtr_m_content .cpl {
  padding-top:5px;
  color:#999;
  margin-right:10px
}
.mbt .mbtr .mbtr_m_player {
  clear:both;
  text-align:center
}
.show {
  display:block
}
.hide {
  display:none
}
body {
  *margin:8px 0
}
.input-btn {
  cursor:pointer;
  padding:3px 12px;
  padding:5px 12px 2px\9;
  #padding:5px 12px 2px;
  border:1px solid #d4ded9;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:5px;
  background:#f5f7f6;
  background:-webkit-gradient(linear,0 0,0 100%,from(#f8f9f8),to(#f3f5f4));
  background:-moz-linear-gradient(-90deg,#f8f9f8,#f5f7f6);
  background:#f8f9f8\9;
  #background:#f8f9f8;
  overflow:visible
}
.input-btn:active {
  background:#e6e6e6
}

.admin-lnks {
  padding:5px 0
}
.admin-lnks,.admin-lnks a:link,.admin-lnks a:visited {
  color:#ccc
}
.admin-lnks a:hover,.admin-lnks a:active {
  color:#fff;
  background:#ccc!important
}
.comment-item .admin-lnks,.update-item .admin-lnks {
  text-align:right
}
.comment-item .author {
  background:#efe;
  color:#666;
  padding:2px 4px
}
.comment-item {
  *zoom:1;
  overflow:hidden;
  margin-bottom:1.6em
}
.comment-item .pic {
  float:left;
  margin-right:-100em
}
.comment-item .content {  
  padding-left:6em
}
.comment-item h3 {
  margin-bottom:1ex
}
.comment-item p,.comment-item .author {
  margin-bottom:1em;
  font-size:$m
}
.comment-item .title {
  font-size:$m
}

#notice {color: green;font-size:$b}
#error {color: red;font-size:$b}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: $m;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
ul li {
  font-size: $s;
  /*    list-style: square; */
}
}

#photo_desc{
  font-size:$m;
}

.writer_reply{
  color:$main_color;
}

.color{
  color:$main_color;
}

@mixin table-base($param) {
  td,th {
  font-size:$param;
}
}

.s{
  font-size:$s;
  @include table-base($m);
}

.mi{
  font-size:$m;
  @include table-base($m);
}

.c{
  font-size:$c;
  @include table-base($c);
}

.b{
  font-size:$b;
  @include table-base($b);
}

.x{
  font-size:$x;
  @include table-base($b);
}

.xl{
  font-size:$xl;
  @include table-base($b);
}

.red{
  color: red;
}

.W_btn_b, .W_btn_b span, .W_btn_b_disable, .W_btn_b_disable span {
  background: url("../../../images/common/btn.png?id=1329484998540") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 23px;
  padding: 0 0 0 2px;
}

#db-timeline-hd {
  border-bottom:1px solid #ddd;
  padding-bottom:10px;
  margin-bottom:5px
}
#db-timeline-hd .menu-list {
  float:left;
  width:515px;
  padding-top:14px
}
#db-timeline-hd .menu-list li {
  float:left;
  display:inline;
  _position:relative;
  _z-index:88;
  margin:0 10px 0 0
}
#db-timeline-hd .menu-list li a {
  _float:left;
  zoom:1;
  display:block;
  padding:0 2px;
  white-space:nowrap;
  _overflow:hidden;
  height:$b;
  line-height:$b
}
#db-timeline-hd .menu-list .on a {
  color:#fff;
  padding:0 5px;
  background:#83bf73;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px
}
#db-timeline-hd .opt-area {
  float:right
}
#db-timeline-hd .last {
  margin:0
}
#miniblog .menu-list {
  width:auto
}
.obu {
  margin:0 0 10px 0;
  width:76px;
  float:left;
  display:inline
}
.obu{
  dt {
    margin:0;
    height:50px;
    overflow:hidden;
    text-align:center;
    line-height:$b;
  }
  dd {
    margin:0;
    height:55px;
    text-align:center;
    overflow:hidden
  }
}
.photitle {
  border-bottom:1px solid #ddd;
  margin-bottom:5px;
  padding-bottom:5px;
  text-align:right
}
.sns-bar {
  clear:both;
  overflow:hidden;
  margin-bottom:20px;
  padding-top:20px;
  color:#666;
  *display:inline-block
}
.sns-bar-fav {
  float:right
}
.btn-fav {
  display:inline-block;
  *display:inline;
  zoom:1;
  padding:0 8px 0 30px;
  vertical-align:middle;
  *vertical-align:baseline;
  height:19px;
  line-height:19px;
  line-height:21px\9;
  overflow:hidden;
  border:1px solid #edceba;
  margin-left:4px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px
}
a.btn-fav:link,a.btn-fav:visited {
  border-color:#f2ece7;
  background-color:#fff6ee;
  color:#99776b
}
a.btn-fav:hover,a.btn-fav:active {
  border-color:#edceba;
  background-color:#fff0e2;
  color:#99776b
}
.fav-add,.fav-add:link,.fav-add:hover {
  background:url(/images/ic_like.png) no-repeat 8px 3px
}
.fav-cancel,.fav-cancel:link,.fav-cancel:hover {
  background:url(/images/ic_like.png) no-repeat 8px -17px
}
.txd textarea {
  width:99%
}
.olt {
  width:100%;
  padding:0;
  margin-bottom:3px
}
.olt td {
  border-bottom:1px dashed #ddd;
  padding:3px 3px 3px 0
}
.pl20 {
  padding-left:20px
}
.topic-content .user-face,.topic-content2 .user-face,.topic-reply .user-face {
  float:left;
  width:48px;
  height:48px;
  overflow:hidden
}
.topic-content .topic-doc {
  float:right;
  width:710px;
  margin-bottom:30px
}
.topic-content .topic-doc h3 {
  margin:0;
  padding:5px 0;
  height:auto;
  background:0
}
.topic-content .topic-doc p {
  margin:0;
  padding:0;
  word-wrap:break-word;
  overflow:hidden;
  font-size:$c
}
.topic-content .topic-opt {
  padding:15px 0 0
}
.topic-content {
  font-size:$c
}
.topic-content .topic-opt .fleft {
  color:#666;
  margin-right:10px
}
.topic-reply li {
  margin:0 0 20px 48px;
  position:relative
}
.topic-reply li .reply-doc {
  float:right;
  width:473px
}
.topic-reply li .reply-doc h4 {
  margin:0 0 15px 4px;
  height:22px;
  line-height:22px
}
.topic-reply li .reply-doc p {
  margin:0 0 25px 0;
  word-wrap:break-word;
  overflow:hidden
}

.topic-content2 .topic-doc2 {
  width:480px;
  margin-bottom:30px;
  h3 {
    margin:0;
    padding:5px 0;
    height:auto;
    background:0
  }
}

.color-green {
  color:$main_color
}
.fleft {
  float:left
}
.fright {
  float:right
}
.user-list li {
  position:relative;
  #position:static;
  #z-index:10;
  padding:10px 0;
  *margin-bottom:-3px;
  border-bottom:1px solid #eee
}
.user-list>li:hover .ban {
  display:inline
}
.user-list .face {
  float:left;
  width:48px;
  height:48px;
  margin:0 $s 0 10px
}
.user-list .info {
  float:left;
  /*  width:515px*/
}
.user-list .info h3 {
  margin:0 0 2px;
  height:auto;
  font:$m;
  background:0
}
.user-group-opt {
  float:right;
  font-size:12px;
  margin:-2px 0 0;
  #margin:-23px 0 0
}
.gray{color:#666}
.green{color:green}
.pa {
  font-size:$b;
  a {
    line-height: 25px;
  }
}
#all_unread_comments{a {color: red}}
#all_unread_letters{a {color: purple}}
#all_unread_messages{a {color: blue}}