/* ----一般样式---- */
img {border:none;}
body {text-align:center;font-family:SimSun;background-color:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,blockquote,p {padding:0; margin:0;}
a:link {color:#3163b6;text-decoration:none;}
a:visited { color:#551A8B;text-decoration:none; }
#header a, #userbar a {text-decoration:underline;}
a:hover {color:#3163b6;text-decoration:underline;}
/*-----------------*/
#main {text-align:left;}
#main img {border:none;}
#main ol,#main ul {list-style:none;}
#main p {font-size:12px;line-height:18px;color:#8a8a8a;margin-top:3px;}
#header p {color:#000;}

/* 辅助样式 */
#main li{list-style-type:none;overflow:hidden;}
a.piclink {display:block;padding:1px;border:1px solid #cbd2d8;}
a.piclink:hover {border-color:#aeaeae;}
/* ----页面结构---- */
#main {width:980px;margin:0 auto;}
.searchbox_bar {margin:0 auto;text-align:left;}
#header {width:auto;zoom:1;}
#main a.button_148_38 {display:block;width:148px;height:38px;text-align:center;font-weight:bold;font-size:14px;line-height:32px;margin:8px auto 0 auto;background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) 0 -72px no-repeat;overflow:hidden;}
#main a.button_148_38:hover {background-position:0 -116px;text-decoration:none;}
#main a.button_148_38:visited {color:#0055BB;}
a.piclink {display:block;padding:1px;border:1px solid #cbd2d8;}
a.piclink:hover {border-color:#aeaeae;}
ul.order li .num {float:left;width:15px;height:14px;margin:5px 5px 0 0;font-size:12px;font-weight:bold;line-height:15px;color:#fff;text-align:center;background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) 0 -200px no-repeat;}
ul.order li span.color {background-position:0 -179px;}
.arrow_left,.arrow_right {float:right;width:18px;height:18px;background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) no-repeat;overflow:hidden;cursor:pointer;margin-right:5px;margin-top:4px;}
.arrow_left {background-position:0 -227px;}
.arrow_right {background-position:-21px -227px;}
.arrow_left:hover {background-position:0 -245px;}
.arrow_right:hover {background-position:-21px -245px;}
.dot li {white-space:nowrap;}
/* youxi*/
.game_img{width: 50px; height: 50px; margin-top: 5px; padding: 1px;}
#game_table{margin-top:-5px;}


/*-----搜索框-------*/
.search_theme_2 {padding:0 0 17px}
.s_logo {width:137px,height:46px;float:left;margin-top:28px;}
.s_right_region {float:left;margin-left:15px;}
.search .s_ipt {width:410px;}


/* 吧友正在关注 */
#guanzhu a {cursor:pointer;}
#guanzhu {height:103px;padding:6px 10px;}
#guanzhu .slide_container {overflow:hidden;width:930px;margin-top:3px;}
#guanzhu .slide_container ul {width:4000px;overflow:hidden;margin-left:-180px;}
#guanzhu li {float:left;overflow:hidden;}
#guanzhu li div {width:185px;}
#guanzhu li .des {float:left;font-size:12px;line-height:18px;color:#8a8a8a;width:100px;overflow:hidden;}
#guanzhu li .des:hover {text-decoration:none;}
#guanzhu .piclink {float:left;margin-right:8px;margin-top:2px;width:63px;height:63px;text-align:center;}
#guanzhu .name img {vertical-align:-3px;}

.contents {width:977px;overflow:hidden;border:1px solid #cbd2d8;margin:0 auto;text-align:left;}
.contents_left {width:762px;border-right:1px solid #DCE1E7;float:left;display:inline;overflow:hidden;}
.contents_right {width:213px;float:right;display:inline;overflow:hidden;}
.footer {height:110px;text-align:center;padding-top:30px;}
.footer a {margin:0 2px;}
.footer p {margin:0;}

/*-----首页蓝条-------*/
.index_nav,
.index_nav .header_left,
.index_nav .header_right,
.index_nav .header_line,
.index_nav .header_line_right,
.index_nav .right_li a:hover,
.index_nav .right_li_4chars a:hover{
	background-image:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/index_nav.png);
}
.index_nav{background-repeat:repeat-x;height:34px;width:980px;overflow:hidden;}
.index_nav li{float:left;margin:1px 0 0;}
.index_nav .right_li a,
.index_nav .right_li_4chars a
	{display:block;float:left;font-size:14px;line-height:35px;height:32px;overflow:hidden;padding:0 13px 0 14px;font-weight:bold;}
.index_nav .left_li{font-size:12px;color:white;line-height:35px;margin-left:14px;}
.index_nav .header_line{background-position:0 -120px;height:32px;width:2px;}
.index_nav .header_line_right{background-position:0 -120px;height:9px;width:2px;margin:13px 0 0}
.index_nav .nav_fav{margin-left:10px;}
.index_nav .nav_hot{margin-right:-11px}

/*导航左右边缘的圆角处理*/
.index_nav .header_left{background-position:0 -40px;height:100%;width:16px;margin:0;}
.index_nav .header_right{float:right;background-position:right -80px;height:100%;width:10px;margin:0}

/*鼠标浮上效果，分为2字、3字、4字*/
.index_nav .right_li a:hover{background-position:0 -160px}
.index_nav .right_li_4chars a:hover{background-position:0 -224px}

/*覆盖全局样式*/
#main .index_nav .right_li a,
#main .index_nav .right_li_4chars a
	{color:#ffffff;text-decoration:none;}
#main .index_nav .left_li a
	{color:#D3E2F8;}
/*------颜色和字体选择------------*/
#main .font_12{font-size:12px;}
#main .font_8{font-size:8px;}
#main .font_14{font-size:14px;}
#main .font_16{font-size:16px;}
#main .font_18{font-size:18px;}
#main .font_24{font-size:24px;}
#main a.font_black{color:black;}
#main a.font_black:visited{color:black;}
#main a.font_blue{color:#3163b6;}
#main a.font_blue:visited{color:#3163b6;}
#main .font_bold{font-weight:bold;}
.font_3163b6{color:#3163b6;}
.font_hui{color:#8a8a8a;}
#main .font_yellow{color:#ff6600;}
#main a.font_yellow{color:#ff6600;}
#main a.font_yellow:visited{color:#ff6600;}

/*------第一部分-----------*/

#fr_part{float:left;}
#first_contents{margin-top:10px;width:100%;overflow:hidden}
#flash_picture{border:1px #E7E6FA solid;width:310px;height:212px;}
#re_tie_part{margin-top:10px;border:1px #E7E6FA solid;width:310px;height:184px;position:relative;}
#kandian_part{margin-left:10px;float:left;width:396px;height:408px;border:1px #E7E6FA solid;overflow:hidden}
#dr_part{float:left;margin-left:10px;width:250px;overflow:hidden;}
.kandian_title{
}
.kd_title_font{font-size:14px;}
.kandian_title .kd_title_font{
	margin-left:12px;
	_margin-left:6px;
	margin-top:8px;
	display:block;
	float:left;
	color:#515151;
}
.kandian_title .more_ba{
	margin-right:11px;
	margin-top:9px;
}
.kd_head_title{
	text-align:center;
	margin-top:5px;
}
.kd_sec_title{
	text-align:left;
}
#main .kd_head_title a{
	color:#ff6600;
	font-size:16px;
	line-height:25px;
	font-weight:bold;
}
#main .kd_head_title a:visited {color:#ff6600;}
#main .kd_head_title a:hover{color:#ff6600;text-decoration:underline;}
#main  .kd_sec_title a{
	color:#953f5b;
	line-height:30px;
}
#main .kd_sec_title a:hover{color:#953f5b;text-decoration:underline;}
.kd_content{
	width:380px;height:190px;margin-left:10px;overflow:hidden;
}
.kd_split_line{
	border-bottom:1px #e5e5e5 dotted;width:375px;
	margin-left:10px;
	line-height:1px;
}
.jingcai_left{
	width:194px;
	float:left;
	overflow:hidden;
	margin-left:10px;
	_margin-left:5px;
}
.jingcai_right{
	width:180px;
	float:left;
	overflow:hidden;
}
#rez_part{
	margin-top:10px;border:1px #E7E6FA solid;height:188px;
}
#remenshijian{
	width:295px;
	height:145px;
	overflow:hidden;
	margin-left:5px;
	line-height:27px;
	padding-top:10px;
}
#remenshijian a{
	padding:0px 4px;
	 white-space: nowrap
}
#redianpinglun{
	width:290px;
	height:145px;
	overflow:hidden;
	margin-left:10px;
}
/*--------选项卡样式-----------*/
.tab_common{
	position:absolute;
	height:31px;
	color:#3163b6;
	height:31px;
	line-height:32px;
	cursor:pointer;
	font-size:14px;
	padding-left:10px;

}
.padd_r10{
	padding-right:10px;
}
#rez_part .t1{
	left:5px;
	top:0px;
}
#rez_part .t2{
	left:80px;
	top:0px;
}
#re_tie_part .t1{
	left:10px;
	top:0px;
}
#re_tie_part .t2{
	left:103px;
	top:0px;
}
#uptieba .t1{
	left:3px;
	top:0px;
}
#uptieba .t2{
	left:105px;
	top:0px;
}

.select_tp{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/selectTp.png) left top no-repeat;
	background-color:#fff;

}
.select_tc{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/selectTc.png) right top no-repeat;
	font-weight:bold;
	color:black;
}
.fangkuai_h{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/liHng.png) no-repeat;
}
.fangkuai_hui{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/liHui.png) no-repeat;
}
.hot_li{
	margin-top:8px;
	margin-left:8px;
}
.hot_li li{
	line-height:24px;
	*line-height:22px;
	_line-height:24px;
	background-position:0px 4px;
}
.hot_li  .num_li{
	padding-left:5px;
	font-weight:bold;
	color:#fff;
}
.hot_li  a{
	margin-left:8px;
}
#s_contents .hot_li{
	margin-right:10px;
	margin-top:6px;
}
#s_contents .select_tp{
	font-size:14px;
}
#s_contents .tab_common{
	font-size:12px;
}
.num_ph{
	float:right;
	color:#8A8A8A;
	text-align:right;
}
/*----第二部分贴吧列表----*/
#s_contents{
	height:1057px;overflow:hidden;width:980px;
}
#right_list{
	background-color: #F7F9FF;
	float: right; height: 1044px; overflow: hidden; width: 240px; margin: 0;padding:5px;
}
.s_con_right{
	overflow:hidden;border:1px #E7E6FA  solid;background-color:#fff;
}
.right_part_title{
	background: url("http://tb2.bdstatic.com/tb/indexfiles/v2/images/bataiTitle.png") repeat-x;
	height:28px;
	width:100%;
	border-bottom:1px #E7E6FA  solid;

}
#baoliaotai.s_con_right{
	height:162px;
}
#bianlunshi.s_con_right{
	margin-top:10px;height:162px;
}
#zibaoxiu.s_con_right{
	margin-top:10px;height:197px;
}
#retiepaihang,#uptieba.s_con_right{
	margin-top:10px;height:236px;
}
/*------artBa-----------*/
#art_ba{
	margin-top:10px;height:904px;overflow:hidden;width:980px;
}
#right_art_ba{
	float:right;height:900px;overflow:hidden;width:250px;
}
#ba_host{
	height:155px;overflow:hidden;border:1px #E7E6FA  solid;
}
#down_part{
	margin-top:10px;background-color: #F7F9FF;float:right;height:730px;overflow:hidden;width:240px;padding:5px;
}
#xiaoyouxi.s_con_right{
	height:228px;
}
#hezuoqu.s_con_right{
	margin-top:10px;height:214px;
}
#huodongqu.s_con_right{
	margin-top:10px;height:253px;
}
#ba_host{
	background-color:#F7F9FF;
}
#ba_host .gohome{

	margin-left:47px;
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/gohomeBtn.png) no-repeat;
	height:36px;
	width:167px;
	display:block;
	font-size:14px;
	font-weight:bold;
}
.gh_span{
	display:block;
	margin-left:45px;
	line-height:33px;
}
.gh_div{
	line-height:25px;
	text-align:center;
}
#ba_host a:hover{
	text-decoration:none;
}
.list_lfet{
	width:363px;
	float:left;
	margin-left:10px;
	_margin-left:5px;
	overflow:hidden;

}
.tie_ba_list_right{
	width:295px;
	float:left;
	margin-left:15px;
}
.tie_ba_list_right li{
	width:100%;
}
.split_line{
	float:left;
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/split_line.gif) no-repeat;
	width:5px;
	height:160px;
	margin-left:18px;
	margin-top:16px;
}
.ctop_10{
	margin-top:5px;
}
.ctop_8{
	margin-top:8px;
}
.ctop_11{
	margin-top:11px;
}
.ctop_13{
	margin-top:13px;
}
.ctop_3{
	margin-top:3px;
}
.left_8{
	margin-left:8px;
}
.left_5{
	margin-left:5px;
}
.left_22{
	margin-left:22px;
}
.share_image_left{
	margin-left:25px;
}
.left_3{
	margin-left:3px;
}
.pad_4{
	padding-top:4px;
}
.left_10{
	margin-left:10px;
}
#kandiancontent li{
	width:170px;
	overflow:hidden;
	white-space:nowrap;
	height:25px;
	padding-left:20px;
	float:left;
	background-position: 12px 11px;
}
.bg_image{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/up_down.png) repeat-x scroll 0 0;
}
.toutou{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/jiantou.png) no-repeat;
	height:15px;
	width:9px;
	margin-top:13px;
}
.ba_title_font{
	font-size:14px;
	font-weight:bold;
	color:#515151;
	margin-top:11px;

}
#contents a.ba_title_font{
    display: block;
    float: left;
	color:#515151;
}
.right_part_title .ba_title_font{
	margin-top:5px;
}
.right_part_title span{
	display:block;
	float:left;
}

.more_ba{
	margin-top:12px;
	float:right;
}
.right_part_title .more_ba{
	margin-top:5px;
	margin-right:10px;

}
#niu_ba_part .list_image{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/listImage.png) no-repeat;
	width:3px;
	height:3px;
	margin-top:19px;
	margin-left:2px;
	margin-right:2px;
}

.ba_title span{
	display:block;
	float:left;
}
#tie_ba_list{
	height:1057px;overflow:hidden;width:720px;
}
#niu_ba_part  .list_lfet,.tie_ba_list_right{
	height:167px;
}

#star_ba .list_lfet{
	height:170px;
}
#star_movie_ba_part .down_split_line{
	height:1px;border-bottom:1px #E7E6FA  solid;width:691px;clear:both;margin-left:10px;
	line-height:1px;
}
.li_left li{
	float:left;
}


/*---------贴吧内容标题列表-----------主要有两种样  li_big_style,li_small_style*/
.tie_ba_content{

}
.tie_ba_content li{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/listImage.png) no-repeat;
}

.li_small_style .tie_ba_content li{
	line-height:24px;
	font-size:12px;
	padding-left:8px;
	background-position:0px 11px;
	text-align:left;
}
.li_single_class{
	background:url(http://tb2.bdstatic.com/tb/indexfiles/v2/images/listImage.png) no-repeat;
	line-height:24px;
	font-size:12px;
	padding-left:8px;
	background-position:0px 11px;
	text-align:left;
}
.s_con_right .li_small_style{
	margin-left:8px;
	margin-right:10px;
}
.f_right{
	float:right;
}
.f_left{
	float:left;
}
.li_big_style .tie_ba_content li{
	line-height:25px;
	*line-height:22px;
	_line-height:25px;
	font-size:14px;
	padding-left:10px;
	background-position:2px 11px;
	text-align:left;
}
.tieba_font{
	color:#953F5B;
	font-size:12px;
}
.div_left{
	float:left;
	width:65px;
	line-height:24px;
	*line-height:22px;
	_line-height:24px;
}
.div_font{
	font-size:12px;

	text-align:left;
}
#main .div_font a{
	color:#953F5B;

}
#main .div_font a:hover {color:#953F5B;text-decoration:underline;}
.div_right{
	float:left;
	width:200px;
	font-size:12px;
	line-height:24px;
	text-align:left;
	*line-height:22px;
	_line-height:24px;

}
#main .div_right a{
	margin:0px 0px 0px 8px;
	display:inline-block;
}
#hezuo{
	margin-top:10px;height:110px;overflow:hidden;width:978px;border:1px #E7E6FA  solid;
}
/*-----------图片样式----------*/
#picture{
	margin-top:10px;height:320px;overflow:hidden;width:978px;border:1px #E7E6FA  solid;
}
.pic_flash{
	margin:15px 0px 0px 15px; width:279px;height:257px;overflow:hidden;float:left;_margin-left:6px;
}
#picture_zhanshi{
	margin:15px 0px 0px 30px; width:636px;height:257px;overflow:hidden;float:left;
}
.pic_div{
	width:140px;height:128px;overflow:hidden;text-align:center;
}
.line_h30{
	line-height:28px;
}
.piclink_bg
{
	border:1px #e7e3fa solid;
	padding:1px;
	display:block;
	text-align:center;
}
.zbpiclink_bg{

	border:1px #e7e3fa solid;
	padding:1px;
	display:block;
	float:left;
}
.image_title{
	display:block;
	margin-top:4px;
}
.pickuang{
	width:105px;
	overflow:hidden;
	text-align:center;
	line-height:20px;
}
.zsh_pic_li{

	border:1px #e7e3fa solid;
	padding:1px;
	display:block;
}
/*------julebu-----*/

#left_mulu li{
	width:92px;
	font-size:14px;
	line-height:25px;
}
/* 开放平台*/
#kaifangpingtai {
    border-bottom: medium none;
    height: 78px;
}
#kaifangpingtai li {
    float: left;
    height: 68px;
    padding: 10px 20px 0 10px;
    width: 159px;
}
#main p {
    color: #8A8A8A;
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
}
#kaifangpingtai h4 {
    font-size: 14px;
    line-height: 22px;
}
#kaifangpingtai li.last {
    border-right: medium none;
}

#ad1, #ad2 {
    height: 90px;
    overflow: hidden;

}
.cl_part {

    clear: both;
    overflow: hidden;
}
/*----登录-----------------*/
#login_frame {
    background-color: #F1F1FE;
    padding-bottom: 10px;
	height:100%;
}
.cr_part {

    clear: both;
    overflow: hidden;
    padding: 6px 10px;
}
/********** 登录框，未见使用by chenli *************/
#login_container .pass-server-error {margin-top:0;color:#f00;}
#login_container .pass-username {margin-top:5px;}
#login_container .pass-form-wapper-login {padding-top:0;}
#login_container .pass-verifycode {margin-top:7px;padding-bottom:0;}
#login_container .pass-verifycode img {margin-top:7px;}
#login_container .pass-verifycode * {margin-top:0;float:none;}
#login_container .pass-password {margin-bottom:0;}
#login_container #PassFormlogin .pass-submit {margin-bottom:3px;}
#login_container .pass-mem_pass {margin-left:48px;}
#login_container .pass-mem_pass input {vertical-align:-3px;margin-right:3px;}
#login_container #PassFormlogin {padding-left:0;}
#login_container .pass-wrapper fieldset {border:none;}
#login_container .pass-wrapper legend{display:none;}
#login_container .pass-form-wapper-login label {color:#414141;font-size:12px;}
#login_frame {background-color:#F7F9Ff;padding-bottom:10px;}
#login_container .pass-wrapper .pass-username input,#login_container .pass-wrapper .pass-password input,#login_container .pass-wrapper .pass-verifycode input{width:125px;border:1px solid #b8b8cd;padding:2px;}
#login_container .pass-wrapper .pass-submit button {width:61px;height:24px;border:none;background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) 0 0 no-repeat;cursor:pointer;margin:3px 5px 0 48px;}
#login_container .pass-wrapper .pass-submit button:hover {background-position:0 -31px;}
#login_container .pass-wrapper .pass-username input,#login_container .pass-wrapper .pass-password input,#login_container .pass-wrapper .pass-verifycode input{width:155px;border:1px solid #b8b8cd;height:18px;line-height:18px;}
.lf_line {height:1px;line-height:1px;background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) -10px -275px no-repeat;margin:7px 0;overflow:hidden;}
#main #login_frame .lf_reg {text-align:center;}
#main #login_frame .lf_reg a {padding-left:7px; background:url(http://tb2.bdstatic.com/tb/indexfiles/sprites.gif) 0 -282px no-repeat;}
#login_frame a {cursor:pointer;}
#login_frame .icon {float:left;margin:0 10px 8px 0;padding:1px;border:1px solid #cbd2d8;cursor:pointer;width:64px;height:64px;text-align:center;}
#login_frame .icon:hover {border-color:#aeaeae;}
#login_frame .name {font-size:14px;line-height:26px;font-weight:bold;cursor:pointer;}
#main #login_frame .news {color:#f00;}
/*****************************************************************************/

/******************正在使用的登录框*************************/
/*登录前*/
#login_wrapper{width:248px;}
#login_wrapper .login_tab_left{width:123px;}
#login_wrapper .login_tab_right{width:124px;}
#login_wrapper p{margin:0px;}
#login_wrapper .pass-username input, #login_wrapper .pass-password input, #login_wrapper .pass-verifycode input{width:164px;}
#login_wrapper .pass-submit .login_btn, #login_wrapper .pass-submit .login_btn_hover, #login_wrapper .pass-submit .login_btn_active{width:97px;height:34px;line-height:30px;}
#login_wrapper .pass-submit .login_btn_default{background-position:-636px 0;}
#login_wrapper .pass-submit .login_btn_hover{background-position:-744px 0;}
#login_wrapper .pass-submit .login_btn_active{background-position:-852px 0;}
/*登录后*/
#login_wrapper.login_wrapper_userinfo{padding:11px 10px 10px;width:227px;background-color:#F7F8FF;}
#login_wrapper.login_wrapper_userinfo a{color:#3163B6;text-decoration:none;}
#login_wrapper.login_wrapper_userinfo a:hover{text-decoration:underline;}
#login_wrapper.login_wrapper_userinfo a:visited{color:#551A8B;}
#login_wrapper.login_wrapper_userinfo .news, #login_wrapper.login_wrapper_userinfo .news:visited{color:red;}
#login_wrapper .icon{border:1px solid #CBD2D8;cursor:pointer;float:left;height:64px;margin:0 10px 8px 0;padding:1px;text-align:center;width:64px;}
#login_wrapper .icon:hover{border-color:#AEAEAE;}
#login_wrapper .name{cursor:pointer;font-size:14px;font-weight:bold;line-height:26px;}


/* 吧刊阅览室 */
#bakan {padding:6px 10px;}
#bakan .slide_container {overflow:hidden;margin:5px 0;width:738px;}
#bakan ul {width:4000px;margin-left:-135px;}
#bakan li {float:left;overflow:hidden;text-align:center;width:118px;font-size:12px;line-height:16px;}
#bakan .piclink {margin:0 auto;width:92px;margin-bottom:3px;}
#bakan img {width:90px;height:120px;}
#bakan li a {width:123px;display:block;}
#bakan li p {margin:0;width:123px;}
