.span-15.prepend-1.colborder
  %h2
    =@category.name
    =t 'article_in'
  -@news.each do |news|
    =link_to news.title, news
    &nbsp;
    =(news.created_at+8.hour).strftime '%Y.%m.%d'
    %br
  =will_paginate @news
.span-7.last
  %h3=t('category_')
  -@categories.each do |category|
    -if category.id==@category.id
      =link_to category.name,category,class:'selected'
    -else
      =link_to category.name,category
    %br