/diandian reg is good
用户名
%input(type='text')
可用于登录，英文字母、数字和_
%br
邮箱
%input(type='text')
可用于登录
%br
真实姓名
%input(type='text')
“我的故事”是真实社交网络
%br
密码
%input(type='passwd')
%br
%input(type='button' value='注册')