=form_for [:admin, @menu] do |f|
  =error_msg @menu
  .field
    =f.label t('menu.name')
    %br
    =f.text_field :name
  .field
    =f.label t('menu.url')
    %br
    =f.text_field :url
  .field
    =f.label t('menu.description')
    %br
    =f.text_field :description
  .actions
    =f.submit