<p>
为了更好的为您服务，我在不断升级网站。<br/>
有好的建议请回复邮件或在<a href="http://mystory.cc/" target="_blank">http://mystory.cc/</a>网站上与我联系。谢谢。<br/>
您的个人主页是:<a href="http://<%= @user.domain %>.mystory.cc/" target="_blank"> http://<%= @user.domain %>.mystory.cc/</a>
<br/>
<br/>
我的故事网站QQ群：256404426  |  我的新浪微博：<a href="http://weibo.com/u/1845493825/" target="_blank">http://weibo.com/zhangjian1982/</a>
</p>