-u=session[:user]
=t :hello
,
=u.name
%h1
  =navigation_item2('home',t('home_page'),admin_path)
  =navigation_item2('news',t('_news'),admin_news_index_path)
  =navigation_item2('categories',t('_category'),admin_categories_path)
#notice=notice
=tip_info