-u=session[:user]
=t :hello
,
=u.name
%span.right=link_to '退出', admin_logout_path
%h1
  =navigation_item2(t('home_page'),admin_path)
  =navigation_item2(t('_note'),admin_notes_path)
  =navigation_item2(t('_blog'),admin_blogs_path)
  =navigation_item2(t('_category'),admin_categories_path)
-if flash[:notice]
  #notice=flash[:notice]
-if flash[:error]
  #error=flash[:error]