




<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb18030">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="imagetoolbar" content="no">
<script type="text/javascript">
    window.CRTWCONFIG = window.CRTWCONFIG || {};
	window.CRTWCONFIG.MODELWINDOW_OVERLAY_COLOR = "#000000";
	window.CRTWCONFIG.MODELWINDOW_OVERLAY_OPACITY = "0.5";



	window.CRTWCONFIG.GLOBAL_UNLOGIN_BEHAVIOR = "modal_login";



         (function() {
            //  加载kola
            var    script = document.createElement('script');
            script.src = 'http://s5.cr.itc.cn/j/p/shwbexp2/kola/Package_a0afcfbca3.js';
            //script.src = 'http://10.1.105.96/j-src/kola/Package.js';

            script.type = 'text/javascript';
            script.charset ='GBK';
	    	document.getElementsByTagName('head')[0].appendChild(script);
            script = null;

            //  声明一个kola替代变量
            window.kola = function() {
                var arr = [this];
                for (var i = 0, il = arguments.length; i < il; i++) {
                    arr.push(arguments[i]);
                }
                kola._cache.push(arr);
            };
            kola._cache = [];
        })();

        kola("kola.bom.Cookie", function (Cookie) {
            var lastViewDate= Cookie.get("gd_last_viewdate");
            if(lastViewDate)
            {
                var lastViewDateSplited = lastViewDate.split(" ");
                var curDateSplited = ( new Date() + "" ).split(" ");
                for(var i = 0, l = 4; i < l; ++ i)
                {
                    if(curDateSplited[i] != lastViewDateSplited[i])
                    {
                        Cookie.set("gd_viewdate_done", true, "never");
                        if(Cookie.get("gd_trigge_viewmore") == "true")
                        {
                            Cookie.set("discoverPU", "y", "never");
                        }
                        Cookie.remove("gd_last_viewdate");
                        break;
                    }
                }
            }
            else
            {
                Cookie.set("gd_last_viewdate", new Date(), "never");
            }
        });


		window.CRTWCONFIG = window.CRTWCONFIG || {};
		window.CRTWCONFIG.GUB_EXP_TWITTER_OPS = "getNameCard";

     window.UID="671867151";
	 window.isLogin = true;
	 //window.authblock = ;
	 window.UID_M_ICON = "http://s4.cr.itc.cn/i/3/avt48f.png";
	 window.UID_S_ICON = "http://s4.cr.itc.cn/i/3/avt24f.png";
     window.FROM_TYPE= "1284122";
	 //window.isVipisVip = ;
	 //showMore拦截
	 window.showMoreIntercept = true;

	 window.S_UID = "671867151";


	 window.CAN_UPLOAD_PIC_WHEN_REPLY = true;
     window.CAN_UPLOAD_PIC_WHEN_TRANSF = true;

    kola('newt.timeline.Plus2', function(Plus2){
      Plus2.init();

    });
    kola('app.widget.FollowUserDelegate', function(F) {
        F.init();
    });




</script>
<title>微精选 - 搜狐微博</title>
<link rel="stylesheet" type="text/css" href="http://s4.cr.itc.cn/c/t2_1/2nd/select_03a2becb09.css">

</head>
<body>
	<div class="SKY" id="t-sky">







<!--S 托盘(inc)-->
<div class="Tray" id="crjs_headbar">
    <p class="Png"></p>
    <p class="usetheme noDis" id="changeSameTheme"><i class="p"  title="换装" data-ca="newt_theme_changeSkin"><i class="png"></i></i></p>

	<div class="tray">

		<div class="logo">

            <h2>
                <i class="png"></i>
		<a title="来搜狐微博看我" href="http://t.sohu.com/home" target="_self">搜狐微博</a>
            </h2>
        </div>

		<div class="jumper"><i class="txt blur"><input type="text" value="搜微博、搜人..." tabindex="1"><a href="javascript:void(1)" title="搜索"></a></i><b class="options noDis"><b class="option"><q>含有<em>搜狐</em>的微博</q><q>含有<em>搜狐</em>的微博</q><q class="hover">含有<em>搜狐</em>的微博</q><q>含有搜狐的人</q></b></b></div>

		<div class="nav nav2">
			<ul class="navG">
                <li class="navL"><a class="nava" href="http://www.sohu.com" target="_blank" data-ca="newt_nav_sohu"><b>搜狐首页</b></a></li>
				<li class="navL crJs_nav_pub"><a class="nava" href="javascript:void(0);" data-ca="newt_nav_root"><b>广场</b><i class="sign signArr2"><q>&#9671;</q><q class="k2">&#9670;</q></i></a>
					<div class="dropDown dropNav noDis crjs_drop">
						<div class="dropD">
							<i class="sign signArr"><q>&#9671;</q><q class="k2">&#9670;</q><q class="k3">&#9670;</q></i>
							<p class="dropL">

								<a href="http://t.sohu.com/pub" target="_self" data-ca="newt_nav_pub">广场首页</a>
								<a href="http://t.sohu.com/hot/at.jsp" target="_self" data-ca="newt_nav_hotAt">热门转发</a>
								<a href="http://t.sohu.com/live" target="_self" data-ca="newt_nav_live">正在发生</a>
								<a href="http://t.sohu.com/hot/reply.jsp" target="_self" data-ca="newt_nav_hotReply">最热评论</a>
								<a href="http://t.sohu.com/star" target="_self" data-ca="newt_nav_star">名　　博</a>
								<a href="http://t.sohu.com/top" target="_self" data-ca="newt_nav_top">排 行 榜</a>


								<!--<a href="http://t.sohu.com/guide/discover" target="_self" data-ca="newt_nav_discover">微 精 选<i class="i iNew"></i></a>-->
								<a href="http://t.sohu.com/event" target="_self" data-ca="newt_nav_event">微 活 动</a>
								<a href="http://t.sohu.com/talk" target="_self" data-ca="newt_nav_talk">微 访 谈</a>
                                <a href="http://t.sohu.com/live/list" target="_self" data-ca="newt_nav_live_list">微 直 播</a>
                                <a href="http://t.sohu.com/g" target="_self" data-ca="newt_nav_g"><b>微　　群</b></a>
                                <a data-ca="newt_nav_bar" target="_self" href="http://t.sohu.com/bar">互&nbsp;&nbsp;粉&nbsp;吧</a>

							</p>
						</div>
					</div>

                </li>
				<li class="navL">
				    <a class="nava" href="http://t.sohu.com/jingxuan" target="_self" data-ca="newt_nav_jingxuan"><b>微精选</b><i class="i iNew2"></i></a>

				</li>
				<li class="navL">

				    <a class="nava" href="http://t.sohu.com/mphone/mtype" target="_self" data-ca="newt_nav_wap"><b>手机</b></a>

				</li>
			</ul>
		</div>

		<div class="nav">
			<ul class="navG">
				<li class="navL"><a class="nava" target="_self" href="http://t.sohu.com/home" data-tab-context="main" data-ca="newt_nav_home"><b>我的首页</b></a>

                </li>
				<li class="navL"><a class="nava" target="_self" href="http://t.sohu.com/profile" data-tab-context="profile" data-ca="newt_nav_profile"><b>档案</b></a></li>
				<li class="navL">

					<a class="nava" target="_self" href="http://t.sohu.com/inbox" data-tab-context="inbox" data-ca="newt_nav_inbox">
						<b class="remind crjs_number noVis"><i class="i"></i><em></em></b>
						<b>私信</b>
					</a>
				</li>

				<li class="navL">
					<a class="nava" href="javascript:void(0);" data-ca="newt_nav_notice">
						<b class="remind crjs_number noVis"><i class="i"></i><em></em></b>
						<b>通知</b>
					</a>
					<div class="dropDown reminder noDis">
						<div class="dropD">
                            <i class="sign signArr"><q>◇</q><q class="k2">◆</q><q class="k3">◆</q></i>


							<div class="dropC">
                                <p class="js_replyme"><a target="_self" href="http://t.sohu.com/comments" ><b>0</b>条新评论</a></p>
                                <p class="js_ated"><a target="_self" href="http://t.sohu.com/mentions"><b>0</b>条<q>@</q>提到我的微博</a></p>
                                <p class="js_fed"><a target="_self" href="http://t.sohu.com/followers"><b>0</b>个新粉丝</a></p>
                                <p class="js_notice"><a target="_self" href="http://t.sohu.com/noticeBox"><b>0</b>个系统消息</a></p>



                                <!-- 暂时挂起, 所以此处暂时注释掉 -->

                            </div>
						</div>
					</div>
				</li>
				<li id="nav_settings" class="navL"><a class="nava" href="javascript:void(0);" data-ca="newt_nav_root"><b>设置</b><i class="sign signArr2"><q>&#9671;</q><q class="k2">&#9670;</q></i></a>
					<div class="dropDown dropNav noDis crjs_drop">
						<div class="dropD">

							<i class="sign signArr"><q>&#9671;</q><q class="k2">&#9670;</q><q class="k3">&#9670;</q></i>
							<p class="dropL">
								<a href="http://t.sohu.com/settings/privacy" target="_self" data-ca="newt_nav_privacy">隐私</a>
                                <a id="_toolbar_theme" data-view-url="/settings/theme" href="javascript:void(0)" onclick='kola("newt.settings.Theme",function(Theme){Theme.navTheme(event);});' data-view-container="#themePanel" data-ca="newt_nav_theme">模板</a>
								<a href="http://t.sohu.com/settings"  target="_self" data-tab-context="t-setting" data-ca="newt_nav_settings">资料</a>
								<span class="c">
									<a href="javascript:kola('newt.component.Login','tw.login.logout()');" data-ca="newt_nav_logout">退出</a>

								</span>
							</p>
						</div>
					</div>
                </li>
			</ul>
		</div>
<!--S 通知提醒-->
<!--include file="reminder.shtml"-->
<!--E 通知提醒-->

	</div>
</div>
<!--E 托盘(inc)-->
<div id="themePanel">
</div>



<!--S 托盘(inc)-->

<!--E 托盘(inc)-->

<!--S 浮层-->
	<div class="Lay" id="t-lay">

<!--S 回顶部-->

<p class="gotop" style="display:none" id="gotoTop"><a title="回顶部"
                                                              href="javascript:void(0);"
                                                              data-ca="newt_common_backToTop"><i class="ii"></i></a></p>
        <script type="text/javascript">
            kola("newt.cr.crGoTop", function() {
                $("p.gotop").show().crGoTop();
            });
        </script>

<!--E 回顶部-->
<!--S 浮云-->
		<div class="Cloud">
			<div class="cloud js-newt-left-init-emptybreaker"></div>
		</div>
<!--E 浮云-->
	</div>
<!--E 浮层-->

</div>

	<div class="LAND" id="t-sys">
		<div class="land">
			<div class="Bgs"><p class="Bg1"></p><p class="Bg2"></p><p class="Bg3"></p></div>
			<div class="LANDBG">
				<div class="Head">
					<div class="logo selectLogo">
						<i class="png"></i>
					</div>

					<p class="topP">刷微博，知天下</p>
				</div>
				<!--N head-->
	            <!--S main-->
				<div class="Bdy">

					<div class="Main">
						<div class="main">
							<div class="mainT">

							</div>
							<div class="mainC">

                                <!--S stream2(inc)-->
                                <div class="ap stream">
									<div class="ap noticeWrap" style="">
										<!--S notice0(inc)-->
										<div class="notice notice0" id="notice_container" style="display: none;">
											<div class="c"><a id="noticeTip" href="javascript:void(0)">有<span class="tips">3</span>条新微博，点击查看</a></div>

										</div>
									</div>
                                    <div class="twis" id="timeline">
                                        <div class="noCnt nodis">
                                            <p class="ttl">
                                            沉默不是金,多发微薄，用心记录生活。<a href="#">发微博</a><br>不爱说话的小朋友一个，沉默不是金,现在<a href="#">@提到他</a><br>还没有符合条件的微博,<a href="#">去全部分类看看</a>

                                            </p>
                                        </div>

<div id="4493696916_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493696916_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493696916_0',path:'http://s1.t.itc.cn/mblog/pic/20128_13_16/m_03317066150637220.jpg',ele:this,ratio:'2.56',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_03317066150637220.jpg"
					src="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_03317066150637220.jpg"
                    data-id="pic_4493696916"> </a>

                 <meta id="pic_4493696916"  url="http://s1.t.itc.cn/mblog/pic/20128_13_16/m_03317066150637220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493696916_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="159354305" id="p_4493696916" fed="" type="" class="avt ">
		<a href="http://gushidaquan.t.sohu.com">
            <i title="故事大全" data-content='{"type":"nick","nick":"故事大全"}' style="background-image: url(http://s5.cr.itc.cn/mblog/icon/c8/4b/m_13094250874821.JPG)" class="img"></i>

        </a>
	</p>
    <b class="pd jsNickBox_159354305" data-wrap="false">
        <b class="nm">
            <a title="故事大全" data-content='{"type":"nick","nick":"故事大全"}' href="http://gushidaquan.t.sohu.com">故事大全</a>
            <a target="_blank" href="/addvip"><i title="北京故事广播故事大全" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>

</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc"><a href="/ht/%BF%AA%B3%A1%B9%CA%CA%C2" target="_blank">#开场故事#</a>【空运宠物有风险 大家要谨慎】赵女士和朋友乘飞机从西宁返回北京后，发现托运的两条金毛犬少了一条，后被告知托运中箱子发生破碎，狗逃脱。第二天见到爱犬时，狗已死亡。前天，航空公司回应，事件正在进一步核实中。航空托运宠物风险高，建议宠物主人尽量不要选择！</p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:22"><a target="_blank" href="http://t.sohu.com/m/4493696916"><b class="k1">1分钟前</b></a></b>

    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493696916\'})');" href="javascript:void(1);"><b>转发<q>(1)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493696916', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493696916" class="js_rp"></q></b></a>
        </li><li class="tag">

            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493696916\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493692088_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>

	<div class="twiM">
		<p id="prev_4493692088_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493692088_0',path:'http://s2.t.itc.cn/mblog/pic/20128_13_16/m_00647064939544220.jpg',ele:this,ratio:'1.12',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s2.t.itc.cn/mblog/pic/20128_13_16/f_00647064939544220.jpg"
					src="http://s2.t.itc.cn/mblog/pic/20128_13_16/f_00647064939544220.jpg"
                    data-id="pic_4493692088"> </a>
                 <meta id="pic_4493692088"  url="http://s2.t.itc.cn/mblog/pic/20128_13_16/m_00647064939544220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493692088_0" class="media"></div>

	</div>
	<div class="twiT">
	<p ref="26836092" id="p_4493692088" fed="" type="" class="avt ">
		<a href="http://chinanewsv.t.sohu.com">
            <i title="中国新闻网" data-content='{"type":"nick","nick":"中国新闻网"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/64/fb/m_12925720873119.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_26836092" data-wrap="false">
        <b class="nm">

            <a title="中国新闻网" data-content='{"type":"nick","nick":"中国新闻网"}' href="http://chinanewsv.t.sohu.com">中国新闻网</a>
            <a target="_blank" href="/addvip"><i title="中国新闻网官方微博" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>


		<p class="ugc">【河南一高校暑假赶课引学生不满 教育厅将介入调查】暑假期间，河南农业职业学院大二几个系的学生却加班加点的上着新的课程，引发了学生的不满。该校教务处王处长称，这样安排是为了学生方便就业，从而学生不用再回到学校上课了。河南省教育厅将介入调查。<a href="http://t.cn/zWj1G8s" data-content='{"type":"url"}' target="_blank" title="http://t.cn/zWj1G8s">http://t.cn/zWj1G8s</a></p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:21"><a target="_blank" href="http://t.sohu.com/m/4493692088"><b class="k1">1分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493692088\'})');" href="javascript:void(1);"><b>转发<q>(1)</q></b></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493692088', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493692088" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493692088\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493688106_con" class="twi">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiT">
	<p ref="580573" id="p_4493688106" fed="" type="" class="avt ">
		<a href="http://huyong.t.sohu.com">
            <i title="胡泳" data-content='{"type":"nick","nick":"胡泳"}' style="background-image: url(http://s5.cr.itc.cn/mblog/icon/8e/de/m_12709550982963.jpg)" class="img"></i>
        </a>

	</p>
    <b class="pd jsNickBox_580573" data-wrap="false">
        <b class="nm">
            <a title="胡泳" data-content='{"type":"nick","nick":"胡泳"}' href="http://huyong.t.sohu.com">胡泳</a>
            <a target="_blank" href="/addvip"><i title="北大新闻系教授" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>
</div>
	<div class="twiC">

		<p class="wid">
			<b></b>
		</p>

		<p class="ugc ugc2">斗争哲学，用仇恨来定义人之间的关系，而不是用爱来定义人的关系。</p>

<div class="twiB">
	<b class="tm" title="2012-08-13 16:21"><a target="_blank" href="http://t.sohu.com/m/4493688106"><b class="k1">2分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>


	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493688106\'})');" href="javascript:void(1);"><b>转发<q>(2)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493688106', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493688106" class="js_rp">(1)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493688106\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">

            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>


<div id="4493685886_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493685886_0" class="pics">

			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493685886_0',path:'http://s3.t.itc.cn/mblog/pic/20128_13_16/m_77702167305716220.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_77702167305716220.jpg"
					src="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_77702167305716220.jpg"
                    data-id="pic_4493685886"> </a>
                 <meta id="pic_4493685886"  url="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_77702167305716220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493685886_0" class="media"></div>
	</div>
	<div class="twiT">

	<p ref="1264411" id="p_4493685886" fed="" type="" class="avt ">
		<a href="http://chinesewsj.t.sohu.com">
            <i title="华尔街日报" data-content='{"type":"nick","nick":"华尔街日报"}' style="background-image: url(http://s5.cr.itc.cn/mblog/icon/72/e7/m_13037259889571.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_1264411" data-wrap="false">
        <b class="nm">
            <a title="华尔街日报" data-content='{"type":"nick","nick":"华尔街日报"}' href="http://chinesewsj.t.sohu.com">华尔街日报</a>

            <a target="_blank" href="/addvip"><i title="《华尔街日报》中文网(http://cn.wsj.com)于2002年1月推出，是道琼斯公司旗下的中文在线商业出版物，依托备受尊崇的《华尔街日报》的丰富资源，秉承其客观、公正和准确的报道原则，向全球华语读者提供高质量的商业新闻和深度分析，并于每个工作日全天更新。" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">【视频：法拉利F12柏林尼塔评测】- 在F12柏林尼塔身上，法拉利再次证明了其能够以技术不断突破物理限制，《华尔街日报》汽车专栏作家丹·尼尔(Dan Neil)如是说。以下视频中，他详细介绍了他试驾法拉利F12柏林尼塔的体验。<a href="http://t.itc.cn/sSA9s" target="_blank" data-content='{"type":"url"}' title="http://cn.wsj.com/gb/20120813/VID102337.asp?source=UpFeature">http://t.itc.cn/sSA9s</a></p>




<div class="twiB">
	<b class="tm" title="2012-08-13 16:21"><a target="_blank" href="http://t.sohu.com/m/4493685886"><b class="k1">2分钟前</b></a></b>
    <b class="from">通过<i class="t1"><a target="_blank" href="http://www.wbto.cn ">享拍微博通</a></i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493685886\'})');" href="javascript:void(1);"><b>转发<q>(3)</q></b></a>
        </li><li class="tag">

            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493685886', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493685886" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493685886\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>

</div>

<div id="4493682656_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493682656_0" class="pics">
			<i class="pic picV"> <a href="javascript:void(1)"
				onclick="tw.media.showVideo({vid:'/puLWp',ele:this})"><i
					class="iMask"><b></b> </i> <img src="http://photocdn.sohu.com/20120813/53e3a8db-0ab5-4ecc-a902-befb7bc98b81_595993_772633_S_b.jpg"
					alt="" data-id="video_4493682656"> </a>
                <meta id="video_4493682656"  url="http://photocdn.sohu.com/20120813/53e3a8db-0ab5-4ecc-a902-befb7bc98b81_595993_772633_S_b.jpg"  w="" h=""/>

            </i>
		<div style="display: none;" class="media" id="disp_4493682656_0"></div>
		</p>
	</div>
	<div class="twiT">
	<p ref="601164998" id="p_4493682656" fed="" type="" class="avt ">
		<a href="http://t.sohu.com/u/601164998">
            <i title="视频新闻" data-content='{"type":"nick","nick":"视频新闻"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/60/c7/m_38473837428299823.jpg)" class="img"></i>
        </a>

	</p>
    <b class="pd jsNickBox_601164998" data-wrap="false">
        <b class="nm">
            <a title="视频新闻" data-content='{"type":"nick","nick":"视频新闻"}' href="http://t.sohu.com/u/601164998">视频新闻</a>



        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">

			<b></b>
		</p>

		<p class="ugc">【穆尔西“大动作”谋求政坛新格局】<a href="/ht/%B9%FA%BC%CA%C8%C8%B5%E3" target="_blank">#国际热点#</a><a class="uri" target="_blank" media="video" mediaurl="/puLWp" data-content='{"type":"video","vid":"/puLWp"}' href="http://t.itc.cn/puLWp"><b>http://t.itc.cn/puLWp</b><i class="i ivdo"></i></a></p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493682656"><b class="k1">2分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>


	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493682656\'})');" href="javascript:void(1);"><b>转发<q>(1)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493682656', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493682656" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493682656\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">

            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493680616_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM twiM-Ps">

		<p data-media="{&quot;pics&quot;:[{&quot;desc&quot;:&quot;&quot;,&quot;path&quot;:&quot;http://s3.t.itc.cn/mblog/pic/20128_13_16/m_70731770397687220.jpg&quot;,&quot;extraData&quot;:{&quot;big&quot;:{&quot;w&quot;:493,&quot;h&quot;:345,&quot;size&quot;:55297},&quot;middle&quot;:{&quot;w&quot;:493,&quot;h&quot;:345,&quot;size&quot;:55297}}},{&quot;desc&quot;:&quot;&quot;,&quot;path&quot;:&quot;http://s3.t.itc.cn/mblog/pic/20128_13_16/m_28512751408546220.jpg&quot;,&quot;extraData&quot;:{&quot;big&quot;:{&quot;w&quot;:461,&quot;h&quot;:550,&quot;size&quot;:82461},&quot;middle&quot;:{&quot;w&quot;:461,&quot;h&quot;:550,&quot;size&quot;:82461}}}],&quot;msgid&quot;:&quot;4493680616_0&quot;,&quot;v_id&quot;:&quot;&quot;,&quot;vid&quot;:&quot;&quot;}" id="prev_4493680616_0" class="pics">

			<i class="pic">
                <a onclick="kola('newt.timeline.Media',function(){tw.media.showImgVideo({msgid:'4493680616_0',ele:this});},{scope:this})" href="javascript:void(1)">
                    <i class="iFake noDis"><i class="ii loading2"></i> </i>
                    <img style="width:160px;height:220px;" alt="" lazysrc="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_94831605165272220.jpg" src="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_94831605165272220.jpg">
                 </a>
            </i>
            <i onclick="kola('newt.timeline.Media',function(){tw.media.showImgVideo({msgid:'4493680616_0',ele:this});},{scope:this})" class="pic picT">2张</i>
		</p>

		<div class="media" id="disp_4493680616_0" style="display: none;">

			<img lazysrc="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_70731770397687220.jpg" src="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_70731770397687220.jpg">

			<img lazysrc="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_28512751408546220.jpg" src="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_28512751408546220.jpg">

		</div>
	</div>
	<div class="twiT">
	<p ref="247233792" id="p_4493680616" fed="" type="" class="avt ">
		<a href="http://hotxin.t.sohu.com">
            <i title="手机微闻社" data-content='{"type":"nick","nick":"手机微闻社"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/4a/06/m_6653432574233722.jpg)" class="img"></i>

        </a>
	</p>
    <b class="pd jsNickBox_247233792" data-wrap="false">
        <b class="nm">
            <a title="手机微闻社" data-content='{"type":"nick","nick":"手机微闻社"}' href="http://hotxin.t.sohu.com">手机微闻社</a>
            <a target="_blank" href="/addvip"><i title="手机微博新闻频道官方微博" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>

</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">【东莞男子驾宝马撞死4人 警方称其曾受精神治疗】8月11日晚，东莞26岁无业男子黄东（化名）驾父亲赠予的宝马撞死4人。警方未透露黄东的撞人原因，也拒绝透露死伤者名单，只表示未发现黄东有醉驾或毒驾迹象。警方还称肇事者曾在广州接受精神心理科门诊诊治。遇害者包括母女三人，其中一名婴儿，一名5岁<a title="查看全部" class="fuc fuc6" href="javascript:void(1);" onclick="javascript:tw.twcontainer.more({msgid:'4493680616',THIS:this});"><b><i class="sign signArr6"><q>◇</q><q class="k2">×</q></i></b></a></p>

        <p class="AP_i">
    <a onclick="tw.ticketView.init(this, 140629, 4493680616);" href="javascript:void(1);" title="参与投票">

        <img src="http://s4.cr.itc.cn/i/1/094.png" alt="">
    </a>
</p>

<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493680616"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493680616\'})');" href="javascript:void(1);"><b>转发<q>(3)</q></b></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493680616', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493680616" class="js_rp">(1)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493680616\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493680151_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493680151_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493680151_0',path:'http://s3.t.itc.cn/mblog/resource/20128_8_17/m_50938844062904305.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s3.t.itc.cn/mblog/resource/20128_8_17/f_50938844062904305.jpg"
					src="http://s3.t.itc.cn/mblog/resource/20128_8_17/f_50938844062904305.jpg"
                    data-id="pic_4493680151"> </a>

                 <meta id="pic_4493680151"  url="http://s3.t.itc.cn/mblog/resource/20128_8_17/m_50938844062904305.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493680151_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="597586889" id="p_4493680151" fed="" type="" class="avt ">
		<a href="http://t.sohu.com/u/597586889">
            <i title="美容小贴士" data-content='{"type":"nick","nick":"美容小贴士"}' style="background-image: url(http://s5.cr.itc.cn/mblog/icon/60/c7/m_87838473069470171.jpg)" class="img"></i>

        </a>
	</p>
    <b class="pd jsNickBox_597586889" data-wrap="false">
        <b class="nm">
            <a title="美容小贴士" data-content='{"type":"nick","nick":"美容小贴士"}' href="http://t.sohu.com/u/597586889">美容小贴士</a>



        </b>

    </b>
</div>
	<div class="twiC">

		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">【美容健康—你不知的那些事儿】1、水果当饭吃，易贫血。2、吃豆腐，最好配海带。3、柚子味香水使女性感觉年轻6岁。4、上午的水果是金。5、老人小孩都需要吃零食。6、服中药时禁忌：葱蒜，胡椒，羊肉，狗肉，茶叶，萝卜，鱼。7、常照镜子有益健康。8、喝咖啡时别吸烟。</p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493680151"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>


	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493680151\'})');" href="javascript:void(1);"><b>转发<q>(3)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493680151', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493680151" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493680151\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">

            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493678609_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493678609_0" class="pics">

			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493678609_0',path:'http://s1.t.itc.cn/mblog/pic/20128_13_16/m_58372081194275220.jpg',ele:this,ratio:'1.008',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_58372081194275220.jpg"
					src="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_58372081194275220.jpg"
                    data-id="pic_4493678609"> </a>
                 <meta id="pic_4493678609"  url="http://s1.t.itc.cn/mblog/pic/20128_13_16/m_58372081194275220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493678609_0" class="media"></div>
	</div>
	<div class="twiT">

	<p ref="55441518" id="p_4493678609" fed="" type="" class="avt ">
		<a href="http://tdaily.t.sohu.com">
            <i title="微闻天下" data-content='{"type":"nick","nick":"微闻天下"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/60/c7/m_71406258625931679.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_55441518" data-wrap="false">
        <b class="nm">
            <a title="微闻天下" data-content='{"type":"nick","nick":"微闻天下"}' href="http://tdaily.t.sohu.com">微闻天下</a>




        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">【我国将严打医务人员从事违法人体器官移植】卫生部今日表示，将严厉打击医务人员从事违法违规人体器官移植活动，公安部近期将公布28个“黑中介”涉案的医疗机构和医务人员的名单。卫生部将配合有关部门对涉案的医疗机构和医务人员依法追究责任，构成犯罪的追究刑事责任。（中新网）</p>




<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493678609"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493678609\'})');" href="javascript:void(1);"><b>转发<q>(2)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493678609', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493678609" class="js_rp"></q></b></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493678609\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493678261_con" class="twi twiHasPic">

    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493678261_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493678261_0',path:'http://s2.t.itc.cn/mblog/pic/20128_13_16/m_62958417819158954.png',ele:this,ratio:'1.1',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s2.t.itc.cn/mblog/pic/20128_13_16/f_62958417819158954.png"
					src="http://s2.t.itc.cn/mblog/pic/20128_13_16/f_62958417819158954.png"
                    data-id="pic_4493678261"> </a>
                 <meta id="pic_4493678261"  url="http://s2.t.itc.cn/mblog/pic/20128_13_16/m_62958417819158954.png"  w="" h=""/>
            </i>
		</p>

		<div style="display: none;" id="disp_4493678261_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="448705690" id="p_4493678261" fed="" type="" class="avt ">
		<a href="http://t.sohu.com/u/448705690">
            <i title="名人在说" data-content='{"type":"nick","nick":"名人在说"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/60/c7/m_97362608986399572.png)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_448705690" data-wrap="false">

        <b class="nm">
            <a title="名人在说" data-content='{"type":"nick","nick":"名人在说"}' href="http://t.sohu.com/u/448705690">名人在说</a>
            <a target="_blank" href="/addvip"><i title="名人在说" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>

		</p>

		<p class="ugc">作家关军 ：根据《福布斯》杂志的统计，仅仅按照2004年的官方数据，北京奥运会的总体预算就已经达到了400亿美元，这超过了此前三届奥运会和刚刚闭幕的伦敦奥运会的花费总和，这也给以后的奥运会树立了一座无法超越的“标杆”。</p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493678261"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493678261\'})');" href="javascript:void(1);"><b>转发<q>(4)</q></b></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493678261', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493678261" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493678261\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493676473_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493676473_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493676473_0',path:'http://s1.t.itc.cn/mblog/pic/20128_13_16/m_38951606497153220.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_38951606497153220.jpg"
					src="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_38951606497153220.jpg"
                    data-id="pic_4493676473"> </a>

                 <meta id="pic_4493676473"  url="http://s1.t.itc.cn/mblog/pic/20128_13_16/m_38951606497153220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493676473_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="23563182" id="p_4493676473" fed="" type="" class="avt ">
		<a href="http://baoxiaoqutu.t.sohu.com">
            <i title="全球热门排行榜" data-content='{"type":"nick","nick":"全球热门排行榜"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/90/82/m_12907849385634.jpg)" class="img"></i>

        </a>
	</p>
    <b class="pd jsNickBox_23563182" data-wrap="false">
        <b class="nm">
            <a title="全球热门排行榜" data-content='{"type":"nick","nick":"全球热门排行榜"}' href="http://baoxiaoqutu.t.sohu.com">全球热门排行榜</a>



        </b>

    </b>
</div>
	<div class="twiC">

		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">小学生不懂友情，太幼稚。高中生没时间谈友情，功课太忙。大学生的友情又太虚伪，只有初中时认识的朋友可以一辈子。同意的转下！</p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493676473"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1"><a target="_blank" href="http://t.pp.cc">皮皮精灵</a></i></b>


	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493676473\'})');" href="javascript:void(1);"><b>转发<q>(6)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493676473', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493676473" class="js_rp">(3)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493676473\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">

            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493676160_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493676160_0" class="pics">

			<i class="pic picV"> <a href="javascript:void(1)"
				onclick="tw.media.showVideo({vid:'/pbEdA',ele:this})"><i
					class="iMask"><b></b> </i> <img src="http://img1.yytcdn.com/uploads/artists/270/Bb810bf190d7349459a52b85ec85c9b37.jpg"
					alt="" data-id="video_4493676160"> </a>
                <meta id="video_4493676160"  url="http://img1.yytcdn.com/uploads/artists/270/Bb810bf190d7349459a52b85ec85c9b37.jpg"  w="" h=""/>
            </i>
		<div style="display: none;" class="media" id="disp_4493676160_0"></div>
		</p>
	</div>
	<div class="twiT">

	<p ref="573811957" id="p_4493676160" fed="" type="" class="avt ">
		<a href="http://t.sohu.com/u/573811957">
            <i title="音乐发烧友" data-content='{"type":"nick","nick":"音乐发烧友"}' style="background-image: url(http://s5.cr.itc.cn/mblog/icon/60/c7/m_70632611773052735.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_573811957" data-wrap="false">
        <b class="nm">
            <a title="音乐发烧友" data-content='{"type":"nick","nick":"音乐发烧友"}' href="http://t.sohu.com/u/573811957">音乐发烧友</a>




        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">张国荣演唱的电影《胭脂扣》的主题曲，哀怨缠绵，深情凄美，配上电影中他和梅艳芳的镜头，让人想哭……这一对绝代芳华，永远怀念他们！<a class="uri" target="_blank" media="video" mediaurl="/pbEdA" data-content='{"type":"video","vid":"/pbEdA"}' href="http://t.itc.cn/pbEdA"><b>http://t.itc.cn/pbEdA</b><i class="i ivdo"></i></a></p>




<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493676160"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493676160\'})');" href="javascript:void(1);"><b>转发<q>(1)</q></b></a>
        </li><li class="tag">

            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493676160', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493676160" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493676160\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>

</div>

<div id="4493676074_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493676074_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493676074_0',path:'http://s1.t.itc.cn/mblog/pic/20128_13_9/m_36205944938215640.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s1.t.itc.cn/mblog/pic/20128_13_9/f_36205944938215640.jpg"
					src="http://s1.t.itc.cn/mblog/pic/20128_13_9/f_36205944938215640.jpg"
                    data-id="pic_4493676074"> </a>
                 <meta id="pic_4493676074"  url="http://s1.t.itc.cn/mblog/pic/20128_13_9/m_36205944938215640.jpg"  w="" h=""/>

            </i>
		</p>
		<div style="display: none;" id="disp_4493676074_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="573648314" id="p_4493676074" fed="" type="" class="avt ">
		<a href="http://movieworld.t.sohu.com">
            <i title="电影世界" data-content='{"type":"nick","nick":"电影世界"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/60/c7/m_61286156625160004.jpg)" class="img"></i>
        </a>

	</p>
    <b class="pd jsNickBox_573648314" data-wrap="false">
        <b class="nm">
            <a title="电影世界" data-content='{"type":"nick","nick":"电影世界"}' href="http://movieworld.t.sohu.com">电影世界</a>



        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">

			<b></b>
		</p>

		<p class="ugc">【人间师格】凭借《钢琴家》获得奥斯卡最佳男主角的艾德里安&#183;布洛迪，在这部影片中饰演的是一个具有悲天悯人情怀的老师。好的作品分两种，一是发现世界的极美，二是挖掘人间的极苦。这部就是后者。看海报，这眼神太吸引人了！</p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493676074"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>


	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493676074\'})');" href="javascript:void(1);"><b>转发<q></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493676074', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493676074" class="js_rp">(1)</q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493676074\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">

            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493675823_con" class="twi twiHasPic">
    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493675823_0" class="pics">

			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493675823_0',path:'http://s1.t.itc.cn/mblog/pic/20128_13_16/m_83160539273700220.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_83160539273700220.jpg"
					src="http://s1.t.itc.cn/mblog/pic/20128_13_16/f_83160539273700220.jpg"
                    data-id="pic_4493675823"> </a>
                 <meta id="pic_4493675823"  url="http://s1.t.itc.cn/mblog/pic/20128_13_16/m_83160539273700220.jpg"  w="" h=""/>
            </i>
		</p>
		<div style="display: none;" id="disp_4493675823_0" class="media"></div>
	</div>
	<div class="twiT">

	<p ref="31974554" id="p_4493675823" fed="" type="" class="avt ">
		<a href="http://shanghangwang.t.sohu.com">
            <i title="唯美爱情" data-content='{"type":"nick","nick":"唯美爱情"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/60/c7/m_49386251283510972.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_31974554" data-wrap="false">
        <b class="nm">
            <a title="唯美爱情" data-content='{"type":"nick","nick":"唯美爱情"}' href="http://shanghangwang.t.sohu.com">唯美爱情</a>




        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>
		</p>

		<p class="ugc">也许你会觉得这里的治安很让人头疼，也许你会觉得这里的气候很让人难熬，也许你会觉得这里的公交直接是一种折磨，也许你会觉得这里人们的大大咧咧不拘小节很让人受不了…</p>




<div class="twiB">
	<b class="tm" title="2012-08-13 16:20"><a target="_blank" href="http://t.sohu.com/m/4493675823"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1"><a target="_blank" href="http://t.pp.cc">皮皮精灵</a></i></b>

	<ul class="tags"><li class="tag">
            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493675823\'})');" href="javascript:void(1);"><b>转发<q></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493675823', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493675823" class="js_rp"></q></b></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493675823\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>
</div>

	</div>
</div>

<div id="4493674196_con" class="twi twiHasPic">

    <p class="twiOpt"><a title="取消关注" href="javascript:void(0);"><i class="i i162"></i></a></p>
	<div class="twiM">
		<p id="prev_4493674196_0" class="pics">
			<i class="pic"> <a
				onclick="kola('newt.timeline.Media',function(){tw.media.showImg({msgid:'4493674196_0',path:'http://s3.t.itc.cn/mblog/pic/20128_13_16/m_86150847383210220.jpg',ele:this,ratio:'1.0',w:'',h:''});},{scope:this})"
				href="javascript:void(1)"><i class="iFake nodis noDis"><i
						class="ii loading2"></i> </i> <img alt="" lazysrc="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_86150847383210220.jpg"
					src="http://s3.t.itc.cn/mblog/pic/20128_13_16/f_86150847383210220.jpg"
                    data-id="pic_4493674196"> </a>
                 <meta id="pic_4493674196"  url="http://s3.t.itc.cn/mblog/pic/20128_13_16/m_86150847383210220.jpg"  w="" h=""/>
            </i>
		</p>

		<div style="display: none;" id="disp_4493674196_0" class="media"></div>
	</div>
	<div class="twiT">
	<p ref="96495690" id="p_4493674196" fed="" type="" class="avt ">
		<a href="http://nfzm.t.sohu.com">
            <i title="南方周末" data-content='{"type":"nick","nick":"南方周末"}' style="background-image: url(http://s4.cr.itc.cn/mblog/icon/50/3a/m_13062922358732.jpg)" class="img"></i>
        </a>
	</p>
    <b class="pd jsNickBox_96495690" data-wrap="false">

        <b class="nm">
            <a title="南方周末" data-content='{"type":"nick","nick":"南方周末"}' href="http://nfzm.t.sohu.com">南方周末</a>
            <a target="_blank" href="/addvip"><i title="《南方周末》官方微博" class="p pVer"><i class="png"></i></i></a>


        </b>

    </b>
</div>
	<div class="twiC">
		<p class="wid">
			<b></b>

		</p>

		<p class="ugc">【好奇号的七分钟】“好奇号”登陆火星的方式在历史上是前所未有的。从探测器进入火星大气层，到“好奇号”的轮子触及火星表面，需要七分钟时间。这是生死攸关的七分钟，只要一件事没有做到位，那就玩完了。<a href="http://t.itc.cn/p5ubE" target="_blank" data-content='{"type":"url"}' title="http://www.infzm.com/content/79471">http://t.itc.cn/p5ubE</a></p>



<div class="twiB">
	<b class="tm" title="2012-08-13 16:19"><a target="_blank" href="http://t.sohu.com/m/4493674196"><b class="k1">3分钟前</b></a></b>
    <b class="from">通过<i class="t1">搜狐微博</i></b>

	<ul class="tags"><li class="tag">

            <a data-ca="newt_twitter_forward" class="fuc crJs_rt re_tweet" onclick="kola('newt.twitter.Twitter','tw.build({type:\'at\',msgid:\'4493674196\'})');" href="javascript:void(1);"><b>转发<q></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_comment" class="fuc crJs_rp" onclick="kola('newt.reply.Reply', function(){tw.reply.rp_show({type:'rp_show', msgid:'4493674196', ele:this})}, {scope:this})" href="javascript:void(1);"><b>评论<q id="num_4493674196" class="js_rp"></q></b></a>
        </li><li class="tag">
            <a data-ca="newt_twitter_addToFavorite" title="收藏" class="fuc crJs_fav" onclick="kola('newt.fav.Fav','tw.fav.add({msgid:\'4493674196\',ele:this})',{scope:this});" href="javascript:void(1);"><i class="i iS iCollect"></i></a>

        </li><li class="tag">
            <a data-ca="newt_twitter_plus2" class="fuc crJs_plus2" href="javascript:void(1);" title="一键评论并转发"><i class="i iPlus2"></i></a>
        </li></ul>

</div>

	</div>
</div>

                                        <div class="loading" id="showMoreLoading" style="display: none;"><em>载入中</em></div>

										<div class="twiLoad" id="showMore">
											<a href="javascript: void(0);" class="fuc" id="showMoreBtn" onclick="kola('app.exp.sohuhome.Logic', function (Logic) {Logic.showMore({liveId: 2702, count: 60});})"><b>查看更多</b><i title="signArr3" class="sign signArr3"><q>&#9671;</q><q class="k2">&#215;</q></i></a>
										</div>
                                    </div>

                                </div>
                                <!--E stream2(inc)-->
                            </div>
                        </div>
                    </div>
	                <!--N main-->
	                <!--S aside-->
					<div class="Aside">
						<div class="aside">

							<div class="ap">
								<h4><em>微精选</em></h4>
								<p class="intro"><b>为您量身定制的搜狐微博精华</b></p>
							</div>
                            <div class="ap ad ad2">  <h4><em>微活动</em></h4>  <div class="apc" style="padding:10px 16px 0">    <a href="http://t.sohu.com/event/42604" target="_blank" data-ca="smrzhd_jx"><img src="http://s3.t.itc.cn/mblog/pic/20128_13_10/23994839473085640.jpg"></a>  </div>  <div class="apb" style="padding:0 16px">    <p class="btns"><a target="_blank" href="http://t.sohu.com/event" class="fuc" data-ca="smrzhd_more_jx" ><b>更多</b>>></a><a target="_blank" href="http://t.sohu.com/event/42604" class="btn" data-ca="smrzhd_button_jx" ><b>我要参加</b></a></p>  </div></div>

                            <div class="ap newUsrLi selewinLi"><h4><em title="24小时内点击+2按钮最多的用户排行">搜狐+2达人榜</em></h4><div class="usrLi winLi"><div class="usr3"><i class="i iPx iPx1"></i><p class="avt avt32"><a href="http://yu15855332919.t.sohu.com/" target="_blank"><i class="img" style="background-image: url(&quot;http://s4.cr.itc.cn/mblog/icon/60/c7/m_04039659427710780.gif&quot;);"></i></a></p><b class="nm"><a href="http://yu15855332919.t.sohu.com/" target="_blank">正义快剑888</a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="551883278"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio bioA">点击+2：723次</q></div><div class="usr3"><i class="i iPx iPx2"></i><p class="avt avt32"><a href="http://t.sohu.com/u/653157145" target="_blank"><i class="img" style="background-image: url(&quot;http://s5.cr.itc.cn/mblog/icon/60/c7/m_03973616251164004.jpg&quot;);"></i></a></p><b class="nm"><a href="http://t.sohu.com/u/653157145" target="_blank">兰格莹莹的天</a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="653157145"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio">点击+2：532次</q></div><div class="usr3"><i class="i iPx iPx3"></i><p class="avt avt32"><a href="http://yjdcqf.t.sohu.com/" target="_blank"><i class="img" style="background-image: url(&quot;http://s4.cr.itc.cn/mblog/icon/4e/5c/m_3783445708046813.jpg&quot;);"></i></a></p><b class="nm"><a href="http://yjdcqf.t.sohu.com/" target="_blank">铅封的微博</a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="171744054"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio">点击+2：517次</q></div><div class="usr3"><i class="i iPx iPx4"></i><p class="avt avt32"><a href="http://t.sohu.com/u/263188157" target="_blank"><i class="img" style="background-image: url(&quot;http://s5.cr.itc.cn/mblog/icon/60/c7/m_05382821026016465.jpg&quot;);"></i></a></p><b class="nm"><a href="http://t.sohu.com/u/263188157" target="_blank">迷茫小胖</a><a href="http://t.sohu.com/news/vinfo" title="知名网络拍客" target="_blank"><i class="p pVer"><i class="png"></i></i></a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="263188157"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio">点击+2：396次</q></div><div class="usr3"><i class="i iPx iPx5"></i><p class="avt avt32"><a href="http://t.sohu.com/u/652594673" target="_blank"><i class="img" style="background-image: url(&quot;http://s5.cr.itc.cn/mblog/icon/60/c7/m_96251170316752004.jpg&quot;);"></i></a></p><b class="nm"><a href="http://t.sohu.com/u/652594673" target="_blank">隐者007</a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="652594673"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio">点击+2：294次</q></div><div class="usr3"><i class="i iPx iPx6"></i><p class="avt avt32"><a href="http://t.sohu.com/u/562356955" target="_blank"><i class="img" style="background-image: url(&quot;http://s5.cr.itc.cn/mblog/icon/60/c7/m_14550497261440224.jpg&quot;);"></i></a></p><b class="nm"><a href="http://t.sohu.com/u/562356955" target="_blank">大庆王子82</a></b><p class="fucs"><a title="关注" href="javascript:void(0);" class="fuc fucAdd fuc" data-follow-user="true" data-uid="562356955"><i class="add"><q class="k1"></q><q class="k2"></q></i><b>关注</b></a></p><q class="bio">点击+2：293次</q></div></div><p class="fucs2"><i class="i iPx iXhl"></i><a href="http://t.sohu.com/m/4271315893" class="fuc" target="_blank"><b>[有奖活动]做+2达人 赢奥运狐狐</b></a></p></div>

                            <div class="jsTaskPanel">

                            </div>
							<div class="ap" data-tid="1"><h4><span class="opt"><a href="javascript:void(0)" title="换一换" data-ca="newt-guesswidget-next" class="fuc js-next" onclick="appTsubjectHotRefresh(this);"> <b>换一换</b></a></span> <em>微话题</em></h4><ul class="lis "><li><a href="http://t.sohu.com/huati/14815" target="_blank" data-ca="newt_theme_changeSkin9">伦敦奥运会闭幕</a><blockquote class="pgc"><i class="sign signArr"><q>◇</q><q class="k2">◆</q></i>204个铜花瓣散开圣火缓缓熄灭,4年后相约里约</blockquote></li><li><a href="http://t.sohu.com/huati/14831" target="_blank" data-ca="newt_theme_changeSkin9">江苏男子持刀“戳”人</a></li><li><a href="http://t.sohu.com/huati/14859" target="_blank" data-ca="newt_theme_changeSkin9">崔永元炮轰长影</a><blockquote class="pgc"><i class="sign signArr"><q>◇</q><q class="k2">◆</q></i>长影,新中国电影的摇篮,变成房地产企业</blockquote></li><li><a href="http://t.sohu.com/huati/14839" target="_blank" data-ca="newt_theme_changeSkin9">保钓人士欲登岛 </a></li><li><a href="http://t.sohu.com/huati/14835" target="_blank" data-ca="newt_theme_changeSkin9">女子遭派出所所长轮奸</a></li><li><a href="http://t.sohu.com/huati/14795" target="_blank" data-ca="newt_theme_changeSkin9">围剿周克华</a></li><li><a href="http://t.sohu.com/huati/14843" target="_blank" data-ca="newt_theme_changeSkin9">一句话送给伦敦</a><blockquote class="pgc"><i class="sign signArr"><q>◇</q><q class="k2">◆</q></i>对于伦敦奥运会,有冤诉冤,不爽吐槽</blockquote></li><li><a href="http://t.sohu.com/huati/14847" target="_blank" data-ca="newt_theme_changeSkin9">梦十8连胜封王</a></li><li><a href="http://t.sohu.com/live/3360" target="_blank" data-ca="newt_theme_changeSkin9">中国38金创本土外最佳成绩</a></li><li><a href="http://t.sohu.com/huati/14851" target="_blank" data-ca="newt_theme_changeSkin9">我是左撇子我光荣</a></li></ul><script>var appTsubjectHotRefreshIsLoading = false;  function appTsubjectHotRefresh(target) { if (appTsubjectHotRefreshIsLoading) {  return; } appTsubjectHotRefreshIsLoading = true; var apEl = $(target).closest('div.ap'); $.ajax({ url: '/incManagement/freshHotTopic', type: 'POST', dataType: 'json', data: {tid: apEl.data('tid')}, success: function(data) {  $(data.data).insertBefore(apEl); apEl.remove(); }, complete: function() { appTsubjectHotRefreshIsLoading = false; }  }); }</script></div>

						</div>
					</div>
	                <!--N aside-->
				</div>

		    <!--S footer(inc)-->
		<div class="Footer">
	<div class="footer">

<div class="ap copr">

	<p class="t1"><a target="_blank" href="http://t.sohu.com/help/index.jsp">帮助信息</a> - <a target="_blank" href="http://t.sohu.com/help/index.jsp?key=help_020">联系我们</a> - <a href="http://t.sohu.com/other/advice.jsp">意见建议</a> - <a href="mailto:jubao@contact.sohu.com">举报</a> - <a target="_blank" href="http://www.sohu.com/">搜狐首页</a></p>
	<p class="t2">Copyright <b class="copy">&copy; </b>2011 Sohu.com Inc. All Rights Reserved. 搜狐公司 <a target="_blank" href="http://corp.sohu.com/s2007/copyright/">版权所有</a></p>

</div>
</div>
</div>
		<!--E footer(inc)-->

				</div>
			</div>
		</div>


<script type='text/javascript'>
	kola("newt.util.helper.Position, jquery.Core", function (Position, $) {
		var triggerCount = 0;
		Position.ViewPort.enter($("#showMoreBtn"), function (btn) {
				kola('app.exp.sohuhome.Logic', function (Logic) {
					Logic.showMore({liveId: 2702, count: 15});
				});
		});
	});
    kola('newt.left.Init', function(Init){Init.initPubFunc()});
	kola('newt.timeline.Container', function(C) {
	    new C();
	});
	kola('jquery.Core, newt.imgloader.ImgLoader',function($){
        $(function () {
            $("body").each(function () {
                tw.imgloader.scan($(this));
            });
        })
    });

	kola("newt.settings.Theme", function(Theme) {
        Theme.initPage();
    });

    kola("newt.lib.jqueryScrollTo,jquery.Core", function (scrollTo, $) {
        var queryString = location.search;
        if (queryString) {
            queryString = queryString.substr(1).split("&");
            for (var i = 0; i < queryString.length; ++i) {
                var kv = queryString[i].split("=");
                if (kv[0] == "_view") {
                    if ($.browser.msie && ( $.browser.version == "6.0"))
                        $("#t-sys").scrollTo($("#_view_" + kv[1]).position().top);
                    else {
                        $(document.body).scrollTo($("#_view_" + kv[1]).position().top);
                    }
                }
            }
        }
    });

	kola("jquery.Core", function ($) {
		if(window.isLogin == false)
		{
			/*$("[data-content], div.twiB a, i.pVer, div.Usr a, div.ep_remo p.pics a, div.ep_remo p.ugc a").closest("a").bind("mousedown", function (event) {
				$(this).removeAttr("href");
				kola('newt.ca.ca', function (CA) {
					CA.q('newt_timeline_twi');
				});
				kola("newt.util.Tool", function (Tool) {
					Tool.iNoLogin();
				});
				event.stopPropagation();
				return false;
			});*/
		}
		$(function () {
			setTimeout(function () {
				var doc = $(window);
				var clearBottomScrollTip = function () {
					$("#bottom_scrolltip").fadeOut("slow");
					if($.browser.msie && ( $.browser.version == "6.0"))
					{
						$("#t-sys").unbind("scroll click", clearBottomScrollTip);
					}
					else
					{
						doc.unbind("scroll click", clearBottomScrollTip);
					}
				};
				if($.browser.msie && ( $.browser.version == "6.0"))
				{
					$("#t-sys").bind("scroll click", clearBottomScrollTip);
				}
				else
				{
					doc.bind("scroll click", clearBottomScrollTip);
				}
			}, 1000);
		});
	});
    kola("jquery.Core, newt.util.helper.AutoFix", function ($, AutoFix) {
        $(function () {
            new AutoFix({
                target: $("div.js-auto-fixed"),
                doFix: function (target, con) {
                    $("#tagCon").append(target).addClass("TAB");
                },

                doRestore: function (target, con) {
                    con.append(target);
                    $("#tagCon").removeClass("TAB");
                }

            });
        });
    });
	//uc
	kola("sohu.cc.Cc", function(CC) {
		var twcc = new CC({
			imgName : "uc.gif"
		});
		$("#timeline").mousedown(function(event) {
			var target = $(event.target), twi = target.closest("div.twiRoot");
			if(twi.length == 0) {
				twi = target.closest("div.twi");
			}
			if(twi.length > 0) {
				twcc.q({
					from : "newt_timeline_twi",
					msgid : twi.attr("id"),
					uid: window.UID ? window.UID : ""
				});
			}
		});
	});
    kola("app.exp.sohuhome.level2.CometV3", function (Comet) {Comet.init({
		groupdId: 2702
	});});
    kola("jquery.Core", function ($) {
        $("#gotoTop a:first").bind("click", function () {
            $("#noticeTip").trigger("click");
        });
    });
    kola('app.exp.task.Task', function(T) {
        T.init({
    		useNewCometInterface: true,
    		ref: 'jingxuan'
    	});
    });

    kola("newt.cr.crEvent", function (CrEvent) {
        CrEvent.bind("tw_add_twi tw_add_rp", function (event) {
            var op= ( event.type == "tw_add_twi" ? "reply" : "comment" );
            kola("app.exp.sohuhome.service.SohuHomeWBExp", function (SohuHomeWBExp) {
                SohuHomeWBExp.sendGuideMail({
                    params: {
                        op: op
                    }
                });
            });
        });
    });


</script>
</body>

</html>